@import url('init.less');
.dataManagement {
    .inputShort {
        #canUse {
            width: 10px;
            height: 10px;
        }
    }
    .contentBody {
        .assess2Body {
            select {
                width: 120px;
            }
            margin-top: 0;
            .ztrbox {
                width: 250px;
                height: 332px;
                position: relative;
                float: left;
                .border;
                .ztreeBox {
                    height: 310px;
                    border: 0;
                    width: 100%;
                    padding:5px;
                    line-height:1.5;
                }
                input{
                    border: 1px solid #ccc;
                    line-height:28px;
                }
                input+i{
                    font-style:normal;
                }
                .treeAdd,.treeRemove{
                    position:absolute;
                    bottom:5px;
                    font-size: 30px;
                    cursor:pointer;
                    font-style:normal;
                }
                .treeAdd {
                    left: 10px;
                }
                .treeRemove {
                    right: 10px;
                }
                .chosenCategory{
                    background-color: #ccc;
                    >i{
                        background-color: #ccc;
                    }
                    >span{
                        background-color: #ccc;
                    }
                }
                a{
                    display:block;
                    line-height:28px;
                    ul{
                        padding-left: 20px;
                    }
                    i{
                        font-size:14px;
                        margin-right: 2px;
                    }
                }
            }
            .tableBox{
                width:70%;
            }
        }
    }
}
