@import url('init.less');
.dataManagement {
    .inputShort {
        #canUse {
            width: 10px;
            height: 10px;
        }
    }
    .contentBody {
        .assess2Body {
        	margin-top: 0;
            .ztrbox {
            	width: 150px;
            	height: 332px;
            	position:relative;
            	float:left;
                .ztreeBox {
                    height: 332px;
                }
                .flaticon-add{
                	position: absolute;
                	bottom:10px;
                	left:10px;
                	font-size:16px;
                	pointer:cursor;
                }
                .flaticon-cancel{
                	position:absolute;
                	bottom:10px;
                	right:10px;
                	font-size:16px;
                	pointer:cursor;
                }
            }
        }
    }
}
