@import url('./init.less');
.tem_headTable{
	border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
    tbody{
    	tr{
    		height: 40px;
    		vertical-align: top;
    		th{
    			text-align: right;
    			font-weight: normal;
    		}
    		td{
    			text-align: left;
    			padding: 0 10px;
    		}
    	}
    }
}
.useTable{
    tr,th,td{
        border: 1px solid #ccc;
        vertical-align: middle;
    }
}
// analysisSituationDetail样式
.tem_clearFloatBox{
    .after;
}
.tem_scrollBox{
    position: relative;
    overflow: auto;
}

