.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.after:after {
  display: block;
  content: '';
  clear: both;
}
.veryCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.assessmentCheck .contentHeader .addItemBtn {
  width: 130px;
  color: #50a8e7;
  float: right;
}
.assessmentCheck .contentHeader .searchBox {
  float: right;
}
.assessmentCheck .contentBody {
  padding: 0;
  padding-top: 10px;
}
.assessmentCheck .contentBody .searchButtom {
  height: 58px;
  line-height: 58px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.assessmentCheck .contentBody .tagBar {
  padding-bottom: 28px;
  position: relative;
}
.assessmentCheck .contentBody .tagBar .tag {
  position: absolute;
  display: inline-block;
  width: 160px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #50a8e7;
  background: transparent;
}
.assessmentCheck .contentBody .tagBar .tag:before {
  content: "";
  background: transparent;
  background: #d7eefb;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: scaleY(1.3) perspective(10px) rotateX(7deg);
          transform: scaleY(1.3) perspective(10px) rotateX(7deg);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  border: 1px solid #50a8e7;
  border-bottom: none;
}
.assessmentCheck .contentBody .tagBar .checkBtn {
  top: 0;
  left: 20px;
  z-index: 3;
}
.assessmentCheck .contentBody .tagBar .praticeBtn {
  top: 0;
  left: 152px;
  z-index: 2;
}
.assessmentCheck .contentBody .tagBar .historyBtn {
  top: 0;
  left: 287px;
  z-index: 1;
}
.assessmentCheck .contentBody .tagBar .chosenBtn {
  z-index: 4;
  top: 1px;
}
.assessmentCheck .contentBody .tagBar .chosenBtn:before {
  background-color: #fff;
}
.assessmentCheck .contentBody .checkBody,
.assessmentCheck .contentBody .practiceBody,
.assessmentCheck .contentBody .historyBody {
  padding: 10px 20px;
  border-top: 1px solid #50a8e7;
  position: relative;
}
.assessmentCheck .contentBody .checkBody .inputShort,
.assessmentCheck .contentBody .practiceBody .inputShort,
.assessmentCheck .contentBody .historyBody .inputShort {
  width: 47%;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}
.assessmentCheck .contentBody .checkBody .inputShort span,
.assessmentCheck .contentBody .practiceBody .inputShort span,
.assessmentCheck .contentBody .historyBody .inputShort span {
  width: 90px;
}
.assessmentCheck .contentBody .checkBody .inputShort i,
.assessmentCheck .contentBody .practiceBody .inputShort i,
.assessmentCheck .contentBody .historyBody .inputShort i {
  position: absolute;
  left: 270px;
  top: 12px;
}
.assessmentCheck .contentBody .checkBody .inputShort input,
.assessmentCheck .contentBody .practiceBody .inputShort input,
.assessmentCheck .contentBody .historyBody .inputShort input {
  margin-top: 10px;
}
.assessmentCheck .contentBody .checkBody .inputShort:nth-child(2n),
.assessmentCheck .contentBody .practiceBody .inputShort:nth-child(2n),
.assessmentCheck .contentBody .historyBody .inputShort:nth-child(2n) {
  width: 32%;
}
.assessmentCheck .contentBody .checkBody .searchBody,
.assessmentCheck .contentBody .practiceBody .searchBody,
.assessmentCheck .contentBody .historyBody .searchBody {
  float: right;
  margin-right: 20px;
}
.assessmentCheck .contentBody .checkBody .btnBox,
.assessmentCheck .contentBody .practiceBody .btnBox,
.assessmentCheck .contentBody .historyBody .btnBox {
  margin-top: 15px;
  border-top: 1px solid #50a8e7;
  display: inline-block;
  width: 100%;
}
.assessmentCheck .contentBody .checkBody .btnBox .normalBtn,
.assessmentCheck .contentBody .practiceBody .btnBox .normalBtn,
.assessmentCheck .contentBody .historyBody .btnBox .normalBtn {
  margin-left: 0;
  margin-right: 20px;
  margin-top: 20px;
}
.assessmentCheck .contentBody .checkBody .btnBox .addBtn,
.assessmentCheck .contentBody .practiceBody .btnBox .addBtn,
.assessmentCheck .contentBody .historyBody .btnBox .addBtn {
  background-image: -webkit-linear-gradient(270deg, #d7eefb 0%, #a9dbf6 100%);
  background-image: linear-gradient(-180deg, #d7eefb 0%, #a9dbf6 100%);
  width: 88px;
  float: right;
}
.assessmentCheck .contentBody .checkBody .btnBox .urgeBtn,
.assessmentCheck .contentBody .practiceBody .btnBox .urgeBtn,
.assessmentCheck .contentBody .historyBody .btnBox .urgeBtn {
  width: 88px;
}
.assessmentCheck .contentBody .checkBody .btnBox .endProgramBtn,
.assessmentCheck .contentBody .practiceBody .btnBox .endProgramBtn,
.assessmentCheck .contentBody .historyBody .btnBox .endProgramBtn {
  background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #f0f0f0 100%);
  background-image: linear-gradient(-180deg, #ffffff 0%, #f0f0f0 100%);
  border: 1px solid #cccccc;
  width: 88px;
  color: #999;
}
.assessmentCheck .contentBody .checkBody .tableBox,
.assessmentCheck .contentBody .practiceBody .tableBox,
.assessmentCheck .contentBody .historyBody .tableBox {
  width: 100%;
  padding-top: 20px;
}
.assessmentCheck .contentBody .checkBody .tableBox th,
.assessmentCheck .contentBody .practiceBody .tableBox th,
.assessmentCheck .contentBody .historyBody .tableBox th {
  background-image: -webkit-linear-gradient(270deg, #edf8fd 0%, #d7eefb 100%);
  background-image: linear-gradient(-180deg, #edf8fd 0%, #d7eefb 100%);
}
.assessmentCheck .contentBody .practiceBody,
.assessmentCheck .contentBody .historyBody {
  display: none;
}
.assessmentCheck .contentBody .infoTable .number,
.assessmentCheck .contentBody .infoTable .chargePerson,
.assessmentCheck .contentBody .infoTable .task {
  width: 15%;
}
.assessmentCheck .contentBody .infoTable .companyName {
  width: 30%;
}
.assessmentCheck .contentBody .infoTable .time {
  width: 25%;
}
.assessmentCheck .contentBody .infoTable .tableRow .deleteItem {
  margin-left: 20px;
  color: #f5a623;
}
.assessmentCheck .contentBody .finishedTable {
  display: none;
}
.assessDetail .contentHeader .backBtn {
  float: right;
}
.assessDetail .contentBody .tableBox {
  width: 100%;
}
.assessDetail .contentBody .infoTable span {
  width: 25%;
}
.assessDetail .contentBody .infoTable .tableHeader {
  height: 40px;
}
.assessDetail .contentBody .textInfo {
  font-size: 12px;
  padding: 0px 10px;
  border: 1px solid #dfe9ef;
}
.assessDetail .contentBody .textInfo h3 {
  padding-left: 10px;
  font-size: 14px;
  color: #50a8e7;
  margin-top: 12px;
  margin-bottom: 10px;
  border-left: 2px solid #50a8e7;
}
.assessDetail .contentBody .textInfo p {
  margin-bottom: 10px;
  color: #333;
}
.assessDetail .contentBody .textInfo p span {
  color: #666;
}
.assessDetail .contentBody .textInfo .halfText,
.assessDetail .contentBody .textInfo .thirdText {
  display: inline-block;
}
.assessDetail .contentBody .textInfo .halfText {
  width: 49%;
}
.assessDetail .contentBody .textInfo .thirdText {
  width: 32%;
}
.assessDetail .contentBody .textInfo .picArea {
  border-top: 1px solid #dfe9ef;
}
.assessDetail .contentBody .textInfo .picArea .picBox {
  font-size: 14px;
  color: #333;
  width: 32%;
  display: inline-block;
  text-align: center;
}
.assessDetail .contentBody .textInfo .picArea .picBox img {
  margin-top: 10px;
  width: 240px;
  height: 180px;
}
.assessDetail .contentBody .textInfo .picArea .picBox .place {
  margin-top: 10px;
  margin-bottom: 6px;
}
.addAssessment .contentHeader .backBtn {
  float: right;
}
.addAssessment .contentBody .backBtn {
  float: right;
  margin-top: 20px;
}
.addAssessment .contentBody .stateBox {
  border-top: 1px solid #50a8e7;
  margin-top: 10px;
  margin-bottom: 10px;
}
.addAssessment .contentBody .stateBox .state {
  width: 30%;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  top: -5px;
}
.addAssessment .contentBody .stateBox .state .circle {
  height: 13px;
  width: 13px;
  border-radius: 13px;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #ccc;
  position: relative;
  top: -4px;
  left: 4px;
  margin-right: 10px;
}
.addAssessment .contentBody .stateBox .state .circle:after {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  position: absolute;
  content: "";
  border: 1px solid #dfe9ef;
  top: -7px;
  left: -7px;
}
.addAssessment .contentBody .stateBox .state .chosen {
  background-color: #6db2fa;
}
.addAssessment .contentBody .assess2Body {
  margin-top: 20px;
}
.addAssessment .contentBody .assess2Body .ztreeBox {
  width: 200px;
  height: 217px;
  border: 1px solid #dfe9ef;
  float: left;
}
.addAssessment .contentBody .assess2Body .ztreeBox li a {
  height: 20px;
}
.addAssessment .contentBody .assess2Body .tableBox {
  display: block;
  float: left;
  width: 80%;
}
.addAssessment .contentBody .assess2Body .normalBtn {
  margin-top: 20px;
}
.addAssessment .contentBody .firstPage {
  margin-left: 20px;
}
.addAssessment .contentBody .firstPage select {
  width: 120px;
}
.addAssessment .contentBody .secondPage .normalBtn {
  margin-top: 20px;
}
.addAssessment .contentBody .secondPage select {
  width: 120px;
}
.addAssessment .contentBody .thirdPage {
  margin-left: 20px;
}
.addAssessment .contentBody .thirdPage u {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #333;
}
.addAssessment .contentBody .thirdPage select {
  width: 120px;
}
.addAssessment .contentBody .thirdPage .companyObject u {
  display: inline-block;
  width: 400px;
  text-decoration: none;
}
.addAssessment .contentBody .thirdPage .hide {
  width: 100px;
  text-align: left;
  display: none;
}
.addAssessment .contentBody .thirdPage .chooseLeader {
  margin-left: 55px;
}
.addAssessment .contentBody .thirdPage .chooseBox {
  display: none;
}
.addAssessment .contentBody .inputShort {
  display: inline-block;
  width: 47%;
}
.addAssessment .contentBody .inputShort span {
  width: 120px;
  margin-right: 10px;
}
.addAssessment .contentBody .inputShort i {
  position: relative;
  left: -20px;
}
.addAssessment .contentBody .inputLong {
  width: 80%;
}
.addAssessment .contentBody .inputLong select {
  width: 386px;
}
.addAssessment .contentBody .actionPerson span {
  float: left;
}
.addAssessment .contentBody .actionPerson input {
  width: 15px;
  height: 10px;
}
.addAssessment .contentBody .leftBox,
.addAssessment .contentBody .rightBox {
  width: 165px;
  min-height: 80px;
  border: 1px solid #dfe9ef;
  float: left;
}
.addAssessment .contentBody .leftBox p,
.addAssessment .contentBody .rightBox p {
  padding-left: 5px;
  line-height: 20px;
}
.addAssessment .contentBody .leftBox p:nth-child(2n),
.addAssessment .contentBody .rightBox p:nth-child(2n) {
  background-color: #dfe9ef;
}
.addAssessment .contentBody .cancel {
  width: 100px;
  margin-left: 100px;
}
.addAssessment .contentBody .nextStep {
  width: 175px;
}
.addAssessment .contentBody .iconBox {
  float: left;
  margin: 20px 20px 0px;
}
.addAssessment .contentBody .iconBox i {
  left: 0;
  font-size: 16px;
}
.addAssessment .contentBody .assessType {
  width: 80%;
}
.addAssessment .contentBody .textInfo {
  font-size: 18px;
  padding: 0px 20px;
  border: 1px solid #dfe9ef;
}
.addAssessment .contentBody .textInfo h3 {
  padding-left: 10px;
  font-size: 20px;
  color: #50a8e7;
  margin-top: 24px;
  margin-bottom: 20px;
  border-left: 2px solid #50a8e7;
}
.addAssessment .contentBody .textInfo .inputShort {
  width: 48%;
  display: inline-block;
  position: relative;
}
.addAssessment .contentBody .textInfo .inputShort span {
  width: 90px;
}
.addAssessment .contentBody .textInfo .inputShort .chooseCompany {
  display: inline-block;
  background-image: -webkit-linear-gradient(270deg, #d7eefb 0%, #a9dbf6 100%);
  background-image: linear-gradient(-180deg, #d7eefb 0%, #a9dbf6 100%);
  border: 1px solid #50a8e7;
  border-radius: 6px;
  width: 26px;
  height: 26px;
  text-align: center;
}
.addAssessment .contentBody .textInfo .inputShort .chooseCompany i {
  color: #50a8e7;
  font-size: 16px;
}
.addAssessment .contentBody .textInfo .inputShort .flaticon-small-calendar {
  font-size: 16px;
  position: absolute;
  top: 3px;
  left: 265px;
}
.addAssessment .contentBody .textInfo .seeCriteria {
  float: right;
  text-decoration: underline;
}
/*# sourceMappingURL=businessManagement.css.map */