.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.after:after {
  display: block;
  content: '';
  clear: both;
}
.veryCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
}
.admin_body {
  width: 100%;
  height: 100%;
  padding-top: 68px;
  position: relative;
}
.admin_content_table {
  border-collapse: collapse;
  min-width: 1200px;
  table-layout: fixed;
}
.admin_content_table > tbody > tr > td {
  vertical-align: top;
}
.admin_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  padding-left: 10px;
  background: #50a8e7;
  background-image: -webkit-linear-gradient(270deg, #50a8e7 3%, #1f73bb 100%);
  background-image: linear-gradient(-180deg, #50a8e7 3%, #1f73bb 100%);
  z-index: 1;
}
.admin_header .brand {
  color: white;
  line-height: 1;
}
.admin_header .brand .logo {
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
  width: 33px;
  float: left;
}
.admin_header .headerTitle {
  margin-top: 23px;
  margin-left: 10px;
  font-size: 21px;
  font-family: 'PingFangSC4fdada5c215c68';
  float: left;
  font-weight: 600;
}
.admin_header .rightBox {
  line-height: 30px;
  float: right;
  color: white;
  vertical-align: middle;
}
.admin_header .rightBox .userBox {
  cursor: pointer;
  background-color: #388ed2;
  background-image: -webkit-linear-gradient(270deg, #59ace8 0%, #388ed2 100%);
  background-image: linear-gradient(-180deg, #59ace8 0%, #388ed2 100%);
  box-shadow: 0px 0px 0px 1px rgba(29, 109, 175, 0.5);
  min-width: 167px;
  height: 34px;
  padding-left: 8px;
  padding-right: 8px;
}
.admin_header .rightBox .client,
.admin_header .rightBox .logout {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}
.admin_header .rightBox .client i,
.admin_header .rightBox .logout i {
  font-size: 12px;
  float: left;
  margin-right: 8px;
}
.admin_header .rightBox .client:after {
  content: "|";
}
.admin_header .tips {
  position: absolute;
  color: white;
  float: right;
  right: 20px;
}
.admin_header .tips span,
.admin_header .tips a {
  text-decoration: underline;
  margin-left: 15px;
  margin-right: 5px;
}
.admin_header .tips i {
  margin-left: 15px;
  font-size: 14px;
  position: relative;
  top: 1px;
  color: #a9dbf6;
}
.admin_footer {
  height: 50px;
  background-color: #50a8e7;
  padding-left: 40px;
  width: 100%;
}
.admin_footer span {
  margin-right: 33px;
  line-height: 50px;
  color: #fff;
  font-size: 12px;
}
.admin_footer .download {
  width: 50px;
  height: 50px;
  background-color: #73b9eb;
  float: right;
  margin-right: 20px;
  text-align: center;
  line-height: 50px;
}
.admin_footer .download i {
  font-size: 20px;
  color: #a9dbf6;
}
.admin_left {
  width: 200px;
  height: 100%;
  background-color: #F4F4F4;
  z-index: 0;
  overflow: auto;
  border-right: 1px solid #dddddd;
}
.admin_left .leftmenu {
  color: #333;
  height: 100%;
  width: 100%;
  background: #d7eefb;
}
.admin_left .leftmenu > div .line {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #50a8e7;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;
  cursor: pointer;
  background: #a9dbf6;
}
.admin_left .leftmenu > div .line .name {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.admin_left .leftmenu > div .line .icon {
  width: 42px;
  height: 42px;
  text-align: center;
}
.admin_left .leftmenu > div .line .markIcon {
  position: absolute;
  left: 20px;
  top: 0;
}
.admin_left .leftmenu > div .line .downIcon {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.admin_left .leftmenu > div .line .rightIcon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.admin_left .leftmenu > div .line .rightArrowBox {
  position: absolute;
  right: 16px;
  font-size: 16px;
}
.admin_left .leftmenu > div .line .rightArrowBox .flaticon-arrows-1 {
  display: none;
}
.admin_left .leftmenu > div .chosenLine {
  background-color: #50a8e7;
  color: #fff;
}
.admin_left .leftmenu > div > .submenu {
  display: none;
  background: #d7eefb;
}
.admin_left .leftmenu > div > .submenu .line {
  height: 50px;
  line-height: 50px;
  padding-left: 62px;
  background: #d7eefb;
}
.admin_left .leftmenu > div > .submenu .line:hover {
  color: #50a8e7;
}
.admin_left .leftmenu > div > .submenu .line .icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  left: 6px;
}
.admin_left .leftmenu > div > .submenu .chosen {
  background: #50a8e7;
  color: white;
}
.admin_left .leftmenu > div > .submenu .chosen:hover {
  color: #fff;
}
.admin_left .leftmenu > div > .submenu .markIcon {
  position: absolute;
  left: 46px;
  top: 0;
  font-size: 12px;
}
.admin_left .leftmenu > div.active > .line .downIcon {
  display: block;
}
.admin_left .leftmenu > div.active > .line .rightIcon {
  display: none;
}
.QR {
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -116px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  z-index: 31;
}
.QR p {
  font-size: 16px;
}
.signInBody {
  height: 100%;
  text-align: center;
  vertical-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
}
.signInBody .mainBox {
  position: absolute;
  left: 50%;
  margin-left: -486px;
  top: 50%;
  margin-top: -156px;
  width: 972px;
  height: 352px;
}
.signInBody .mainBox img {
  height: 100%;
  width: 500px;
  float: left;
}
.signInBody .mainBox .logInBox {
  color: #333;
  text-align: left;
  width: 472px;
  height: 100%;
  background-color: #fafbfd;
  background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #fafbfd 100%);
  background-image: linear-gradient(-180deg, #ffffff 0%, #fafbfd 100%);
  float: left;
  padding: 20px;
  border: 1px solid #dddddd;
}
.signInBody .mainBox .logInBox h3 {
  font-size: 16px;
}
.signInBody .mainBox .logInBox .inputBox {
  margin-top: 36px;
  margin-left: 40px;
  position: relative;
}
.signInBody .mainBox .logInBox .inputBox .title {
  font-size: 18px;
}
.signInBody .mainBox .logInBox .inputBox > input {
  height: 28px;
  width: 200px;
  padding-left: 10px;
  border: 1px solid #dddddd;
  font-size: 14px;
  color: #999;
}
.signInBody .mainBox .logInBox .inputBox > i {
  color: #999;
  position: relative;
  font-size: 24px;
  top: 2px;
}
.signInBody .mainBox .logInBox .rememberAmount {
  display: inline-block;
  font-size: 14px;
  position: relative;
  top: 4px;
}
.signInBody .mainBox .logInBox .rememberAmount .checkBox {
  display: none;
}
.signInBody .mainBox .logInBox .rememberAmount .checkBox + label {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.signInBody .mainBox .logInBox .rememberAmount .checkBox + label i {
  color: #50a8e7;
  font-size: 14px;
  position: absolute;
  top: -4px;
  display: none;
}
.signInBody .mainBox .logInBox .rememberAmount .checkBox:checked + label i {
  display: block;
}
.signInBody .mainBox .logInBox .radioBox {
  margin-left: 100px;
  margin-top: 36px;
  font-size: 14px;
}
.signInBody .mainBox .logInBox .radioBox input {
  display: none;
}
.signInBody .mainBox .logInBox .radioBox input + label {
  height: 7px;
  width: 7px;
  border-radius: 7px;
  display: inline-block;
  border: 1px solid #fff;
  background-color: #fff;
  position: relative;
  top: -4px;
  margin-right: 10px;
}
.signInBody .mainBox .logInBox .radioBox input + label:after {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  position: absolute;
  content: "";
  border: 1px solid #dddddd;
  top: -5px;
  left: -5px;
}
.signInBody .mainBox .logInBox .radioBox input:checked + label {
  background-color: #6db2fa;
}
.signInBody .mainBox .logInBox .radioBox label:nth-child(5) {
  margin-left: 40px;
}
.signInBody .mainBox .logInBox .normalBtn {
  color: #50a8e7;
  margin-left: 50px;
  margin-top: 40px;
  width: 200px;
  background-color: #a9dbf6;
  background-image: -webkit-linear-gradient(270deg, #d7eefb 0%, #a9dbf6 100%);
  background-image: linear-gradient(-180deg, #d7eefb 0%, #a9dbf6 100%);
  height: 40px;
  line-height: 38px;
  font-size: 14px;
}
.signInBody .mainBox .logInBox .companyRegister {
  margin-left: 20px;
  width: 88px;
}
.admin_content {
  position: relative;
  background-color: #fff;
}
.admin_content > .admin_content_innerBox.admin_ui_cont_bottomPadding {
  padding-bottom: 50px;
}
.admin_content > .admin_ui_cont_bottomFixed {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  padding: 5px 20px;
  border-top: 1px solid #dddddd;
  background-color: #fff;
}
.admin_ui_button_group:after {
  display: block;
  content: '';
  clear: both;
}
.admin_ui_button_group .admin_ui_button {
  float: left;
  margin: 0 8px;
}
.admin_ui_border {
  border: 1px solid #dddddd;
  background-color: #fff;
}
.admin_ui_cont {
  padding: 20px;
}
.admin_ui_padding {
  padding: 8px;
}
.admin_ui_mainColor {
  color: #f34541;
}
.admin_ui_link {
  color: #0099d3 !important;
}
.admin_ui_link:hover {
  color: #0074a0 !important;
  text-decoration: underline;
}
.admin_ui_button {
  height: 40px;
  min-width: 100px;
  text-align: center;
  padding: 13px;
  font-size: 14px;
  border: 1px solid #dddddd;
  line-height: 1;
  cursor: pointer;
}
.admin_ui_button.admin_ui_button_white {
  background-color: #fff;
  border-bottom-color: #aaaaaa;
}
.admin_ui_button.admin_ui_button_white:hover {
  background-color: #f2f2f2;
}
.admin_ui_button.admin_ui_button_green {
  background-color: #49bf67;
  border-color: #379e51;
  border-bottom-color: #2a783e;
  color: #fff;
}
.admin_ui_button.admin_ui_button_green:hover {
  background-color: #3eb05b;
}
.admin_ui_button.admin_ui_button_red {
  background-color: #f34541;
  border-color: #f01611;
  border-bottom-color: #c2100c;
  color: #fff;
}
.admin_ui_button.admin_ui_button_red:hover {
  background-color: #f12e29;
}
.admin_ui_button.admin_ui_button_yellow {
  background-color: #f8a326;
  border-color: #e48a07;
  border-bottom-color: #c2100c;
  color: #fff;
}
.admin_ui_button.admin_ui_button_yellow:hover {
  background-color: #f7990d;
}
.dropdown-menu {
  position: absolute;
  background-color: white;
  list-style: none;
  width: 170px;
  padding: 5px 0;
  top: 45px;
  right: 10px;
  border: 1px solid #dddddd;
  line-height: 23px;
  cursor: pointer;
  display: none;
}
.dropdown-menu li {
  padding: 0 10px;
}
.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
}
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #dddddd;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.dropdown-menu li:hover {
  background-color: #f34541;
  color: white;
}
.admin_ui_header {
  width: 100%;
  height: 84px;
  padding: 20px;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
}
.admin_ui_header > i {
  margin-right: 10px;
}
.admin_ui_header .maintitle {
  font-size: 28px;
  font-weight: bold;
}
.admin_ui_search {
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 10px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.mask {
  position: fixed;
  background-color: #ccc;
  opacity: 0.5;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  display: none;
}
.addAccount {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  height: 350px;
  width: 400px;
  margin-left: -200px;
  margin-top: -175px;
  z-index: 23;
}
.addAccount .header {
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  position: relative;
}
.addAccount .header i {
  position: absolute;
  right: 10px;
}
.addAccount .inputShort {
  margin-top: 20px;
  width: 100%;
}
.addAccount .inputShort span {
  width: 120px;
}
.addAccount .btnBox {
  width: 100%;
  text-align: center;
}
.admin_ui_table {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  background-color: #fff;
  text-align: left;
}
.admin_ui_table thead tr th {
  font-weight: bold;
}
.admin_ui_table tbody.admin_ui_table_hoverEffect tr .admin_ui_table_action > .iconButton {
  display: none;
}
.admin_ui_table tbody.admin_ui_table_hoverEffect tr:hover {
  background-color: rgba(243, 69, 65, 0.1);
  background-color: #f4f5f6;
}
.admin_ui_table tbody.admin_ui_table_hoverEffect tr:hover .admin_ui_table_action > .iconButton {
  display: inline-block;
}
.admin_ui_table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.admin_ui_table tr th,
.admin_ui_table tr td {
  padding: 8px;
  border: 1px solid #dddddd;
}
.admin_ui_form {
  border-collapse: collapse;
  table-layout: fixed;
}
.admin_ui_form tr th,
.admin_ui_form tr td {
  padding: 8px;
  vertical-align: top;
}
.admin_ui_form tr th {
  text-align: right;
}
.admin_ui_form tr th > span {
  display: inline-block;
  padding-top: 6px;
}
.admin_ui_leadForm {
  border-collapse: collapse;
  table-layout: fixed;
}
.admin_ui_leadForm tr th,
.admin_ui_leadForm tr td {
  padding: 8px;
  vertical-align: top;
}
.admin_ui_leadForm tr th {
  text-align: right;
}
.admin_ui_leadForm tr th > span {
  display: inline-block;
  padding-top: 6px;
}
.admin_ui_leadForm tr td {
  padding: 20px;
}
.admin_ui_leadForm tr td.admin_ui_leadForm_lead h3 {
  font-size: 21px;
  margin-bottom: 20px;
}
.admin_ui_leadForm tr td.admin_ui_leadForm_lead p {
  color: #999999;
  width: 200px;
  font-size: 12px;
}
.admin_ui_form_field {
  margin-bottom: 15px;
}
.admin_ui_name {
  font-size: 14px;
  margin-bottom: 5px;
}
.admin_ui_input {
  padding: 6px 4px;
  height: 30px;
  border: 1px solid #dddddd;
  width: 100%;
  background-color: #fff;
}
.admin_ui_separator {
  height: 0;
  width: 100%;
  margin: 20px 0;
  border-bottom: 1px solid #f7f7f7;
}
.admin_ui_input_autoCompleteBox {
  position: relative;
}
.admin_ui_input_tagBox .admin_ui_colorLabel {
  position: relative;
  overflow: hidden;
  margin-right: 4px;
}
.admin_ui_input_tagBox .admin_ui_colorLabel:after {
  display: block;
  content: '删除';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f34541;
  color: #fff;
  padding: 4px 8px;
  cursor: pointer;
}
.admin_ui_input_tagBox .admin_ui_colorLabel:hover:after {
  top: 0;
}
.admin_ui_input_autoComplete_selectBox {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 1;
  border: 1px solid #dddddd;
  border-top: none;
  background-color: #fff;
}
.admin_ui_input_autoComplete_selectBox .line {
  min-width: 100px;
  padding: 6px 4px;
  cursor: pointer;
}
.admin_ui_input_autoComplete_selectBox .line:hover {
  background-color: #f4f5f6;
}
.admin_ui_imgUpload {
  margin-bottom: 20px;
}
.admin_ui_imgUpload span:first-child {
  width: 110px;
  display: inline-block;
}
.admin_ui_imgUpload .uploadPic {
  display: none;
}
.admin_ui_imgUpload .uploadPic + label {
  position: relative;
  width: 180px;
  border: 1px solid #dddddd;
  display: inline-block;
  height: 120px;
  line-height: 118px;
  text-align: center;
  font-size: 50px;
  color: #ccc;
  font-size: 100;
  margin-right: 20px;
  cursor: pointer;
}
.admin_ui_imgUpload .uploadPic + label img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.admin_ui_imgUpload label + span {
  color: #999999;
  display: inline-block;
}
.admin_ui_imgUpload .multiPicBox img {
  width: 180px;
  height: 120px;
  margin-top: 10px;
  margin-right: 10px;
}
.admin_ui_select {
  position: relative;
  display: inline-block;
  width: 150px;
  line-height: 1;
  background-color: #fff;
}
.admin_ui_select > select {
  position: relative;
  width: 100%;
  height: 24px;
  padding: 3px 20px 3px 4px;
  border: 1px solid #dddddd;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background-color: transparent;
}
.admin_ui_select > select::-ms-expand {
  display: none;
}
.admin_ui_select > select:disabled {
  background-color: #ebebe4;
}
.admin_ui_select:before {
  position: absolute;
  right: 8px;
  top: 5px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d7";
  font-size: 14px;
}
.admin_ui_colorLabel {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1;
  background-color: #ddd;
  border-color: #c4c4c4;
  color: #333;
}
.admin_ui_colorLabel.admin_ui_colorLabel_red {
  background-color: #f34541;
  border-color: #f01611;
  color: #fff;
}
.admin_ui_colorLabel.admin_ui_colorLabel_green {
  background-color: #49bf67;
  border-color: #379e51;
  color: #fff;
}
.admin_ui_colorLabel.admin_ui_colorLabel_yellow {
  background-color: #f8a326;
  border-color: #e48a07;
  color: #fff;
}
.admin_ui_pagination {
  height: 50px;
  background-color: #fff;
  padding: 10px;
  position: relative;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.admin_ui_word {
  width: 100px;
  height: 50px;
  position: absolute;
  left: -50px;
  top: 0px;
  line-height: 50px;
  text-align: right;
}
.admin_ui_label {
  height: 33px;
  width: 400px;
  border: 1px solid #dddddd;
  font-size: 14px;
  padding-left: 7px;
  background-color: white
  /*border-radius: 5px;*/
}
.iconButton {
  margin: 0 3px;
  display: inline-block;
  cursor: pointer;
}
.iconButton.editIcon {
  color: #f8a326;
}
.iconButton.checkIcon {
  color: #379e51;
}
.iconButton.removeIcon {
  color: #f34541;
}
.bottom-search {
  position: relative;
  height: 30px;
  width: 40%;
}
.bottom-search .normalBtn {
  margin-top: 15px;
}
.page {
  position: absolute;
  right: 0%;
  top: 15px;
}
.page #Prev {
  margin-right: 4px;
}
.page #Next {
  margin-left: 4px;
}
.page > a {
  text-decoration: none;
}
.page > a > span {
  margin-right: 4px;
  padding: 4px 16px 4px 16px;
  border: 1px solid #ddd;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: 'helvetica neue', arial, sans-serif;
}
.page > a > span:hover,
.page > a > span.click_page {
  background: #ddd;
  color: #000;
}
/*# sourceMappingURL=index.css.map */