.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.after:after {
  display: block;
  content: '';
  clear: both;
}
.veryCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.staffManagement .contentHeader .normalBtn {
  float: right;
}
.staffManagement .contentHeader .manageBtn {
  background-image: -webkit-linear-gradient(270deg, #edf8fd 0%, #d7eefb 100%);
  background-image: linear-gradient(-180deg, #edf8fd 0%, #d7eefb 100%);
}
.staffManagement .contentHeader .addItemBtn {
  background-image: -webkit-linear-gradient(270deg, #d7eefb 0%, #a9dbf6 100%);
  background-image: linear-gradient(-180deg, #d7eefb 0%, #a9dbf6 100%);
}
.staffManagement .contentHeader .gobackBtn {
  background-image: -webkit-linear-gradient(270deg, #edf8fd 0%, #d7eefb 100%);
  background-image: linear-gradient(-180deg, #edf8fd 0%, #d7eefb 100%);
}
.staffManagement .contentHeader .deleteBtn {
  background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #f0f0f0 100%);
  background-image: linear-gradient(-180deg, #ffffff 0%, #f0f0f0 100%);
  color: #666666;
  border: 1px solid #ccc;
}
.staffManagement .contentHeader .deleteBtn,
.staffManagement .contentHeader .gobackBtn,
.staffManagement .contentHeader .addItemBtn {
  display: none;
}
.staffManagement .contentHeader h3 {
  display: none;
}
.staffManagement .contentBody .infoTable .number {
  width: 23%;
  position: relative;
}
.staffManagement .contentBody .infoTable .task {
  width: 23%;
}
.staffManagement .contentBody .infoTable .name {
  width: 54%;
}
.staffManagement .contentBody .infoTable .tableRow {
  color: #666666;
}
.staffManagement .contentBody .infoTable .tableRow .task {
  text-decoration: underline;
  color: #50a8e7;
}
.staffManagement .contentBody .checkBody,
.staffManagement .contentBody .practiceBody {
  padding-top: 0;
}
.staffManagement .contentBody .checkBody .btnBox,
.staffManagement .contentBody .practiceBody .btnBox {
  border-top: 0;
}
.staffManagement .contentBody .checkBody .btnBox p,
.staffManagement .contentBody .practiceBody .btnBox p {
  line-height: 50px;
  font-size: 16px;
  margin-left: 20px;
}
.staffManagement .contentBody .checkBody .btnBox .addBtn,
.staffManagement .contentBody .practiceBody .btnBox .addBtn {
  margin-top: 0;
}
.staffDetail .contentHeader h2 {
  float: right;
  margin-right: 50px;
}
.staffDetail .contentHeader .backBtn {
  float: left;
}
.staffDetail .contentBody .infoTable .number {
  width: 20%;
}
.staffDetail .contentBody .infoTable .task {
  width: 10%;
}
.staffDetail .contentBody .infoTable .name {
  width: 45%;
}
.staffDetail .contentBody .infoTable .time {
  width: 25%;
}
.staffDetail .contentBody .infoTable .tableRow {
  color: #666666;
}
.staffDetail .contentBody .infoTable .tableRow .task {
  text-decoration: underline;
  color: #50a8e7;
}
.addStaff .contentHeader .backBtn {
  float: right;
}
.addStaff .contentBody {
  text-align: left;
}
.addStaff .contentBody p {
  display: inline-block;
}
.addStaff .contentBody .confirmBtn {
  display: inline-block;
  position: relative;
  left: 50%;
  margin-left: -32px;
}
.addStaff .contentBody .inputShort {
  width: 47%;
}
.addStaff .contentBody .inputShort span {
  width: 140px;
}
.companyManagement {
  font-size: 18px;
}
.companyManagement .contentHeader .chooseSubstation {
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 4px;
  color: #666;
}
.companyManagement .contentHeader .normalBtn {
  float: right;
}
.companyManagement .contentHeader .manageBtn {
  background-image: -webkit-linear-gradient(270deg, #edf8fd 0%, #d7eefb 100%);
  background-image: linear-gradient(-180deg, #edf8fd 0%, #d7eefb 100%);
}
.companyManagement .contentHeader .addItemBtn {
  background-image: -webkit-linear-gradient(270deg, #d7eefb 0%, #a9dbf6 100%);
  background-image: linear-gradient(-180deg, #d7eefb 0%, #a9dbf6 100%);
}
.companyManagement .contentHeader .gobackBtn {
  background-image: -webkit-linear-gradient(270deg, #edf8fd 0%, #d7eefb 100%);
  background-image: linear-gradient(-180deg, #edf8fd 0%, #d7eefb 100%);
}
.companyManagement .contentHeader .deleteBtn {
  background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #f0f0f0 100%);
  background-image: linear-gradient(-180deg, #ffffff 0%, #f0f0f0 100%);
  color: #666666;
  border: 1px solid #ccc;
}
.companyManagement .contentHeader .deleteBtn,
.companyManagement .contentHeader .gobackBtn,
.companyManagement .contentHeader .addItemBtn {
  display: none;
}
.companyManagement .selectBox {
  float: left;
}
.companyManagement .searchBox {
  float: right;
  margin-bottom: 20px;
}
.companyManagement .infoTable {
  clear: both;
}
.companyManagement .infoTable .companyName {
  width: 40%;
  position: relative;
}
.companyManagement .infoTable .companyType {
  width: 15%;
}
.companyManagement .infoTable .chargePerson {
  width: 15%;
}
.companyManagement .infoTable .contactNumber {
  width: 30%;
}
.companyInfoManagement .contentHeader .updateBtn {
  float: right;
}
.companyInfoManagement .contentBody .inputShort {
  display: inline-block;
  width: 48%;
}
.companyInfoManagement .contentBody .inputShort span {
  width: 120px;
}
.companyInfoManagement .contentBody .inputShort i {
  font-style: normal;
}
.companyInfoManagement .contentBody .digitMap input {
  width: 60px;
}
.companyInfoManagement .contentBody .companyAddress {
  width: 80%;
}
.companyInfoManagement .contentBody .companyAddress input {
  width: 400px;
}
.companyInfoManagement .contentBody .companyNumber span {
  width: 200px;
}
.companyInfoManagement .contentBody .companyNumber img {
  width: 300px;
  height: 200px;
  margin-left: 20px;
}
.companyInfoManagement iframe {
  margin-left: 40px;
  margin-top: 20px;
  width: 500px;
  height: 260px;
}
.editMode .contentHeader .manageBtn,
.editMode .contentHeader .searchBox {
  display: none;
}
.editMode .contentHeader .deleteBtn,
.editMode .contentHeader .gobackBtn,
.editMode .contentHeader .addItemBtn,
.editMode .contentHeader h3 {
  display: inline-block;
}
.editMode .infoTable .tableRow .checkBox + label {
  display: inline-block;
}
/*# sourceMappingURL=infoManagement.css.map */