.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.after:after {
  display: block;
  content: '';
  clear: both;
}
.veryCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.minibar {
  width: 100%;
  padding-left: 20px;
  line-height: 32px;
  font-size: 14px;
  background-image: -webkit-linear-gradient(270deg, #f0f0f0 0%, #dddddd 100%);
  background-image: linear-gradient(-180deg, #f0f0f0 0%, #dddddd 100%);
}
.minibar i {
  margin-right: 8px;
  font-size: 20px;
  color: #999;
  position: relative;
  top: 2px;
}
.minibar .nowPlace {
  color: #d9b497;
}
.ztree li span.button.diy02_ico_open::before {
  font-family: Flaticon;
  content: "\f122";
}
.ztree li span.button.diy02_ico_close::before {
  font-family: Flaticon;
  content: "\f101";
}
.ztree li span.button.diy03_ico_docu::before {
  font-family: Flaticon;
  content: "\f110";
}
.contentHeader {
  height: 64px;
  border-bottom: 1px solid #a9dbf6;
  padding: 15px 0px 0px;
  margin: 0 20px;
}
.contentHeader h3 {
  color: #50a8e7;
  font-size: 20px;
  float: left;
  position: relative;
  top: 4px;
  width: 200px;
}
.contentHeader .headerText {
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 4px;
  color: #666;
}
.contentHeader .chosen {
  color: #50a8e7;
}
.contentBody {
  padding: 10px 20px;
}
.normalBtn {
  background-image: -webkit-linear-gradient(270deg, #edf8fd 0%, #d7eefb 100%);
  background-image: linear-gradient(-180deg, #edf8fd 0%, #d7eefb 100%);
  border: 1px solid #50a8e7;
  border-radius: 6px;
  width: 64px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  color: #50a8e7;
  margin-left: 20px;
  cursor: pointer;
  display: inline-block;
}
.backBtn {
  background: #fff;
  border: 0;
  color: #666;
  font-size: 16px;
}
.searchBox {
  width: 260px;
  border: 1px solid #50a8e7;
  height: 30px;
  border-radius: 6px;
  display: inline-block;
}
.searchBox input {
  padding: 9px 10px;
  height: 100%;
  border: 0;
  border-radius: 6px 0px 0px 6px;
}
.searchBox i {
  color: #Ccc;
  font-size: 16px;
  position: relative;
  top: 1px;
}
.searchBox span {
  float: right;
  width: 60px;
  height: 100%;
  background-color: #50a8e7;
  color: white;
  line-height: 28px;
  text-align: center;
  border-radius: 0px 4px 4px 0px;
  font-size: 14px;
}
.inputShort {
  font-size: 12px;
  width: 100%;
  margin-bottom: 20px;
}
.inputShort span {
  display: inline-block;
  width: 200px;
  text-align: right;
}
.inputShort input {
  height: 24px;
  width: 200px;
  border: 1px solid #cccccc;
  padding: 5px;
}
.infoTable {
  width: 100%;
  border-left: 1px solid #dfe9ef;
  font-size: 18px;
}
.infoTable .tableHeader {
  color: #333;
  height: 50px;
  background-image: -webkit-linear-gradient(270deg, #edf8fd 0%, #d7eefb 100%);
  background-image: linear-gradient(-180deg, #edf8fd 0%, #d7eefb 100%);
  border: 1px solid #a9dbf6;
}
.infoTable .tableHeader span {
  line-height: 48px;
  text-align: center;
  display: inline-block;
  border-right: 1px solid #dfe9ef;
}
.infoTable .tableRow {
  height: 46px;
  color: #666;
  border-bottom: 1px solid #dfe9ef;
}
.infoTable .tableRow .checkBox {
  display: none;
}
.infoTable .tableRow .checkBox + label {
  display: none;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  left: 20px;
}
.infoTable .tableRow .checkBox + label i {
  color: #50a8e7;
  font-size: 14px;
  position: absolute;
  top: -16px;
  left: 0;
  display: none;
}
.infoTable .tableRow .checkBox:checked + label i {
  display: block;
}
.infoTable .tableRow span {
  line-height: 46px;
  text-align: center;
  display: inline-block;
  border-right: 1px solid #dfe9ef;
}
.infoTable .tableRow:nth-child(2n+1) {
  background-color: #fafbfd;
}
.infoTable .tableRow .task {
  text-decoration: underline;
  color: #50a8e7;
}
.tableBox {
  display: inline-block;
}
.tableBox .tableHeader {
  height: 40px;
  background-image: -webkit-linear-gradient(270deg, #edf8fd 0%, #d7eefb 100%);
  background-image: linear-gradient(-180deg, #edf8fd 0%, #d7eefb 100%);
  border: 1px solid #a9dbf6;
  padding-top: 10px;
  padding-left: 20px;
  color: #50a8e7;
  font-size: 14px;
}
.tableBox .tableHeader i {
  font-size: 16px;
  margin-right: 10px;
}
.tableBox .tableHeader span {
  display: inline-block;
  position: relative;
  top: -2px;
}
.tableBox .dataTables_scrollBody {
  border-bottom: none;
}
.tableBox .dataTables_scrollBody thead {
  display: none;
}
.tableBox table {
  border-collapse: collapse;
}
.tableBox table .checkBox + label {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 14px;
  height: 14px;
}
.tableBox table .checkBox + label i {
  color: #50a8e7;
  font-size: 14px;
  position: absolute;
  top: -16px;
  left: 0;
  display: none;
}
.tableBox table .checkBox:checked + label i {
  display: block;
}
.tableBox table tr,
.tableBox table td,
.tableBox table th {
  border: 1px solid #dfe9ef;
  text-align: center;
  font-weight: 100;
  font-size: 12px;
}
.tableBox table tr {
  height: 36px;
}
.tableBox table tr:nth-child(2n+1) {
  background-color: #fafbfd;
}
.tableBox table td {
  position: relative;
}
.tableBox table td a {
  text-decoration: underline;
  color: #50a8e7;
}
.tableBox table th {
  position: relative;
  padding-left: 3px;
  border-bottom: 1px solid #dfe9ef !important;
}
.tableBox table th i {
  position: absolute;
  right: 1px;
  top: 10px;
  font-size: #ccc;
}
.tableBox table th select {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  text-align: center;
}
.tableBox table th select option {
  text-align: center;
}
.tableBox table th .flaticon-technology {
  font-size: 12px;
}
.tableBox table th .flaticon-sort {
  font-size: 24px;
  top: 1px;
}
/*# sourceMappingURL=public.css.map */