.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.after:after {
  display: block;
  content: '';
  clear: both;
}
.veryCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.welcome .infoHeader {
  position: relative;
  width: 100%;
  padding-right: 180px;
}
.welcome .infoHeader .normalBtn {
  position: absolute;
  right: 0;
  top: 0;
}
.welcome .leftInfo {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 120px;
  padding-right: 20px;
}
.welcome .leftInfo .flaticon-music {
  position: absolute;
  top: 5px;
  left: 130px;
}
.welcome .leftInfo .title {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #f5d2bc;
  color: #c7702b;
  font-size: 16px;
  position: absolute;
  left: 0;
}
.welcome .leftInfo .title:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 8px solid #f5d2bc;
  border-bottom: 6px solid transparent;
  position: absolute;
  top: 8px;
  right: -8px;
}
.welcome .leftInfo .scrollBox {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 26px;
  background-color: #fafbfd;
  padding-left: 30px;
  color: #333;
  font-size: 12px;
  border: 1px solid #f5d2bc;
  overflow: hidden;
}
.welcome .leftInfo .scrollBox i {
  margin-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  font-size: 16px;
}
.welcome .normalBtn {
  border-radius: 0;
  width: 180px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-size: 14px;
  float: right;
  margin-left: 0;
}
.welcome .normalBtn i {
  margin-right: 10px;
  font-size: 16px;
}
.welcome .businessTip {
  margin: 0 20px;
  padding-bottom: 20px;
  border-radius: 6px;
  margin-top: 20px;
  border: 1px solid #f5a623;
  position: relative;
}
.welcome .businessTip h3 {
  font-size: 16px;
  position: absolute;
  width: 70px;
  top: -13px;
  background-color: #fff;
  left: 20px;
  text-align: center;
}
.welcome .businessTip .tableBox {
  display: inline-block;
  margin-top: 30px;
  width: 47%;
  margin-left: 20px;
}
.welcome .businessTip .reportBox {
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  width: 47%;
  position: relative;
  padding-left: 64px;
}
.welcome .businessTip .reportBox .reportIcon {
  background-image: -webkit-linear-gradient(270deg, #edf8fd 0%, #d7eefb 100%);
  background-image: linear-gradient(-180deg, #edf8fd 0%, #d7eefb 100%);
  border: 1px solid #a9dbf6;
  width: 64px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 0;
}
.welcome .businessTip .reportBox .reportIcon i {
  color: #50a8e7;
  font-size: 16px;
}
.welcome .businessTip .reportBox .reportText {
  display: inline-block;
  width: 100%;
  background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #f3f4f5 100%);
  background-image: linear-gradient(-180deg, #ffffff 0%, #f3f4f5 100%);
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 12px;
  position: relative;
  border: 1px solid #dfe9ef;
}
.welcome .businessTip .reportBox .reportText span {
  color: #e70118;
  font-size: 14px;
}
.welcome .businessTip .reportBox .reportText .turnToReport {
  color: #50a8e7;
  text-decoration: underline;
  font-size: 14px;
}
/*# sourceMappingURL=welcome.css.map */