<div class="admin_content_innerBox" id="analysisBody">
    <div class="minibar">
        <i class="flaticon-arrows-4"></i><span>当前位置：首页 > 统计分析 > <span class="nowPlace">评估分析</span></span>
    </div>
    <div class="contentBody">
        <table class="headTable">
            <tbody>
                <tr>
                    <td>
                        统计范围：
                        <div class="admin_ui_select" style="width: 180px;">
                            <select>
                                <option>宁波市港航管理局</option>
                                <option>大榭港行管理局</option>
                                <option>北仓港行管理局</option>
                                <option>宁波市港航局市区所</option>
                                <option>宁波市港航局运政所</option>
                                <option>鄞州港航管理处</option>
                                <option>镇海港航管理所</option>
                                <option>东钱湖港航管理所</option>
                                <option>宁海港航管理处</option>
                                <option>宁波市港航局直属所</option>
                                <option>余姚港航管理处</option>
                                <option>奉化港航管理处</option>
                                <option>慈溪港航管理处</option>
                            </select>
                        </div>
                        <div class="chartConditionBox">
                            展示粒度：
                            <label for="zsld_byYear" style="margin-right: 10px;">
                                <input id="zsld_byYear" name="zsld_by" type="radio" value="year" v-model=" granularity" @click="isCustom=false">按年
                            </label>
                            <label for="zsld_bySeason" style="margin-right: 10px;">
                                <input id="zsld_bySeason" name="zsld_by" type="radio" value="quarter" v-model=" granularity">按季度
                            </label>
                            <label for="zsld_byMonth" style="margin-right: 10px;">
                                <input id="zsld_byMonth" name="zsld_by" type="radio" v-model=" granularity" value="month">按月
                            </label>
                            <label for="zsld_byCustom" style="margin-right: 10px;">
                                <input id="zsld_byCustom" name="zsld_by" type="radio" value="self" v-model="granularity">自定义
                            </label>
                            <input type="text" class="admin_ui_input datepicker" style="width: 100px;" v-model="startTime" onclick="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM'})" id="startTime">
                            <i class="fa fa-calendar"></i> -
                            <input type="text" class="admin_ui_input datepicker" style="width: 100px;" v-model="endTime" onclick="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM',maxDate:'#F{$dp.$D(\'startTime\',{M:11});}',minDate:'#F{$dp.$D(\'startTime\');}'})">
                            <i class="fa fa-calendar" id="endTime"></i>
                        </div>
                    </td>
                    <td width="14%">
                        评估标准总项：23423项
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="echartBox">
            <div id="echartLine_AccessmentAnalysis" class="echartBlock echartLine" style="width: 60%;height: 250px;"></div>
            <div id="echartPie_AccessmentAnalysis" class="echartBlock echartPie" style="width: 40%;height: 250px;"></div>
        </div>
        <div>
            <div class="tableBox" style="display: block;">
                <table>
                    <tbody>
                        <tr>
                            <th>中队名称</th>
                            <th>抽查数量</th>
                            <th>评估天数</th>
                            <th>参与人数</th>
                            <th>隐患数量</th>
                        </tr>
                        <tr>
                            <td>第二中队</td>
                            <td>8</td>
                            <td>8天</td>
                            <td>3人</td>
                            <td>6个</td>
                        </tr>
                        <tr>
                            <td>第二中队</td>
                            <td>8</td>
                            <td>8天</td>
                            <td>3人</td>
                            <td>6个</td>
                        </tr>
                        <tr>
                            <td>第二中队</td>
                            <td>8</td>
                            <td>8天</td>
                            <td>3人</td>
                            <td>6个</td>
                        </tr>
                        <tr>
                            <td>总计</td>
                            <td>12</td>
                            <td>20</td>
                            <td>8</td>
                            <td>13</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    // $.datetimepicker.setLocale('zh');
    // $(".datepicker").datetimepicker({
    //     timepicker: false,
    //     format:"Y-m-d"
    // });
});
var nowTime = new Date();
var monthName = ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"];
var quarter = ['第一季度', '第二季度', '第三季度', '第四季度'];
var nowMonth = nowTime.getMonth();
var yearName = [];
for (var i = 3; i >= 0; i--) {
    yearName.push(nowTime.getFullYear() - i + "年")
}
console.log(yearName);
var nowMonthName = monthName.slice(nowMonth + 1, 12).concat(monthName.slice(0, nowMonth + 1));
var vm = new Vue({
    el: "#analysisBody",
    data: {
        granularity: "month",
        startTime: null,
        endTime: null,
        lineData: [],
        daily: [],
        echartLine_AccessmentAnalysis_option: {},
        xName: monthName
    },
    watch: {
        granularity: function(val, oldVal) {
            if (val == "month") {
                this.xName = monthName;
                this.echartLine_AccessmentAnalysis_option.xAxis.data = this.xName;
                this.changeAll();
            } else if (val == "self" && this.startTime && this.endTime) {
                this.setTime();
                console.log('test');
            } else if (val == "quarter") {
                this.xName = quarter;
                this.echartLine_AccessmentAnalysis_option.xAxis.data = this.xName;
                this.changeAll();
            } else if (val == "year") {
                this.xName = yearName;
                this.echartLine_AccessmentAnalysis_option.xAxis.data = this.xName;
                this.changeAll();
            }
        },
        startTime: function(val, oldVal) {
            console.log((this.granularity == "self" && val && this.endTime));
            if (this.granularity == "self" && val && this.endTime) {
                console.log("text1");
                this.setTime();
            }
        },
        endTime: function(val, oldVal) {
            console.log((this.granularity == "self" && val && this.startTime));
            if (this.granularity == "self" && val && this.startTime) {
                console.log("text2");
                this.setTime();
            }
        }
    },
    computed: {
        start: function() {
            if (this.granularity == "self") {
                var date = new Date();
                if (this.startTime) {
                    date.setFullYear(this.startTime.split("-")[0]);
                    date.setMonth(this.startTime.split("-")[1] - 1);
                    return date.getTime()
                }
            } else if (this.granularity == "year") {
                return this.fixStart(3);
            } else {
                return this.fixStart(0);
            }
        },
        end: function() {
            if (this.granularity == "self") {
                var date = new Date();
                if (this.endTime) {
                    date.setFullYear(this.endTime.split("-")[0]);
                    date.setMonth(this.endTime.split("-")[1] - 1);
                    return date.getTime()
                }
            } else {
                return this.fixEnd();
            }
        }
    },
    methods: {
        fixEnd: function() {
            var time = new Date();
            time.setMonth(11);
            time.setDate(31);
            time.setHours(23);
            console.log(time.getTime());
            return time.getTime();
        },
        fixStart: function(x) {
            var time = new Date();
            var year = time.getFullYear();
            time.setFullYear(year - x)
            time.setMonth(0);
            time.setDate(1);
            time.setHours(0);
            return time.getTime();
        },
        changeData: function(name, index) {
            var self = this;
            $.post('/model', {
                "name": 'Task',
                "params['month_time_begin']": self.start,
                "params['month_time_end']": self.end,
                "params['mode']": name
            }, function(data, textStatus, xhr) {
                var msg = data.data
                var showData = [];
                if (self.granularity == "quarter") {
                    for (var i = 0; i < msg.length; i = i + 3) {
                        showData.push(parseInt(msg[i]) + parseInt(msg[i + 1]) + parseInt(msg[i + 2]))
                    }
                } else if (self.granularity == "year") {
                    for (var i = 0; i < msg.length; i = i + 12) {
                        showData.push(msg.slice(i, i + 12).reduce(function(pre, cur) {
                            return pre + cur
                        }))
                    }
                } else {
                    showData = msg
                }
                self.updateData(showData, index);
            });
        },
        emergencyData: function() {
            var self = this;
            $.post('/model', {
                "name": 'Emergency',
                "params['month_time_begin']": self.start,
                "params['month_time_end']": self.end,
            }, function(data, textStatus, xhr) {
                console.log(data);
                var msg = data.data
                var showData = [];
                var textData = [];
                if (self.granularity == "quarter") {
                    for (var i = 0; i < msg.length; i = i + 3) {
                        showData.push(parseInt(msg[i]) + parseInt(msg[i + 1]) + parseInt(msg[i + 2]))
                    }
                } else if (self.granularity == "year") {
                    for (var i = 0; i < msg.length; i = i + 12) {
                        showData.push(msg.slice(i, i + 12).reduce(function(pre, cur) {
                            return pre + cur
                        }))
                    }
                } else {
                    showData = msg
                }
                console.log(showData);
                self.updateData(showData, 3);
            });
        },
        updateData: function(data, index) {
            var self = this;
            self.echartLine_AccessmentAnalysis_option.series[index].data = data;
            self.$nextTick(function() {
                echartLine_AccessmentAnalysis.setOption(self.echartLine_AccessmentAnalysis_option);
            })
        },
        changeAll: function(save) {
            this.changeData("日常", 0, save);
            this.changeData("专项", 1, save);
            this.changeData("综合", 2, save);
            this.emergencyData(save);
        },
        setTime: function() {
            var startPoint, endPoint;
            if (this.startTime && this.endTime) {
                startPoint = this.startTime.split("-")[1] - 0;
                console.log(startPoint);
                endPoint = this.endTime.split("-")[1] - 0;
                if (startPoint > endPoint) {
                    this.xName = monthName.slice(startPoint - 1, 12).concat(monthName.slice(0, endPoint));
                } else {
                    this.xName = monthName.slice(startPoint - 1, endPoint);
                }
                console.log(endPoint);
                this.echartLine_AccessmentAnalysis_option.xAxis.data = this.xName;
                this.changeAll();
            }
        }
    },
    created: function() {
        var self = this;
        $.post('/model', {
            name: "Region",
            "row": 0
        }, function(data, textStatus, xhr) {
            if (data.state == 0) {
                vm.region = data.data;
            }
        });
        self.echartLine_AccessmentAnalysis_option = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['日常评估', '专项评估', '综合评估', '应急演练']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                name: '月份',
                type: 'category',
                boundaryGap: false,
                data: self.xName
            },
            yAxis: {
                name: '数量',
                type: 'value'
            },
            series: [{
                name: '日常评估',
                type: 'line',
                stack: '总量',
                data: self.daily
            }, {
                name: '专项评估',
                type: 'line',
                stack: '总量',
                data: [220, 182, 191, 234, 290, 330, 310, 301, 334, 201, 154, 190]
            }, {
                name: '综合评估',
                type: 'line',
                stack: '总量',
                data: [150, 232, 201, 154, 190, 330, 410, 132, 101, 134, 90, 230]
            }, {
                name: '应急演练',
                type: 'line',
                stack: '总量',
                data: [320, 332, 301, 334, 390, 330, 320, 234, 290, 330, 310, 301]
            }]
        };
        self.changeAll(1);
    },
    ready: function() {

    }
})
console.log(nowMonthName);
var echartPie_AccessmentAnalysis_option = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'horizontal',
        left: 'center',
        top: 'top',
        data: ['日常评估', '专项评估', '综合评估', '应急演练']
    },
    series: [{
        name: '项目分类',
        type: 'pie',
        radius: '55%',
        center: ['50%', '50%'],
        label: {
            normal: {
                show: true,
                position: "inside",
                formatter: "{c}",
                textStyle: {
                    color: "#fff"
                }
            }
        },
        data: [{
            value: 335,
            name: '日常评估'
        }, {
            value: 310,
            name: '专项评估'
        }, {
            value: 234,
            name: '综合评估'
        }, {
            value: 135,
            name: '应急演练'
        }]
    }],
    animation: false
};
var echartPie_AccessmentAnalysis = echarts.init(document.getElementById("echartPie_AccessmentAnalysis"));
echartPie_AccessmentAnalysis.setOption(echartPie_AccessmentAnalysis_option);



var echartLine_AccessmentAnalysis = echarts.init(document.getElementById("echartLine_AccessmentAnalysis"));
</script>
