<div class="admin_content_innerBox" id="analysisBody">
    <div class="minibar">
        <i class="flaticon-arrows-4"></i><span>当前位置：首页 > 统计分析 > <span class="nowPlace">评估分析</span></span>
    </div>
    <div class="contentBody">
        <table class="headTable">
            <tbody>
                <tr>
                    <td>
                        统计范围：
                        <div class="admin_ui_select" style="width: 180px;">
                            <select>
                                <option>宁波市港航管理局</option>
                                <option>大榭港行管理局</option>
                                <option>北仓港行管理局</option>
                                <option>宁波市港航局市区所</option>
                                <option>宁波市港航局运政所</option>
                                <option>鄞州港航管理处</option>
                                <option>镇海港航管理所</option>
                                <option>东钱湖港航管理所</option>
                                <option>宁海港航管理处</option>
                                <option>宁波市港航局直属所</option>
                                <option>余姚港航管理处</option>
                                <option>奉化港航管理处</option>
                                <option>慈溪港航管理处</option>
                            </select>
                        </div>
                        <div class="chartConditionBox">
                            展示粒度：
                            <label for="zsld_byYear" style="margin-right: 10px;">
                                <input id="zsld_byYear" name="zsld_by" type="radio" value="year" v-model=" granularity" @click="isCustom=false">按年
                            </label>
                            <label for="zsld_bySeason" style="margin-right: 10px;">
                                <input id="zsld_bySeason" name="zsld_by" type="radio" value="quarter" v-model=" granularity">按季度
                            </label>
                            <label for="zsld_byMonth" style="margin-right: 10px;">
                                <input id="zsld_byMonth" name="zsld_by" type="radio" v-model=" granularity" value="month">按月
                            </label>
                            <label for="zsld_byCustom" style="margin-right: 10px;">
                                <input id="zsld_byCustom" name="zsld_by" type="radio" value="self" v-model="granularity">自定义
                            </label>
                            <input type="text" class="admin_ui_input datepicker" style="width: 100px;" v-model="startTime">
                            <i class="fa fa-calendar"></i> -
                            <input type="text" class="admin_ui_input datepicker" style="width: 100px;" v-model="endTime">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </td>
                    <td width="14%">
                        评估标准总项：23423项
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="echartBox">
            <div id="echartLine_AccessmentAnalysis" class="echartBlock echartLine" style="width: 60%;height: 250px;"></div>
            <div id="echartPie_AccessmentAnalysis" class="echartBlock echartPie" style="width: 40%;height: 250px;"></div>
        </div>
        <div>
            <div class="tableBox" style="display: block;">
                <table>
                    <tbody>
                        <tr>
                            <th>中队名称</th>
                            <th>抽查数量</th>
                            <th>评估天数</th>
                            <th>参与人数</th>
                            <th>隐患数量</th>
                        </tr>
                        <tr>
                            <td>第二中队</td>
                            <td>8</td>
                            <td>8天</td>
                            <td>3人</td>
                            <td>6个</td>
                        </tr>
                        <tr>
                            <td>第二中队</td>
                            <td>8</td>
                            <td>8天</td>
                            <td>3人</td>
                            <td>6个</td>
                        </tr>
                        <tr>
                            <td>第二中队</td>
                            <td>8</td>
                            <td>8天</td>
                            <td>3人</td>
                            <td>6个</td>
                        </tr>
                        <tr>
                            <td>总计</td>
                            <td>12</td>
                            <td>20</td>
                            <td>8</td>
                            <td>13</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $.datetimepicker.setLocale('zh');
    $(".datepicker").datetimepicker({
        timepicker: false,
        format: "Y-m-d",
    });
});
var nowTime = new Date();
var monthName = ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"];
var nowMonth = nowTime.getMonth();
var nowMonthName = monthName.slice(nowMonth + 1, 12).concat(monthName.slice(0, nowMonth + 1));
var vm = new Vue({
    el: "#analysisBody",
    data: {
        granularity: "month",
        startTime: "",
        endTime: "",
        xName: nowMonthName,
        lineData:[]
    },
    watch: {

    },
    computed: {
        nowTime:function(){
            var time=new Date()
            return time.getTime();
        },
        oneYear:function(){
            var time=new Date()
            time.setFullYear(time.getFullYear()-1);
            return time.getTime();
        },
        start:function(){
            if (this.granularity=="self") {
                return this.startTime
            }else{
                return this.oneYear;
            }
        },
        end:function(){
            if (this.granularity=="self") {
                return this.endTime
            }else{
                return this.nowTime;
            }
        }
    },
    methods: {

    },
    created: function() {
        var self = this;
        var data = {
            models: [
            {"name":'Task',"params['month_time_begin']":self.start,"params['month_time_end']":self.end,"params['mode']":"日常"},
            {"name":'Task',"params['month_time_begin']":self.start,"params['month_time_end']":self.end,"params['mode']":"专项"},
            {"name":'Task',"params['month_time_begin']":self.start,"params['month_time_end']":self.end,"params['mode']":"综合"}
            ]
        }
        $.post('/models', data, function(data, textStatus, xhr) {
            self.lineData=data
        });
    },
    ready: function() {

    }
})
console.log(nowMonthName);
var echartPie_AccessmentAnalysis_option = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'horizontal',
        left: 'center',
        top: 'top',
        data: ['日常评估', '专项评估', '综合评估', '应急演练']
    },
    series: [{
        name: '项目分类',
        type: 'pie',
        radius: '55%',
        center: ['50%', '50%'],
        label: {
            normal: {
                show: true,
                position: "inside",
                formatter: "{c}",
                textStyle: {
                    color: "#fff"
                }
            }
        },
        data: [{
            value: 335,
            name: '日常评估'
        }, {
            value: 310,
            name: '专项评估'
        }, {
            value: 234,
            name: '综合评估'
        }, {
            value: 135,
            name: '应急演练'
        }]
    }],
    animation: false
};
var echartPie_AccessmentAnalysis = echarts.init(document.getElementById("echartPie_AccessmentAnalysis"));
echartPie_AccessmentAnalysis.setOption(echartPie_AccessmentAnalysis_option);



var echartLine_AccessmentAnalysis_option = {
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data: ['日常评估', '专项评估', '综合评估', '应急演练']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        name: '月份',
        type: 'category',
        boundaryGap: false,
        data: vm.xName
    },
    yAxis: {
        name: '数量',
        type: 'value'
    },
    series: [{
        name: '日常评估',
        type: 'line',
        stack: '总量',
        data: [120, 132, 101, 134, 90, 230, 210, 182, 191, 234, 190, 330]
    }, {
        name: '专项评估',
        type: 'line',
        stack: '总量',
        data: [220, 182, 191, 234, 290, 330, 310, 301, 334, 201, 154, 190]
    }, {
        name: '综合评估',
        type: 'line',
        stack: '总量',
        data: [150, 232, 201, 154, 190, 330, 410, 132, 101, 134, 90, 230]
    }, {
        name: '应急演练',
        type: 'line',
        stack: '总量',
        data: [320, 332, 301, 334, 390, 330, 320, 234, 290, 330, 310, 301]
    }]
};
var echartLine_AccessmentAnalysis = echarts.init(document.getElementById("echartLine_AccessmentAnalysis"));
echartLine_AccessmentAnalysis.setOption(echartLine_AccessmentAnalysis_option);
</script>
