<div class="addAssessment admin_content_innerBox" id="addAssessment3Body">
    <div class="minibar"><i class="flaticon-arrows-4"></i><span>当前位置：首页 > 评估检查 > <span class="nowPlace">新建任务</span></span>
    </div>
    <div class="admin_scrollBox">
        <div class="contentBody" style="text-align:center">
            <div class="backBtn normalBtn" style="float:right"><i class="flaticon-cancel"></i></div>
            <div class="stateBox">
                <div class="state">
                    <div class="stateBody">
                    <i class="flaticon-arrows-3"></i>
                        <i class="circle"></i>
                        <br/><span>基本信息设置</span>
                    </div>
                </div>
                <div class="state">
                    <div class="stateBody">                    <i class="flaticon-arrows-3"></i> <i class="circle"></i>
                        <br/><span>选择评估模板</span></div>
                </div>
                <div class="state">
                    <div class="stateBody">                    <i class="flaticon-arrows-3"></i> <i class="circle  chosen"></i>
                        <br/><span>确认发布</span> </div>
                </div>
            </div>
            <div class="thirdPage">
                <div class="inputShort"><span>企业类型:</span><u>{{rawData.choseCompany[0].type.name}}</u></div>
                <div class="inputShort"><span>港区:</span><u>{{rawData.choseCompany[0].area}}</u></div>
                <div class="inputShort inputLong companyObject"><span>企业对象:</span><u>{{rawData.choseCompany[0].name}}</u></div>
                <div class="inputShort assessType"><span>评估类型:</span><u>{{params.mode}}</u><span v-if="params.special" style="width:80px">— <u>{{params.special}}</u></span></div>
                <div class="inputShort inputLong"><span>创建时间:</span><u>{{time}}</u></div>
                <div class="inputShort inputLong"><span>执行中队:</span><u>{{rawData.team}}</u></div>
                <div class="actionPerson inputShort inputLong">
                    <span>执行人员:</span>
                    <div class="chooseBox">
                        <div class="person" v-for="person in rawData.teamList">
                            <input type="radio" name="person" id="person{{person.id}}" :checked="$index==0" :disabled="changeState" v-model="params.leader" :value="person.id">
                            <label for="person{{person.id}}">{{person.name}}</label>
                        </div>
                        <div class="settingBtn normalBtn" @click="changeState=false">设置负责人</div>
                        <div class="confirmBtn normalBtn">确定</div>
                    </div>
                </div>
                <br/>
                <a href="#/addAssessment2.html" class="normalBtn cancel">上一步</a>
                <a href="#/assessmentCheck.html" class="normalBtn nextStep" @click.prevent="createTask">确认生成</a>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    window.page.beforeUnload = function(hash){
        if(hash == "#/addAssessment2.html" || hash == "#/assessmentCheck.html" || confirm("未保存修改的信息，确定要离开吗？")){
            return true;
        }
        else{
            return false;
        }
    }
    var isChoose = false;
    $("#processingBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").show();
        $(".finishedTable").hide();
        $(this).addClass('chosen');
        $("#finishedBtn").removeClass('chosen');
    });
    $("#finishedBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").hide();
        $(".finishedTable").show();
        $(this).addClass('chosen');
        $("#processingBtn").removeClass('chosen');
    });
    $(".rightBox").on('click', "p", function(event) {
        $(".leftBox").append($(this));
    });
    $(".leftBox").on('click', "p", function(event) {
        $(".rightBox").append($(this));
    });
    // $(".nextStep").on('click', function(event) {
    //     event.preventDefault();
    //     console.log(vm.params);
    //     $.post('/region/createTask', vm.params, function(data, textStatus, xhr) {
    //         console.log(data);
    //         if (data.state == 0) {
    //             alert("新增成功");
    //             window.location.href = "index.html#/assessmentCheck.html";
    //         }
    //     });
    // });
    var vm = new Vue({
        el: "#addAssessment3Body",
        data: {
            params: {},
            rawData: {},
            changeState: true,
        },
        computed: {
            time: function() {
                return this.stamp2time(this.params.dead_line)
            },
            otherMember: function() {
                this.params.member = [];
                for (var i = 0; i < this.rawData.teamList.length; i++) {
                    var msg = this.rawData.teamList[i];
                    var leader = this.params.leader;
                    console.log(leader);
                    console.log(msg.id !== leader);
                    if (msg.id !== leader) {
                        this.params.member.push(msg.id)
                    }
                }
                return this.params.member
            }
        },
        methods: {
            stamp2time: function(stamp) {
                var time = new Date(stamp);
                var year = time.getFullYear();
                var month = time.getMonth() - 0 + 1;
                var hours = time.getHours();
                var minutes = time.getMinutes();
                month = month < 10 ? "0" + month : month;
                var day = time.getDate();
                day = day < 10 ? "0" + day : day;
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                var timeString = '';
                return month + "/" + day + " " + hours + ":" + minutes;
            },
            createTask: function() {
                console.log(this.params);
                var data = this.params;
                // data.title="";
                // data.member=this.arrayChange(data.member);
                // data.places=this.arrayChange(data.places);
                // data.safeties=this.arrayChange(data.safeties);
                // console.log(data.member);
                // $.post('/region/createTask', data, function(data, textStatus, xhr) {
                //     console.log(data);
                //     if (data.state == 0) {
                //         alert("新增成功");
                //         window.location.href = "index.html#/assessmentCheck.html";
                //     }
                // });
                console.log(this.otherMember);
                $.ajax({
                        url: '/region/createTask',
                        type: 'POST',
                        traditional: true,
                        data: data,
                    })
                    .done(function(data) {
                        if (data.state == 0) {
                            alert("新增成功");
                            window.location.href = "index.html#/assessmentCheck.html";
                            localStorage.removeItem("data");
                            localStorage.removeItem("params");
                        }
                    })
                    .fail(function() {
                        console.log("error");
                    })
                    .always(function() {
                        console.log("complete");
                    });

            },
            arrayChange: function(param) {
                var result = {};
                for (var x in param) {
                    y = param[x];
                    if (y instanceof Array) {
                        for (var i = 0; i < y.length; y++) {
                            result[x + '[' + i + ']'] = y[i];
                        }
                    } else {
                        result[x] = y;
                    }
                }
                return result;
            }
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            this.params = JSON.parse(localStorage.getItem("params"));
            this.rawData = JSON.parse(localStorage.getItem("data"));
            this.params.area = this.rawData.choseCompany[0].area;
        },
        ready: function() {

        }
    })
});
</script>
