<div class="companyInfoManagement admin_content_innerBox" id="addCompanyBody">
    <div class="admin_scrollBox">
        <div class="minibar"><i class="flaticon-arrows-4"></i><span>当前位置：信息管理 > 企业&账号管理 > <span class="nowPlace">新增企业</span></span>
        </div>
        <div class="contentBody">
            <div class="textInfo">
                <div class="inputShort">
                    <span>企业名称：</span>
                    <input type="text" v-model="params.name"> <i style="color:red">*</i>
                </div>
                <div class="inputShort"><span>企业类型：</span>
                    <div class="admin_ui_select" style="width: 200px">
                        <select v-model="params.type">
                            <option v-for="type in companyType" value="{{type.id}}">{{type.name}}</option>
                        </select> 
                    </div> <i style="color:red">*</i>
                </div>
                <div class="inputShort">
                    <span>企业代码：</span>
                    <input type="text" v-model="params.code"> <i style="color:red">*</i>
                </div>
                <div class="inputShort">
                    <span>港口管理部门：</span>
                    <div class="admin_ui_select" style="width: 200px">
                        <select v-model="params.region">
                            <option v-for="place in region" value="{{place.id}}">{{place.name}}</option>
                        </select>
                    </div> <i style="color:red">*</i>
                </div>
                <div class="inputShort"><span>固定电话：</span>
                    <input type="text" v-model="params.telephone"> <i style="color:red">*</i>
                </div>
                <div class="inputShort"><span>所属港区：</span>
                    <div class="admin_ui_select" style="width: 200px">
                        <select v-model="params.area">
                            <option v-for="place in area" value="{{place.name}}">{{place.name}}</option>
                        </select> 
                    </div> <i style="color:red">*</i>
                </div>
                <div class="inputShort digitMap"><span>电子地图：</span> X:
                    <input type="text" v-model="x"> — Y:
                    <input type="text" v-model="y"> </div>
                <div class="inputShort"><span>安全责任人：</span>
                    <input type="text" v-model="params.contact"> <i style="color:red">*</i>
                </div>
                <div class="inputShort"><span>用户名：</span>
                    <input type="text" v-model="params.username"> <i style="color:red">*</i>
                </div>
                <div class="inputShort"><span>密码：</span>
                    <input type="password" v-model="params.password"> <i style="color:red">*</i>
                </div>
                <div class="inputShort"><span>手机号码：</span>
                    <input type="text" v-model="params.phone"> <i style="color:red">*</i>
                </div>
                <br/>
                <div class="inputShort companyAddress"><span>企业地址：</span>
                    <input type="text" v-model="params.address"> <i style="color:red">*</i>
                </div> 
                <br/>
                <div class="inputShort companyNumber"><span>企业组织机构代码证：</span> <i style="color:red">*</i>
                    <br/>
                    <div class="picUpload">
                        <form action="/upload" class="fileForm picUpload" enctype="multipart/form-data" method="post" target="turnPage" style="margin-left:0px">
                            <input type="file" id="uploadPic" name="file" @change="upload">
                            <label for="uploadPic" id="fileBtn">
                                +
                                <img class="showPic" :src="url" />
                            </label>
                            <input type="text" name="turnUrl" class="turnUrl" style="display:none">
                            <input type="submit" value="submit" style="display:none">
                            <canvas id="uploadImg" style="display:none"></canvas>
                        </form>
                        <iframe src="" frameborder="0" id="turnPage"></iframe>
                    </div>
                </div>
                <div class="addBtn normalBtn" @click="addCompany" style="margin-left:46%">增加</div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    window.page.beforeUnload = function() {
        if (confirm("未保存修改的信息，确定要离开吗？")) {
            return true;
        } else {
            return false;
        }
    }
    $(".settingBtn").on('click', function(event) {
        event.preventDefault();
        $(".digitMap input").removeAttr('disabled');
        $(this).hide();
        $(".confirmBtn").show();
    });
    $(".confirmBtn").on('click', function(event) {
        event.preventDefault();
        $(".digitMap input").attr('disabled', "disabled");
        $(this).hide();
        $(".settingBtn").show();
    });
    $("#processingBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").show();
        $(".finishedTable").hide();
        $(this).addClass('chosen');
        $("#finishedBtn").removeClass('chosen');
    });
    $("#finishedBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").hide();
        $(".finishedTable").show();
        $(this).addClass('chosen');
        $("#processingBtn").removeClass('chosen');
    });
    var vm = new Vue({
        el: "#addCompanyBody",
        data: {
            params: {},
            x: null,
            y: null,
            url: "",
            companyType: "",
            region: "",
            area: "",
            url: ""
        },
        computed: {
            coordinate: function() {
                var place = vm.x + "+" + vm.y;
                this.params.coordinate = place;
                return place;
            }
        },
        methods: {
            upload: function(event) {
                event.preventDefault();
                console.log($(event.target)[0].files);
                var file = $(event.target)[0].files[0];
                if (!/image\/\w+/.test(file.type)) {
                    alert("必须上传图片文件");
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(e) {
                    vm.createCanvas(this.result);
                }
            },
            createCanvas: function(src) {
                var canvas = document.getElementById("uploadImg");
                var cxt = canvas.getContext('2d');
                // canvas.width = 640;
                // canvas.height = 400;
                var img = new Image();
                img.src = src;
                img.onload = function() {
                    var w = img.width;
                    var h = img.height;
                    canvas.width = w;
                    canvas.height = h;
                    cxt.drawImage(img, 0, 0);
                    var dataUrl = canvas.toDataURL("image/jpeg", 0.9);
                    $(".showPic").show().attr('src', dataUrl);
                    var blob = vm.dataURLtoBlob(dataUrl);
                    var fd = new FormData();
                    fd.append("file", blob, "1.png");
                    console.log(fd);
                    $.ajax({
                        url: "/upload",
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: fd,
                        success: function(data) {
                            vm.params.photo = data.id;
                            console.log(data);
                            vm.url = "/map/" + vm.params.photo
                            $(".showPic").show().attr('data-id', "/" + data.id);
                        }
                    });
                }
            },
            dataURLtoBlob: function(dataurl) {
                var arr = dataurl.split(','),
                    mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]),
                    n = bstr.length,
                    u8arr = new Uint8Array(n);
                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new Blob([u8arr], {
                    type: mime
                });
            },
            addCompany: function() {
                console.log(this.coordinate);
                if (!this.params.name || !this.params.password || !this.params.coordinate || !this.params.code|| !this.params.contact || !this.params.name || !this.params.region || !this.params.type || !this.params.username) {
                    alert("请完善企业信息")
                } else {
                    $.post('/region/addCompany', vm.params, function(data, textStatus, xhr) {
                        console.log(data);
                        if (data.state == 0) {
                            alert("增加成功");
                            history.back();
                        }else if(data.state==10000){
                            alert("用户名已存在")
                        }
                    });
                }

            }
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            $.post('/model', {
                name: "CompanyType",
                "row": 0
            }, function(data, textStatus, xhr) {
                console.log(data);
                if (data.state == 0) {
                    vm.companyType = data.data;
                }
            });
            $.post('/model', {
                name: "Region",
                "row": 0
            }, function(data, textStatus, xhr) {
                console.log(data);
                if (data.state == 0) {
                    vm.region = data.data;
                }
            });
            $.post('/model', {
                name: "Area",
                "row": 0
            }, function(data, textStatus, xhr) {
                console.log(data);
                if (data.state == 0) {
                    vm.area = data.data;
                }
            });
        },
        ready: function() {

        }
    })
});
</script>
