<style>
.useTable input[type="text"] {
    width: 100%;
    height: 100%;
    border: 0;
}

select {
    width: 100%;
    border: 0;
}

textarea {
    height: 70px;
    border: 0;
    width: 100%;
    line-height: 18px;
    padding: 5px;
}

label {
    margin-left: 2px;
}

.admin_ui_select {
    width: 100%;
    height: 100%;
}

.admin_ui_select:before {
    top: 12px;
}

.admin_ui_select select {
    border: 0;
    height: 100%;
}
</style>
<div class="companyInfoManagement admin_content_innerBox" id="riskManagementDetail">
    <div class="admin_scrollBox">
        <div class="minibar">
            <i class="flaticon-arrows-4"></i><span>当前位置：首页 > 评估标准管理 > 应急演练 > <span class="nowPlace">{{state?"新增应急演练规则":"应急演练规则详情"}}</span></span>
        </div>
        <div class="contentBody">
            <div class="backBtn normalBtn" style="float:right"><i class="flaticon-cancel"></i></div>
            <table class="tem_headTable useTable">
                <tbody>
                    <tr>
                        <td>分类：</td>
                        <td>
                            <div class="admin_ui_select">
                                <select name="" id="" v-model="params.category2">
                                    <option value="{{cate2}}" v-for="cate2 in ruleDetail.tree2">{{cate2}}</option>
                                </select>
                            </div>
                        </td>
                        <td>分值：</td>
                        <td>
                            <input type="text" v-model="params.score">
                        </td>
                        <td>状态：</td>
                        <td>
                            <div class="admin_ui_select">
                                <select name="" id="" v-model="params._delete">
                                    <option value="false">启用</option>
                                    <option value="true">停用</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>检查项内容：</td>
                        <td colspan="5">
                            <input type="text" v-model="params.text">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
        <div class="allSelectBtn normalBtn" style="margin-top:15px" @click="addRule">确认</div>
        <div class="urgeBtn normalBtn" style="margin-top:15px">返回</div>
    </div>
</div>
<script>
window.page.beforeUnload = function(hash) {
    if (confirm("未保存修改的信息，确定要离开吗？")) {
        return true;
    } else {
        return false;
    }
}
var vm = new Vue({
    el: "#riskManagementDetail",
    data: {
        ruleDetail: {},
        state: true,
        params: {
            category1: "1",
            delete: "false"
        },
        category2: [],
        companyType: '',


    },
    computed: {

    },
    methods: {
        addRule: function() {
            var self = this;
            console.log('test');
            if (!self.params.score) {
                alert("请输入分值")
            } else if (!self.params.text) {
                alert("请输入检查项内容")
            } else if (self.params.score>4) {
                alert("分值请小于4分")
            }  else {
                $.ajax({
                        url: '/region/editEmergencyRule',
                        type: 'POST',
                        data: self.params,
                        traditional: true
                    })
                    .done(function() {
                        console.log("success");
                        if (self.state) {
                            alert("增加成功");
                        }else{
                            alert("修改成功")
                        }
                        history.back();
                    })
            }

        },
        stamp2time: function(stamp) {
            var time = new Date(stamp);
            var year = time.getFullYear();
            var montd = time.getMontd() - 0 + 1;
            var hours = time.getHours();
            var minutes = time.getMinutes();
            montd = montd < 10 ? "0" + montd : montd;
            var day = time.getDate();
            day = day < 10 ? "0" + day : day;
            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            var timeString = '';
            return year + "-" + montd + "-" + day;
        },
        unique: function(arr) {
            var result = [],
                hash = {};
            for (var i = 0, elem;
                (elem = arr[i]) != null; i++) {
                if (!hash[elem]) {
                    result.push(elem);
                    hash[elem] = true;
                }
            }
            return result.reverse();
        },
    },
    created: function() {
        this.ruleDetail = JSON.parse(localStorage.getItem("dataParams"));
        this.params.category2 = this.ruleDetail.startAttr2;
        if (window.location.href.search("edit") !== -1) {
            this.params = JSON.parse(localStorage.getItem("ruleDetail"));
            this.state = false;
            this.params._delete = this.params._delete + "";
        }
        $.post('/model', {
            name: "CompanyType",
            "row": 0
        }, function(data, textStatus, xhr) {
            if (data.state == 0) {
                vm.companyType = data.data;
            }
        });
    },
    ready: function() {}
})
</script>
