<div class="addAssessment admin_content_innerBox" id="addAssessmentBody">
    <div class="minibar"><i class="flaticon-arrows-4"></i><span>当前位置：首页 > 应急演练 > <span class="nowPlace">新建任务</span></span>
    </div>
    <div class="admin_scrollBox">
        <div class="contentBody" style="text-align:center">
            <a class="backToBtn normalBtn" style="float:right" href="#/assessmentCheck.html?emergency"><i class="flaticon-cancel"></i></a>
            <div class="stateBox">
                <div class="state">
                    <div class="stateBody">
                        <i class="flaticon-arrows-3"></i>
                        <i class="circle chosen"></i>
                        <br/><span>基本信息设置</span>
                    </div>
                </div>
                <div class="state">
                    <div class="stateBody"> <i class="flaticon-arrows-3"></i> <i class="circle"></i>
                        <br/><span>选择评估模板</span></div>
                </div>
                <div class="state">
                    <div class="stateBody"> <i class="flaticon-arrows-3"></i> <i class="circle"></i>
                        <br/><span>确认发布</span> </div>
                </div>
            </div>
            <div class="firstPage">
                <div class="inputShort"><span>选择企业类型:</span>
                    <div class="admin_ui_select">
                        <select name="" id="" v-model="type">
                            <option value="">全部</option>
                            <option v-for="type in companyType" value="{{type.id}}">{{type.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="inputShort"><span>选择港区:</span>
                    <div class="admin_ui_select">
                        <select name="" id="" v-model="chooseArea">
                            <option value="">全部</option>
                            <option v-for="place in area" value="{{place.name}}">{{place.name}}</option>
                        </select>
                    </div>
                </div>
                <!--                 <div class="inputShort"><span>选择区域:</span>
                    <input type="checkBox" id="port" style="width:12px;height:12px;position:relative;top:2px;margin-right:2px" :true-value="1" v-model="place1">
                    <label for="port">码头</label>
                    <input type="checkBox" id="workingArea" style="width:12px;height:12px;position:relative;top:2px;margin-right:2px" :true-value="2" v-model="place2">
                    <label for="workingArea">作业区</label>
                </div> -->
                <div class="inputShort inputLong companyObject"><span>选择企业对象:</span>
                    <div class="admin_ui_select">
                        <select name="" id="" v-model="params.company" @change="setCompany">
                            <option v-for="company in companyList| filterBy typeFilter company|filterBy areaFilter company" value="{{company.id}}">{{company.name}}</option>
                        </select>
                    </div>
                </div>
                <!--                 <div class="inputShort assessType"><span>选择评估类型:</span>
                    <select name="" id="" v-model="params.mode">
                        <option value="日常评估">日常评估检查</option>
                        <option value="专项">专项评估检查</option>
                        <option value="综合评估">综合评估检查</option>
                    </select> <span v-if="params.mode=='专项'" style="width:5px">—</span>
                    <select name="" id="" v-if="params.mode=='专项'" v-model="special">
                        <option v-for="check in specialCheck" value="check">{{check}}</option>
                    </select>
                </div> -->
                <div class="inputShort inputLong"><span>选择执行时间:</span>
                    <input type="text" class="excuteTime"><i class="flaticon-small-calendar"></i></div>
                <div class="inputShort inputLong companyObject"><span>选择执行中队:</span>
                    <div class="admin_ui_select">
                        <select name="" id="" v-model="team">
                            <!-- <option v-for="team in squadron" value="{{team.name}}">{{team.name}}</option> -->
                            <option value="第一中队">第一中队</option>
                            <option value="第二中队">第二中队</option>
                            <option value="第三中队">第三中队</option>
                            <option value="第四中队">第四中队</option>
                            <option value="第五中队">第五中队</option>
                            <option value="第六中队">第六中队</option>
                        </select>
                    </div>
                </div>
                <div class="actionPerson inputShort inputLong">
                    <span>选择执行人员:</span>
                    <div class="person" v-for="person in user |filterBy teamFilter player">
                        <input type="radio" name="person" id="person{{person.id}}" :checked="$index==0" v-model="player" :value="person">
                        <label for="person{{person.id}}">{{person.name}}</label>
                    </div>
                </div>
                <br/>
                <a class="normalBtn cancel" href="#/assessmentCheck.html">取消</a>
                <a class="normalBtn nextStep" @click.prevent="saveDetail">下一步</a>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    window.page.beforeUnload = function(hash) {
        if (hash == "#/addExercise2.html") {
            return true;
        } else {
            var r = confirm("未保存修改的信息，确定要离开吗？")
            if (r == true) {
                localStorage.removeItem("dataEx");
                localStorage.removeItem("paramsEx");
                return true;
            } else {
                return false;
            }
        }
    }
    $.datetimepicker.setLocale('zh');
    $(".excuteTime").datetimepicker({
        minDate: 0,
        onChangeDateTime: function(dp, $input) {
            var d = $('.excuteTime').datetimepicker('getValue');
            vm.params.deadline = d.getTime();
            vm.deadLine = $('.excuteTime').val();
        }
    });
    $("#processingBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").show();
        $(".finishedTable").hide();
        $(this).addClass('chosen');
        $("#finishedBtn").removeClass('chosen');
    });
    $("#finishedBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").hide();
        $(".finishedTable").show();
        $(this).addClass('chosen');
        $("#processingBtn").removeClass('chosen');
    });
    // $(".actionPerson  .rightBox").on('click', "p", function(event) {
    //     $(".actionPerson  .leftBox").append($(this));
    // });
    // $(".actionPerson  .leftBox").on('click', "p", function(event) {
    //     $(".actionPerson .rightBox").append($(this));
    // });
    var vm = new Vue({
        el: "#addAssessmentBody",
        data: {
            params: {},
            url: "",
            companyType: "",
            region: "",
            area: "",
            url: "",
            type: "",
            chooseArea: "",
            companyList: [],
            specialCheck: [],
            squadron: "",
            team: "",
            user: "",
            special: "",
            teamList: [],
            deadLine: "",
            choseCompany: {},
            place1: "1",
            place2: "",
            player: ""
        },
        watch: {
            place1: function(val, oldVal) {
                console.log('test');
                console.log(oldVal);
                if (val) {
                    this.params.places.push(val);
                } else {
                    this.params.places.$remove(1);
                }
            },
            place2: function(val, oldVal) {
                console.log('test');
                if (val) {
                    this.params.places.push(val);
                } else {
                    this.params.places.$remove(2)
                }
            }
        },
        methods: {
            typeFilter: function(data) {
                var type = data.type.id + "";
                if (this.type !== "" && this.type !== type) {
                    return false;
                } else {
                    return true;
                }
            },
            areaFilter: function(data) {
                if (this.chooseArea !== "" && this.chooseArea !== data.area) {
                    return false;
                } else {
                    return true;
                }
            },
            teamFilter: function(data) {
                if (this.team == "" || (this.team !== "" && this.team !== data.squadron || data.competence !== "检查评估员")) {
                    return false;
                } else {
                    return true;
                }
            },
            pushTeam: function(data, index) {
                this.teamList.push(data);
                this.user.$remove(data);
            },
            returnUser: function(data) {
                this.teamList.$remove(data);
                this.user.push(data)
            },
            saveDetail: function(data) {
                if (!this.params.company) {
                    alert("请选择企业对象")
                } else if (!this.params.deadline) {
                    alert("请选择执行时间")
                } else if (!this.player) {
                    alert("请选择执行人员")
                } else {
                    this.params.user = this.player.id;
                    localStorage.setItem("paramsEx", JSON.stringify(this.params));
                    console.log(this.$data);
                    localStorage.setItem("dataEx", JSON.stringify(this.$data));
                    window.location.href = "#/addExercise2.html"
                }
            },
            setCompany: function() {
                vm.choseCompany = vm.companyList.filter(function(index) {
                    return index.id == vm.params.company;
                });
            }
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            if (localStorage.getItem("dataEx")) {
                self.$data = JSON.parse(localStorage.getItem("dataEx"));
                $('.excuteTime').val(self.deadLine);
            } else {
                $.post('/model', {
                    name: "CompanyType",
                    "row": 0
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.companyType = data.data;
                    }
                });
                $.post('/model', {
                    name: "Region",
                    "row": 0
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.region = data.data;
                    }
                });
                $.post('/model', {
                    name: "Area",
                    "row": 0
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.area = data.data;
                    }
                });
                $.post('/model', {
                    name: "Company",
                    "row": 0
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.companyList = data.data;
                    }
                });
                $.post('/model', {
                    name: "Region",
                    "params['my']": 1
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.specialCheck = data.data[0].special;
                    }
                });
                $.post('/model', {
                    name: "Squadron",
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.squadron = data.data;
                    }
                });
                $.post('/model', {
                    name: "User",
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.user = data.data;
                    }
                });
            }
        },
        ready: function() {

        }
    })
});
</script>
