<style>
.useTable input[type="text"] {
    width: 100%;
    height: 100%;
    border: 0;
}

select {
    width: 100%;
    border: 0;
}

textarea {
    height: 70px;
    border: 0;
    width: 100%;
    line-height: 18px;
    padding: 5px;
}
.admin_ui_select > select:disabled{
    background-color: #fff;
}
input:disabled{
    background-color: #fff;
}
textarea:disabled{
    background-color: #fff;
}
label {
    margin-left: 2px;
}

.admin_ui_select {
    width: 100%;
    height: 100%;
}

.admin_ui_select:before {
    top: 12px;
}

.admin_ui_select select {
    border: 0;
    height: 100%;
}
</style>
<div class="companyInfoManagement admin_content_innerBox" id="riskManagementDetail">
    <div class="admin_scrollBox">
        <div class="minibar">
            <i class="flaticon-arrows-4"></i><span>当前位置：
            {{showTitle}} > <span class="nowPlace">详细信息</span></span>
        </div>
        <div class="contentBody">
            <div class="backBtn normalBtn" style="float:right"><i class="flaticon-cancel"></i></div>
            <table class="tem_headTable useTable">
                <tbody>
                    <tr>
                        <td>分类一：</td>
                        <td colspan="2">
                            <div class="admin_ui_select">
                                <select name="" id="" v-model="category1" :disabled='readOnly'>
                                    <option value="{{cate1}}" v-for="cate1 in ruleDetail.tree1">{{cate1}}</option>
                                </select>
                            </div>
                        </td>
                        <td>分类二：</td>
                        <td colspan="2">
                            <div class="admin_ui_select">
                                <select name="" id="" v-model="category2" :disabled='readOnly'>
                                    <option value="{{cate2}}" v-for="cate2 in categoryList">{{cate2}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr v-show="state">
                        <td>适用的企业类型：</td>
                        <td colspan="5">
                            <label for="{{company.name}}" v-for="company in companyType">
                                <input type="checkbox" id="{{company.name}}" value="{{company.id}}" v-model="params.companyTypes" :disabled='readOnly'>{{company.name}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>检查项内容：</td>
                        <td colspan="5">
                            <input type="text" v-model="params.text" :disabled='readOnly'>
                        </td>
                    </tr>
                    <tr>
                        <td>检查项编号：</td>
                        <td colspan="5">
                            <input type="text" v-model="params.code" :disabled='readOnly'>
                        </td>
                    </tr>
                    <tr>
                        <td>是否强制执行：</td>
                        <td>
                            <div class="admin_ui_select">
                                <select name="" id="" v-model="params.must" :disabled='readOnly'>
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                        </td>
                        <td>分值</td>
                        <td>
                            <input type="text" v-model="params.score" :disabled='readOnly'>
                        </td>
                        <td>安全等级</td>
                        <td>
                            <div class="admin_ui_select">
                                <select name="" id="" v-model="params.safetyLevel" :disabled='readOnly'>
                                    <option value="一级">一级</option>
                                    <option value="二级">二级</option>
                                    <option value="三级">三级</option>
                                    <option value="四级">四级</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>执行依据：</td>
                        <td colspan="5">
                            <textarea name="" id="" v-model="params.based" :disabled='readOnly'></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>处置方式：</td>
                        <td colspan="5">
                            <textarea name="" id="" v-model="params.punishment" :disabled='readOnly'></textarea>
                        </td>
                    </tr>
                    <tr v-show="evaluateState">
                        <td>评估要点:</td>
                        <td colspan="5">
                            <textarea name="" id="" v-model="params.evaluation" :disabled='readOnly'></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
        <div class="allSelectBtn normalBtn" style="margin-top:15px" @click="addRule" v-show="!readOnly">确认</div>
        <div class="urgeBtn normalBtn" style="margin-top:15px" @click="back">返回</div>
    </div>
</div>
<script>
window.page.beforeUnload = function(hash) {
    if (vm.readOnly||confirm("未保存修改的信息，确定要离开吗？")) {
        return true;
    } else {
        return false;
    }
}
var vm = new Vue({
    el: "#riskManagementDetail",
    data: {
        ruleDetail: {},
        state: true,
        params: {
            used: true,
            companyTypes: [],
            must: 'true',
            safetyLevel: "一级"
        },
        category1: [],
        category2: [],
        companyType: '',
        readOnly:false,
        evaluateState:false,
    },
    computed: {
        categoryList: function() {
            this.params.category1 = this.category1;
            this.params.category2 = this.category2;
            return this.ruleDetail.tree2[this.category1]
        },
        showTitle:function(){
            if (this.readOnly) {
                return "在线学习 > 执行标准"
            }else if (this.evaluateState) {
                return "评估标准管理 > 评估任务预设"
            }else{
                return "评估标准管理 > 数据管理"
            }
        }
    },
    methods: {
        addRule: function() {
            var self = this;
            console.log('test');
            delete self.params.updateTime;
            console.log(self.params);
            if(!self.state){
                var types=[];
                for (var i = 0; i < self.params.companyTypes.length; i++) {
                    var msg=self.params.companyTypes[i];
                    types.push(msg.id)
                }
                self.params.companyTypes=types
            }
            if (self.state && self.params.companyTypes.length == 0) {
                alert("请选择适用的企业类型")
            } else if (!self.params.code) {
                alert("请输入检查项编号")
            } else if (!self.params.text) {
                alert("请输入检查项内容")
            } else if (!self.params.score) {
                alert("请输入分数")
            } else {
                $.ajax({
                        url: '/region/editSafety',
                        type: 'POST',
                        data: self.params,
                        traditional: true
                    })
                    .done(function() {
                        console.log("success");
                        if (self.state) {
                            alert("增加成功");
                        }else{
                            alert("修改成功")
                        }
                        
                        history.back();
                    })
            }
        },
        back:function(){
            history.back();
        },
        stamp2time: function(stamp) {
            var time = new Date(stamp);
            var year = time.getFullYear();
            var montd = time.getMontd() - 0 + 1;
            var hours = time.getHours();
            var minutes = time.getMinutes();
            montd = montd < 10 ? "0" + montd : montd;
            var day = time.getDate();
            day = day < 10 ? "0" + day : day;
            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            var timeString = '';
            return year + "-" + montd + "-" + day;
        },
        unique: function(arr) {
            var result = [],
                hash = {};
            for (var i = 0, elem;
                (elem = arr[i]) != null; i++) {
                if (!hash[elem]) {
                    result.push(elem);
                    hash[elem] = true;
                }
            }
            return result.reverse();
        },
    },
    created: function() {
        this.ruleDetail = JSON.parse(localStorage.getItem("dataParams"));
        if (window.location.href.search("edit") !== -1||window.location.href.search("read") !== -1||window.location.href.search("set") !== -1) {
            this.params = JSON.parse(localStorage.getItem("ruleDetail"));
            this.state = false;
            if (window.location.href.search("set") !== -1) {
                this.evaluateState=true
            }
            this.params.used = this.params.used + "";
            this.params.must = this.params.must + "";
        }
                    if (window.location.href.search("addSet") !== -1) {
                this.evaluateState=true
            }
        if (window.location.href.search("read") !== -1){
            this.readOnly=true;
        }
        this.category1 = this.ruleDetail.startAttr;
        this.category2 = this.ruleDetail.startAttr2;
        $.post('/model', {
            name: "CompanyType",
            "row": 0
        }, function(data, textStatus, xhr) {
            if (data.state == 0) {
                vm.companyType = data.data;
            }
        });
    },
    ready: function() {}
})
</script>
