<div class="addAssessment admin_content_innerBox dataManagement" id="analysisBody">
    <div class="minibar"><i class="flaticon-arrows-4"></i><span>当前位置：评估标准管理 > <span class="nowPlace">评估场景预设</span></span>
    </div>
    <div class="admin_scrollBox">
        <div class="contentBody">
            <div class="dataPage">
                <div class="inputShort assessType" style="width:250px"><span style="width:56px">企业类型:</span>
                    <div class="admin_ui_select" style="width: 140px;">
                        <select v-model="selectCompany">
                            <option v-for="company in companyType" value="{{company.id}}">{{company.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="inputShort assessType" style="width:620px"><span style="width:80px">选择任务类型:</span>
                    <div class="admin_ui_select" style="width:120px">
                        <select name="" id="" v-model="mode">
                            <option value="日常评估">日常评估检查</option>
                            <option value="专项评估">专项评估检查</option>
                            <option value="综合评估">综合评估检查</option>
                        </select>
                    </div> <span v-if="mode=='专项评估'" style="width:5px">—</span>
                    <div class="admin_ui_select" v-if="mode=='专项评估'" style="width:100px">
                        <select name="" id="" v-model="special">
                            <option v-for="check in specialCheck" value="{{check}}">{{check}}</option>
                            <option value="add">新增专项</option>
                        </select>
                    </div>
                    <div class="addBtn normalBtn" v-if="mode=='专项评估'&&special!='add'&&special!=''" @click="deleteSpecialEvent">删除专项</div>
                    <input type="text" v-model="addSpecial" v-if="mode=='专项评估'&special=='add'" style="width:100px">
                    <div class="addBtn normalBtn" v-if="mode=='专项评估'&&special=='add'" @click="addSpecialEvent">确认添加</div>
                    <input type="checkBox" id="canUse" v-model="showUsed">
                    <label for="canUse">只看有效</label>
                </div>
                <div class="dataOutBtn normalBtn" style="float:right" @click="export">导出数据</div>
                <div class="assess2Body">
                    <div class="ztrbox">
                        <div class="ztreeBox ztree">
                            <a class="category1" v-for="item in tree1" @click="category1Click(index,item,$index,$event)"><i class="flaticon-add-1" v-show="!state[$index]==1"></i><i class="flaticon-square" v-show="state[$index]==1"></i><span>{{item}}</span>
                            <ul class="line" v-show="state[$index]==1"><li class="category2" v-for="item2 in tree2[item]"  @click.stop="showData(item2,$event,item)"><i class="flaticon-interface"></i>{{item2}}</li></ul>
                            </a>
                            </a>
                        </div>
                        <!--                         <i class="treeAdd">+</i>
                        <i class="treeRemove">-</i> -->
                    </div>
                    <div class="tableBox">
                        <table class="dataTable compact">
                            <thead>
                                <tr>
                                    <th style="width: 40px;padding: 4px">
                                        <input type="checkBox" id="person1" class="checkBox">
                                    </th>
                                    <th width="240" style="padding: 4px" class="sorting_disabled">内容</th>
                                    <th style="width: 40px;" :class="classList[rankState]" @click="rankOrder">等级</th>
                                    <th style="width: 60px;" :class="classList[forceState]" @click="forceOrder">强制执行</th>
                                    <th style="width: 100px;padding: 4px" class="sorting_disabled">更新时间</th>
                                    <th style="width: 100px;" :class="classList[currentState]" @click='currentOrder'>当前状态</th>
                                    <th style="width: 80px;padding: 4px" class="sorting_disabled">操作</th>
                                </tr>
                            </thead>
                            <tr v-for="rule in rules|filterBy usedFilter rule |limitBy recordLimit startPoint">
                                <td>
                                    <input type="checkBox" id="person1" class="checkBox" data-id={{rule.id}}>
                                </td>
                                <td style="text-align:left"><span style="width: 240px" class="ellipsis" title="{{rule.text}}">{{rule.text}}</span></td>
                                <td>{{rule.safetyLevel}}</td>
                                <td>{{rule.must?"是":""}}</td>
                                <td>{{rule.updateTime}}</td>
                                <td>{{rule.used?"启用":"禁用"}}</td>
                                <td><a href="#/addRules.html?set" @click="saveDetail(rule)">查看</a> </td>
                            </tr>
                        </table>
                        <div class="bottom-search" style="width:100%">
                            <div class="allSelectBtn normalBtn" style="margin-top:15px">全选</div>
                            <div class="urgeBtn normalBtn" style="margin-top:15px" @click="updateState(false)">启用</div>
                            <div class="urgeBtn normalBtn" style="margin-top:15px" @click="updateState(true)">禁用</div>
                            <div class="page"><a href="javascript:void(0)" @click="prevPage"><span id="Prev">« 上一页</span></a>
                                <a href="javascript:void(0)" v-for="n in pageNum" v-show="showPageTag(n)">
                                    <span @click="turnPage(n)" class="{{(n+1==pageIndex?'click_page':'normalPage')}}"> {{n+1}} </span>
                                </a>
                                <a href="javascript:void(0)" @click="nextPage">
                                    <span id="Next">下一页 »</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    // TablePage("table", 10);
    $("th .checkBox").on('click', function(event) {
        if ($(this).prop('checked')) {
            $("td .checkBox").prop("checked", true);
        } else {
            $("td .checkBox").prop("checked", false);
        }
    });
    $(".admin_content_table").on('click', ".allSelectBtn", function(event) {
        $("td .checkBox").prop("checked", true);
    });
    $("#processingBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").show();
        $(".finishedTable").hide();
        $(this).addClass('chosen');
        $("#finishedBtn").removeClass('chosen');
    });
    $("#finishedBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").hide();
        $(".finishedTable").show();
        $(this).addClass('chosen');
        $("#processingBtn").removeClass('chosen');
    });
    $(".rightBox").on('click', "p", function(event) {
        $(".leftBox").append($(this));
    });
    $(".leftBox").on('click', "p", function(event) {
        $(".rightBox").append($(this));
    });
    var vm = new Vue({
        el: "#analysisBody",
        data: {
            state: [1],
            rules: [],
            companyList: [],
            companyName: "",
            createTimeList: [],
            createTime: "",
            risks: {},
            category: {},
            recordLimit: 7,
            pageIndex: 1,
            startAttr: "",
            startAttr2: "",
            rawData: [],
            mode: "日常评估",
            addSpecial: '',
            special: "",
            specialCheck: [],
            selectCompany: 3,
            tree1: [],
            tree2: {},
            companyType: [],
            tree2: {},
            showUsed: false,
            chosenList: [],
            rankState: 0,
            forceState: 0,
            currentState: 0,
            classList: ['sorting', 'sorting_desc', 'sorting_asc']
        },
        watch: {
            selectCompany: function(val, oldVal) {
                var self = this;
                $.post('/region/getSpecial', {
                    companyType: val,
                }, function(data, textStatus, xhr) {
                    if (data.state == 0) {
                        self.specialCheck = data.data;
                    }
                });
                self.updateData();
            },
            mode: function(val, oldVal) {
                var self = this;
                if (self.mode != "专项评估" || self.special != "") {
                    self.updateData();
                }
            },
            special: function(val, oldVal) {
                if (val !== "add") {
                    var self = this;
                    self.updateData();
                }

            }

        },
        computed: {
            startPoint: function() {
                return (this.pageIndex - 1) * 7
            },
            pageNum: function() {
                return Math.ceil(this.rules.length / this.recordLimit)
            },
        },
        methods: {
            compare: function(propertyName, state) {
                console.log(propertyName);
                console.log(state);
                return function(object1, object2) {
                    var value1 = object1[propertyName];
                    var value2 = object2[propertyName];
                    if (value2 < value1) {
                        return -1 * state;
                    } else if (value2 > value1) {
                        return 1 * state;
                    } else {
                        return 0 * state;
                    }
                }
            },
            rankOrder: function() {
                var self = this;
                this.rankState !== 1 ? this.rankState = 1 : this.rankState = 2;
                this.forceState = 0;
                this.currentState = 0;
                this.rules = this.rules.sort(self.compare("level", self.rankState == 1 ? -1 : 1))
            },
            forceOrder: function() {
                var self = this;
                this.forceState !== 1 ? this.forceState = 1 : this.forceState = 2;
                this.rankState = 0;
                this.currentState = 0;
                this.rules = this.rules.sort(self.compare("must", self.forceState == 1 ? -1 : 1))
            },
            currentOrder: function() {
                var self = this;
                this.currentState !== 1 ? this.currentState = 1 : this.currentState = 2;
                this.forceState = 0;
                this.rankState = 0;
                this.rules = this.rules.sort(self.compare("used", self.currentState == 1 ? -1 : 1))
            },
            rulesDetail: function(data) {
                var category = {};
                var category2 = [];
                var tree1 = [];
                var tree2 = {};
                for (var i = 0; i < data.length; i++) {
                    data[i].updateTime = this.stamp2time(data[i].in_time)
                    switch (data[i].safetyLevel) {
                        case '一级':
                            data[i].level = 1;
                            break;
                        case '二级':
                            data[i].level = 2;
                            break;
                        case '三级':
                            data[i].level = 3;
                            break;
                        case '四级':
                            data[i].level = 4;
                            break;
                    }
                    if (i == 0) {
                        vm.startAttr = data[i].category1;
                        vm.startAttr2 = data[i].category2;
                    }
                    if (!category[data[i].category1]) {
                        tree1.push(data[i].category1)
                        tree2[data[i].category1] = []
                        tree2[data[i].category1].push(data[i].category2);
                        category[data[i].category1] = {}
                        category[data[i].category1][data[i].category2] = [];
                        category[data[i].category1][data[i].category2].push(data[i]);
                    } else {
                        if (!category[data[i].category1][data[i].category2]) {
                            tree2[data[i].category1].push(data[i].category2);
                            category[data[i].category1][data[i].category2] = [];
                            category[data[i].category1][data[i].category2].push(data[i]);
                        } else {
                            category[data[i].category1][data[i].category2].push(data[i]);
                        }
                    }
                }
                for (var i = 0; i < vm.category.length; i++) {
                    vm.state[i] = 1;
                    vm.state.$set(i, 1);
                }
                console.log(category);
                vm.rules = vm.rawData;
                this.tree1 = tree1;
                this.tree2 = tree2;
                this.category = category;
            },
            export: function() {
                var self=this;
                var params={
                    companyType:self.selectCompany,
                    mode:self.mode,
                    special:self.special
                }
                $.post('/region/exportSafety',params, function(data) {
                    if (data.state == 0) {
                        window.location.href = ("/" + data.data)
                    } else {
                        alert(data.state)
                    }
                });
            },
            usedFilter: function(data) {
                if (this.showUsed && !data.used) {
                    return false
                } else {
                    return true;
                }
            },
            updateState: function(state) {
                var self = this;
                self.getChosenList();
                if (self.chosenList.length > 0) {
                    if (self.mode != "专项评估" || (self.mode == "专项评估" && self.special && self.special != "add")) {
                        $.ajax({
                                url: '/region/disableSafetys',
                                type: 'POST',
                                data: {
                                    safety: self.chosenList,
                                    delete: state,
                                    mode: self.mode,
                                    special: self.special
                                },
                                traditional: true
                            })
                            .done(function(data) {
                                if (data.state == 0) {
                                    if (state) {
                                        alert("禁用成功")
                                    } else {
                                        alert("启用成功")
                                    }
                                    self.updateData();
                                }
                            })
                    } else {
                        alert("请选择对应的专项")
                    }
                } else {
                    if (self.state) {
                        alert("请选择启用项")
                    } else {
                        alert("请选择禁用项")
                    }
                }
            },
            getChosenList: function() {
                var self = this;
                self.chosenList = [];
                $("td>.checkBox:checked").each(function(index, el) {
                    console.log($(el).attr('data-id'));
                    self.chosenList.push($(el).attr('data-id'));
                });
            },
            showData: function(item2, event, item1) {
                this.rules = this.category[item1][item2];
                this.pageIndex = 1;
                $(".category2").removeClass('chosenCategory');
                $(".category1").removeClass('chosenCategory');
                if ($(event.target).parent("li").length == 0) {
                    $(event.target).addClass('chosenCategory');
                } else {
                    $(event.target).parent("li").addClass('chosenCategory');
                }
                this.startAttr2 = item2;
            },
            stateChange: function(index) {},
            stamp2time: function(stamp) {
                var time = new Date(stamp);
                var year = time.getFullYear();
                var month = time.getMonth() - 0 + 1;
                var hours = time.getHours();
                var minutes = time.getMinutes();
                month = month < 10 ? "0" + month : month;
                var day = time.getDate();
                day = day < 10 ? "0" + day : day;
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                var timeString = '';
                return month + "/" + day + " " + hours + ":" + minutes;
            },
            dayPeriodCompute: function(startTime, endTime) {
                var nowTime = new Date(startTime);
                var theTime = new Date(endTime);
                return theTime.getDate() - nowTime.getDate();
            },
            updateData: function() {
                var self = this;
                var data = {
                    name: "SafeRule",
                    rows: 0,
                    "params['companyType']": self.selectCompany,
                    "params['mode']": self.mode
                }
                if (self.special && self.special !== "add") {
                    data["params['special']"] = self.special
                }
                $.post('/model', data, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.rawData = data.data
                        vm.rulesDetail(data.data)
                    }
                });
            },
            unique: function(arr) {
                var result = [],
                    hash = {};
                for (var i = 0, elem;
                    (elem = arr[i]) != null; i++) {
                    if (!hash[elem]) {
                        result.push(elem);
                        hash[elem] = true;
                    }
                }
                return result.reverse();
            },
            prevPage: function() {
                if (this.pageIndex - 1 > 0) {
                    this.pageIndex = this.pageIndex - 1;
                }
            },
            nextPage: function() {
                if (this.pageIndex + 1 <= this.pageNum) {
                    this.pageIndex = this.pageIndex + 1;
                }
            },
            turnPage: function(data) {
                vm.pageIndex = data + 1;
            },
            clickPageFilter: function(data) {
                if (data + 1 == vm.pageIndex) {
                    return true;
                } else {
                    return false;
                }
            },
            showPageTag: function(data) {
                if (data == this.pageNum - 1 || data == 0 || ((data - this.pageIndex) < 1) && (data - this.pageIndex) >= -2) {
                    return true
                } else {
                    return false
                }
            },
            saveDetail: function(data) {
                localStorage.setItem("ruleDetail", JSON.stringify(data));
                localStorage.setItem("dataParams", JSON.stringify(this.$data));
            },
            category1Click: function(index, item, $index, event) {
                var self = this;
                console.log('test');
                $(".category2").removeClass('chosenCategory');
                $(".category1").removeClass('chosenCategory');
                for (var i = 0; i < self.state.length; i++) {
                    self.state.$set(i, 0);
                }
                if ($(event.target).parent("a").length == 0) {
                    $(event.target).addClass('chosenCategory');
                } else {
                    $(event.target).parent("a").addClass('chosenCategory');
                }
                self.state.$set($index, 1);
                self.startAttr = item;
                this.rules = this.rawData.filter(function(index) {
                    return index.category1 == item;
                });
            },
            addTreeNode: function() {
                $(".ztrbox input,.addConfirm").remove();
                console.log($(".chosenCategory span").text());
                if (!this.tree2[$(".chosenCategory span").text()] || this.tree2[$(".chosenCategory span").text()].length !== 0) {
                    $(".chosenCategory").after('<input type="text"><i class="addConfirm">确定</i>');
                } else {
                    $(".chosenCategory").find("ul").append('<input type="text"><i class="addConfirm">确定</i>')
                }

            },
            addOne: function() {
                localStorage.setItem("dataParams", JSON.stringify(this.$data));
                window.location.href = "#/addRules.html?addSet"
            },
            deleteSpecialEvent: function() {
                var self = this;
                if (confirm("确认删除该专项")) {
                    var list = self.specialCheck.slice(0);
                    list = list.filter(function(index) {
                        return index != self.special;
                    });
                    $.ajax({
                            url: '/region/resetSpecial',
                            type: 'POST',
                            data: {
                                special: list,
                                companyType:self.selectCompany
                            },
                            traditional: true,
                        })
                        .done(function(data) {
                            if (data.state == 0) {
                                self.specialCheck = list;
                                alert("删除成功");
                                self.special = "";
                            }
                        })
                }
            },
            addSpecialEvent: function(data) {
                var self = this;
                if (self.addSpecial) {
                    if (confirm("确认增加一个专项")) {
                        var list = self.specialCheck.slice(0);
                        list.push(self.addSpecial);
                        console.log(self.addSpecial);
                        console.log(list);
                        $.ajax({
                                url: '/region/resetSpecial',
                                type: 'POST',
                                data: {
                                    special: list,
                                    companyType:self.selectCompany
                                },
                                traditional: true,
                            })
                            .done(function(data) {
                                if (data.state == 0) {
                                    self.specialCheck.push(self.addSpecial);
                                    alert("新增成功");
                                    self.special = self.addSpecial;
                                }
                            })
                    }
                } else {
                    alert("请输入新专项的名字")
                }
            }
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            self.updateData();
            $.post('/region/getSpecial', {
                companyType: self.selectCompany,
            }, function(data, textStatus, xhr) {
                if (data.state == 0) {
                    self.specialCheck = data.data;
                }
            });
            $.post('/model', {
                name: "CompanyType",
                "row": 0
            }, function(data, textStatus, xhr) {
                if (data.state == 0) {
                    vm.companyType = data.data;
                }
            });
        },
        ready: function() {

        }
    })
});
</script>
