<div class="assessDetail admin_content_innerBox" id="assessDetailBody">
    <div class="admin_scrollBox">
        <div class="contentHeader">
            <p style="font-size:16px;float:left;width: 49%">评估编号：{{taskDetail.code}}</p>
            <a class="backToBtn normalBtn" style="float:right" :href="place()"><i class="flaticon-cancel"></i></a>
            <p style="font-size:16px;width: 42%;float:left;">状态：{{taskDetail.state}}</p>
        </div>
        <div class="contentBody">
            <div class="textInfo">
                <h3>企业信息</h3>
                <p class="halfText">企业名称：<span>{{taskDetail.company.name}}</span></p>
                <p class="halfText">安全负责人：<span>{{taskDetail.leader.name}}</span></p>
                <p class="halfText">企业类型：<span>{{taskDetail.company.type.name}}</span></p>
                <p class="halfText">联系电话：<span>{{taskDetail.company.phone}}</span></p>
                <h3>评估详情</h3>
                <p class="halfText">评估类型：<span>{{taskDetail.mode}}</span></p>
                <p class="halfText">执行时间：<span>{{excuteTime}}</span></p>
                <p class="halfText">评估队伍：<span>*{{taskDetail.leader.name}} <span v-for="member in taskDetail.member">{{member.name}}</span></span>
                </p>
                <p class="halfText">评估结论：<span>新增 <u>{{riskList.length}}</u> 条隐患</span></p>
            </div>
            <div class="textInfo" style="margin-top:10px">
                <h3>隐患信息</h3>
                <div class="tableBox">
                    <table id="practiceTable" v-if="riskList.length>0">
                        <tr>
                            <th>
                                <input type="checkBox" id="person1" class="checkBox">
                            </th>
                            <th>序号</th>
                            <th>隐患等级</th>
                            <th>企业对象</th>
                            <th>管理机构</th>
                            <th>登记时间</th>
                            <th>整改限期</th>
                            <th>当前状态</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="risk in riskList">
                            <td>
                                <input type="checkBox" id="person1" class="checkBox">
                            </td>
                            <td>{{risk.code}}</td>
                            <td>{{risk.censor.safeRule.safetyLevel}}</td>
                            <td>{{risk.company.name}}</td>
                            <td>{{risk.company.region.parent}}</td>
                            <td>{{risk.date}}</td>
                            <td>{{risk.restDay}}天</td>
                            <td>{{risk.recheckState}}</td>
                            <td><a href="#/riskManagementDetail.html" @click="saveTask(risk)">查看</a></td>
                        </tr>
                    </table>
                    <div class="bottom-search" style="margin-top:20px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    // TablePage("#checkTable", 10);
    $("#processingBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").show();
        $(".finishedTable").hide();
        $(this).addClass('chosen');
        $("#finishedBtn").removeClass('chosen');
    });
    $("#finishedBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").hide();
        $(".finishedTable").show();
        $(this).addClass('chosen');
        $("#processingBtn").removeClass('chosen');
    });
    var vm = new Vue({
        el: "#assessDetailBody",
        data: {
            taskDetail: JSON.parse(localStorage.getItem("taskDetail")),
            riskList: []
        },
        computed: {
            excuteTime: function() {
                return this.stamp2time(this.taskDetail.dead_line);
            }
        },
        methods: {
            place:function(){
                console.log(window.location.href.search('history')!=-1);
                if (window.location.href.search('history')!=-1) {
                    return '#/assessmentCheck.html?history'
                }else{
                    return '#/assessmentCheck.html'
                }
            },
            riskGetDetail: function(data) {
                var companyList = [];
                var timeList = [];
                for (var i = 0; i < data.length; i++) {
                    data[i].time = vm.stamp2time(data[i].censor.in_time, "normal");
                    data[i].date = vm.stamp2time(data[i].censor.in_time, "year");
                    data[i].createTime = data[i].time.split(" ")[0];
                    var restDay = vm.dayPeriodCompute(data[i].censor.in_time, data[i].censor.deadline);
                    data[i].restDay = restDay;
                }
                vm.riskList = data;
                vm.showTasks = vm.tasks;
            },
            stamp2time: function(stamp, type) {
                var time = new Date(stamp);
                var year = time.getFullYear();
                var month = time.getMonth() - 0 + 1;
                var hours = time.getHours();
                var minutes = time.getMinutes();
                month = month < 10 ? "0" + month : month;
                var day = time.getDate();
                day = day < 10 ? "0" + day : day;
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                var timeString = '';
                if (type == "normal") {
                    return month + "/" + day + " " + hours + ":" + minutes;
                } else {
                    return year + "-" + month + "-" + day;
                }

            },
            unique: function(arr) {
                var result = [],
                    hash = {};
                for (var i = 0, elem;
                    (elem = arr[i]) != null; i++) {
                    if (!hash[elem]) {
                        result.push(elem);
                        hash[elem] = true;
                    }
                }
                return result.reverse();
            },
            dayPeriodCompute: function(startTime, endTime) {
                var day = endTime - startTime;
                return parseInt(day / (1000 * 60 * 60 * 24));
            },
            saveTask: function(data) {
                data = JSON.stringify(data);
                localStorage.setItem("riskDetail", data);
            }
        },
        created: function() {
            var self = this;
            $.post('/model', {
                name: "Recheck",
                "params['task']": self.taskDetail.id
            }, function(data, textStatus, xhr) {
                self.riskGetDetail(data.data);
            });
        },
        ready: function() {}
    })
});
</script>
