<div class="assessmentCheck" id="assessmentBody">
    <div class="minibar"><i class="flaticon-arrows-4"></i><span>当前位置：业务操作> <span class="nowPlace">评估检查</span></span>
    </div>
    <div class="contentBody">
        <div class="tagBar">
            <a class="tag  chosenBtn checkBtn" @click="changeState(1)">评估检查任务</a>
            <a class="tag praticeBtn" @click="changeState(2)">应急演练</a>
            <a class="tag historyBtn" @click="changeState(3)">评估历史</a>
        </div>
        <div class="contenBox">
            <div class="checkBody">
                <div class="inputShort"><span>创建时间：</span>
                    <input type="text" class="createTime"><i class="flaticon-small-calendar"></i></div>
                <div class="inputShort"><span>管理机构：</span>
                    <div class="admin_ui_select" style="width: 200px;">
                        <select class="regionName">
                            <option>北仑港航局</option>
                            <option>余姚港航局</option>
                            <option>慈溪港航局</option>
                            <option>奉化港航局</option>
                            <option>宁海港航局</option>
                            <option>象山港航局</option>
                            <option>鄞州港航局</option>
                            <option>海曙港航局</option>
                            <option>江东港航局</option>
                            <option>江北港航局</option>
                        </select>
                    </div>
                </div>
                <div class="inputShort"><span>任务编号：</span>
                    <input type="text" placeholder="输入编号" class="taskNum">
                </div>
                <div class="inputShort"><span>企业对象：</span>
                    <input type="text" placeholder="输入企业名称" class="companyName">
                </div>
                <div class="searchBody">
                    <span class="searchButtom normalBtn">搜索</span>
                </div>
                <div class="btnBox" v-if="tagState!==3&&competence">
                    <a :href="addTask" class="addBtn normalBtn">添加任务</a>
                    <div class="allSelectBtn normalBtn">全选</div>
                    <div class="urgeBtn normalBtn" @click="urgeExecute">催促执行</div>
                    <div class="endProgramBtn normalBtn" @click="endProgram">结束任务</div>
                </div>
                <div class="tableBox">
                    <table id="checkTable" class="display">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkBox" class="checkBox">
                                </th>
                                <th>任务编号</th>
                                <th>任务类型</th>
                                <th>企业对象</th>
                                <th>管理机构</th>
                                <th>创建时间</th>
                                <th>责任人</th>
                                <th>当前状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="task in showTasks">
                                <td>
                                    <input type="checkBox" class="checkBox" data-id="{{task.id}}">
                                </td>
                                <td>{{task.code}}</td>
                                <td>{{task.mode?task.mode:"应急演练"}}</td>
                                <td>{{task.company.name}}</td>
                                <td>{{task.company.region.name}}</td>
                                <td>{{task.time}}</td>
                                <td>{{responsePerson(task)}}</td>
                                <td>{{task.state}}</td>
                                <td><a :href="tagState==1?'#/assessDetail.html':'#/emergencyDetail.html'" @click="saveDetail(task)">查看</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="bottom-search" v-if="!competence">
                        <div class="allSelectBtn normalBtn">全选</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
$(document).ready(function() {
    $.datetimepicker.setLocale('zh');
    $(".createTime").datetimepicker({
        timepicker: false,
        format: "Y-m-d",
    });
    $(".tag").on('click', function(event) {
        $(this).addClass('chosenBtn');
        $(this).siblings('.tag').removeClass('chosenBtn');
        $(".checkBtn").css('z-index', '3');
    });
    $(".checkBtn").on('click', function(event) {
        $(".checkBody").show();
        $(".checkBody").siblings().hide();
    });
    $(".historyBtn").on('click', function(event) {
        $(".checkBtn").css('z-index', '1');
    });
    if (window.location.href.search("urge") !== -1) {
        $(".praticeBtn").trigger('click');
        console.log('test');
    };
    $("th .checkBox").on('click', function(event) {
        if ($(this).prop('checked')) {
            $("td .checkBox").prop("checked", true);
        } else {
            $("td .checkBox").prop("checked", false);
        }
    });
    $(".admin_content_table").on('click', ".allSelectBtn", function(event) {
        $("td .checkBox").prop("checked", true);
    });
    $(".searchButtom").on('click', function(event) {
        event.preventDefault();
        console.log('test');
        $("#checkTable").DataTable().columns(5).search($(".createTime").val(), false, true).draw();
        $("#checkTable").DataTable().columns(4).search($(".regionName").val(), false, true).draw();
        $("#checkTable").DataTable().columns(1).search($(".taskNum").val(), false, true).draw();
        $("#checkTable").DataTable().columns(3).search($(".companyName").val(), false, true).draw();
    });
    var vm = new Vue({
        el: "#assessmentBody",
        data: {
            tagState: 1,
            tasks: [],
            companyList: [],
            companyName: "",
            createTimeList: [],
            createTime: "",
            region: "",
            risks: {},
            taskNum: "",
            showTasks: [],
            competence: true,
            chosenList: []
        },
        computed: {
            addTask: function() {
                if (this.tagState == 1) {
                    return "#/addAssessment.html"
                } else {
                    return "#/addExercise.html"
                }
            },
        },
        methods: {
            responsePerson: function(data) {
                if (data.user) {
                    return data.user.name
                } else if (data.leader) {
                    return data.leader.name
                } else {
                    return ""
                }
            },
            taskGetDetail: function(data) {
                var companyList = [];
                var timeList = [];
                for (var i = 0; i < data.length; i++) {
                    data[i].time = vm.stamp2time(data[i].in_time);
                    data[i].createTime = data[i].time.split(" ")[0];
                    companyList.push(data[i].company.name)
                    timeList.push(data[i].createTime)
                }
                vm.tasks = data.reverse();
                vm.showTasks = vm.tasks;
                vm.companyList = vm.unique(companyList);
                vm.createTimeList = vm.unique(timeList);
            },
            stamp2time: function(stamp) {
                var time = new Date(stamp);
                var year = time.getFullYear();
                var month = time.getMonth() - 0 + 1;
                var hours = time.getHours();
                var minutes = time.getMinutes();
                month = month < 10 ? "0" + month : month;
                var day = time.getDate();
                day = day < 10 ? "0" + day : day;
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                var timeString = '';
                return year + "-" + month + "-" + day;
            },
            unique: function(arr) {
                var result = [],
                    hash = {};
                for (var i = 0, elem;
                    (elem = arr[i]) != null; i++) {
                    if (!hash[elem]) {
                        result.push(elem);
                        hash[elem] = true;
                    }
                }
                return result.reverse();
            },
            saveDetail: function(data) {
                data = JSON.stringify(data);
                localStorage.setItem("taskDetail", data);
            },
            changeState: function(state) {
                this.tagState = state;
                this.showTasks = [];
                $('table.display').DataTable().destroy();

                this.getData(state);
            },
            urgeExecute: function() {
                this.getChosenList();
            },
            endProgram: function() {
                var self = this;
                self.getChosenList();
                console.log(data);
                var url = self.tagState == 1 ? '/region/completeTask' : '/region/completeEmergency';
                var data = self.tagState == 1 ? {
                    task: self.chosenList
                } : {
                    emergency: self.chosenList
                };
                $.ajax({
                        url: url,
                        type: 'POST',
                        traditional: true,
                        data: data,
                    })
                    .done(function(data) {
                        if (data.state == 0) {
                            this.showTasks = [];
                            $('table.display').DataTable().destroy();
                            self.getData(self.tagState)
                        }
                    })
            },
            getChosenList: function() {
                var self = this;
                console.log('test');
                self.chosenList = [];
                $("td .checkBox:checked").each(function(index, el) {
                    console.log($(el).attr('data-id'));
                    self.chosenList.push($(el).attr('data-id'));
                });
            },
            getData: function(state) {
                var data = {}
                switch (state) {
                    case 1:
                        data = {
                            name: 'Task',
                            rows: 0,
                            remove: "safeRules",
                            "params['state']": "未检"
                        };
                        break;
                    case 2:
                        data = {
                            name: 'Emergency',
                            rows: 0,
                        };
                        break;
                    case 3:
                        data = {
                            name: 'Task',
                            rows: 0,
                            remove: "safeRules",
                            "params['state']": "已检"
                        };
                }
                $.post('/model', data, function(data, textStatus, xhr) {
                    if (data.state == 0) {
                        vm.taskGetDetail(data.data);
                        vm.$nextTick(function() {
                            $('table.display').DataTable({
                                "order": [
                                    [5, "desc"]
                                ],
                                // "searching": false,
                                "pageLength": 5,
                                "dom": 'rtp',
                                "columnDefs": [{
                                    "orderable": false,
                                    "targets": [0, 7]
                                }],
                                language: {
                                    processing: "处理中...",
                                    search: "Rechercher&nbsp;:",
                                    lengthMenu: "显示 _MENU_ 项结果",
                                    info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                    infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                                    infoFiltered: "(由 _MAX_ 项结果过滤)",
                                    infoPostFix: "",
                                    loadingRecords: "载入中...",
                                    zeroRecords: "没有匹配结果",
                                    emptyTable: "表中数据为空",
                                    paginate: {
                                        first: "首页",
                                        previous: "上页",
                                        next: "下页",
                                        last: "末页"
                                    },
                                    aria: {
                                        sortAscending: ": 以升序排列此列",
                                        sortDescending: ":  以降序排列此列"
                                    }
                                }
                            });
                        })
                    }
                });
            },
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            var competence = localStorage.getItem("competence");
            if (competence == "企业负责人") {
                this.competence = false;
            }
            this.getData(1);
        },
        ready: function() {

        }
    })
});
</script>
