<style>
.headTable td {
    vertical-align: top;
}
</style>
<div class="addAssessment admin_content_innerBox dataManagement" id="dangerDetail">
    <div class="minibar">
        <i class="flaticon-arrows-4"></i><span>当前位置：首页 > 业务操作 > 重大危险源 ><span class="nowPlace"> 详细信息</span></span>
    </div>
    <div class="admin_scrollBox">
        <div class="contentBody">
            <div class="backBtn normalBtn" style="float:right"><i class="flaticon-cancel"></i></div>
            <div class="textInfo">
                <div class="inputShort">
                    <span>备案编号：</span>
                    <i>{{params.code}}</i>
                </div>
                <div class="inputShort">
                    <span>备案时间：</span>
                    <i>{{params.createTime}}</i>
                </div>
                <div class="inputShort">
                    <span>企业对象：</span>
                    <i>{{params.company.name}}</i>
                </div>
                <div class="inputShort">
                    <span>企业类型：</span>
                    <i>{{params.company.type.name}}</i>
                </div>
                <div class="inputShort">
                    <span style="width:100px">重大危险源名称：</span>
                    <i>{{params.name}}</i>
                </div>
                <div class="inputShort">
                    <span>等级：</span>
                    <i>{{params.level}}</i>
                </div>
            </div>
            <table class="headTable tem_headTable" style="margin: 15px 0;">
                <tbody>
                    <tr>
                        <td>
                            管理机构:{{params.company.region.name}}
                        </td>
                        <td>
                            登记人:{{params.user_name}}
                        </td>
                        <td>
                            当前状态:{{params._delete?"失效":"有效"}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span style="margin-bottom: 10px;display: inline-block;">描述：</span>
                            <br />
                        </td>
                        <td>
                            坐标： X:
                            <input type="text" value="750" style="width:65px;" v-model="x" :disabled="changeState"> - Y:
                            <input type="text" value="145" style="width:65px;" v-model="y" :disabled="changeState">
                            <div class="normalBtn" @click="changeState=false">设定</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:center;">
                            <textarea name="" id="" cols="30" rows="10" style="width:80%;height:120px;padding:10px;background:#fff" v-model="params.description" disabled></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>附件：<a class="admin_ui_link">查看</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="dataPage">
                <div class="assess2Body">
                    <div class="tableBox" style="text-align:center;margin-bottom:20px;width:100%">
                        <div class="addBtn normalBtn">确认</div>
                        <div class="urgeBtn normalBtn">删除</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
$(document).ready(function() {
    window.page.beforeUnload = function(hash) {
        if (confirm("未保存修改的信息，确定要离开吗？")) {
            return true;
        } else {
            return false;
        }
    }
    $("#processingBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").show();
        $(".finishedTable").hide();
        $(this).addClass('chosen');
        $("#finishedBtn").removeClass('chosen');
    });
    $("#finishedBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").hide();
        $(".finishedTable").show();
        $(this).addClass('chosen');
        $("#processingBtn").removeClass('chosen');
    });
    $(".rightBox").on('click', "p", function(event) {
        $(".leftBox").append($(this));
    });
    $(".leftBox").on('click', "p", function(event) {
        $(".rightBox").append($(this));
    });
    var vm = new Vue({
        el: "#dangerDetail",
        data: {
            params: {},
            url: "",
            changeState: true
        },
        computed: {
            x: function() {
                return this.params.coordinate.split(" ")[0]
            },
            y: function() {
                return this.params.coordinate.split(" ")[1]
            },
        },
        methods: {

        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            this.params = JSON.parse(localStorage.getItem("dangerousDetail"));
        },
        ready: function() {

        }
    })
});
</script>
