<div class="addAssessment admin_content_innerBox dataManagement" id="dataManagementBody">
    <div class="minibar"><i class="flaticon-arrows-4"></i><span>当前位置：首页 > 在线学习 > <span class="nowPlace">执行标准</span></span>
    </div>
    <div class="admin_scrollBox">
        <div class="contentBody">
            <div class="dataPage">
                <div class="inputShort assessType"><span style="width:80px">选择企业类型:</span>
                    <div class="admin_ui_select" style="width: 140px;">
                        <select v-model="selectCompany">
                            <option v-for="company in companyType" value="{{company.id}}">{{company.name}}</option>
                        </select>
                    </div>
                    <input type="checkBox" id="canUse" v-model="showUsed">
                    <label for="canUse">只看有效</label>
                </div>
                <div class="assess2Body">
                    <div class="ztrbox">
                        <div class="ztreeBox ztree">
                            <a class="category1" v-for="item in tree1" @click="category1Click(index,item,$index,$event)"><i class="flaticon-add-1" v-show="!state[$index]==1"></i><i class="flaticon-square" v-show="state[$index]==1"></i><span>{{item}}</span>
                            <ul class="line" v-show="state[$index]==1"><li class="category2" v-for="item2 in tree2[item]"  @click.stop="showData(item2,$event,item)"><i class="flaticon-interface"></i>{{item2}}</li></ul>
                            </a>
                        </div>
                    </div>
                    <div class="tableBox">
                        <table>
                            <tr>
                                <th style="width: 40px;">
                                    <input type="checkBox" id="person1" class="checkBox">
                                </th>
                                <th width="240px">内容</th>
                                <th style="width: 40px;">等级</th>
                                <th style="width: 60px;">强制执行</th>
                                <th style="width: 100px;">更新时间</th>
                                <th style="width: 100px;">是否显示</th>
                                <th style="width: 80px;">操作</th>
                            </tr>
                            <tr v-for="rule in rules   |limitBy recordLimit startPoint">
                                <td>
                                    <input type="checkBox" id="person1" class="checkBox" data-id={{rule.id}}>
                                </td>
                                <td style="text-align:left">{{rule.text}}</td>
                                <td>{{rule.safetyLevel}}</td>
                                <td>{{rule.must?"是":""}}</td>
                                <td>{{rule.updateTime}}</td>
                                <td>{{rule.shows?"显示":"隐藏"}}</td>
                                <td><a href="#/addRules.html?read" @click="saveDetail(rule)">查看</a></td>
                            </tr>
                        </table>
                        <div class="bottom-search" style="width:100%">
                            <div class="allSelectBtn normalBtn" style="margin-top:15px">全选</div>
                            <div class="urgeBtn normalBtn" style="margin-top:15px" @click="updateState(false)" v-show="competence">显示</div>
                            <div class="urgeBtn normalBtn" style="margin-top:15px" @click="updateState(true)" v-show="competence">隐藏</div>
                            <div class="page"><a href="javascript:void(0)" @click="prevPage"><span id="Prev">« 上一页</span></a>
                                <a href="javascript:void(0)" v-for="n in pageNum" v-show="showPageTag(n)">
                                    <span @click="turnPage(n)" class="{{(n+1==pageIndex?'click_page':'normalPage')}}"> {{n+1}} </span>
                                </a>
                                <a href="javascript:void(0)" @click="nextPage">
                                    <span id="Next">下一页 »</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    // TablePage("table", 10);
    $("th .checkBox").on('click', function(event) {
        if ($(this).prop('checked')) {
            $("td .checkBox").prop("checked", true);
        } else {
            $("td .checkBox").prop("checked", false);
        }
    });
    $(".admin_content_table").on('click', ".allSelectBtn", function(event) {
        $("td .checkBox").prop("checked", true);
    });
    $("#processingBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").show();
        $(".finishedTable").hide();
        $(this).addClass('chosen');
        $("#finishedBtn").removeClass('chosen');
    });
    $("#finishedBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").hide();
        $(".finishedTable").show();
        $(this).addClass('chosen');
        $("#processingBtn").removeClass('chosen');
    });
    $(".rightBox").on('click', "p", function(event) {
        $(".leftBox").append($(this));
    });
    $(".leftBox").on('click', "p", function(event) {
        $(".rightBox").append($(this));
    });
    $(".ztrbox").on('click', 'input', function(event) {
        event.stopPropagation();
        console.log('test');
        $(this).removeClass('chosenCategory')
    });
    $(".ztrbox").on('click', '.removeConfirm', function(event) {
        event.stopPropagation();
        $(".ztrbox input,.addConfirm,.removeConfirm").remove();
    });
    $(".ztrbox").on('click', '.addConfirm ', function(event) {
        event.stopPropagation();
        $(this).removeClass('chosenCategory');
        var value = $(".ztrbox input").val();
        console.log(value);
        if (!value) {
            alert("请输入类名")
        } else if (confirm("是否增加该类别")) {
            if (($(this).parent("ul").length == 0)) {
                var index = ($(this).index());
                vm.tree1.push(value);
                Vue.set(vm.tree2, value, [])
                vm.tree2[value] = [];
                vm.category[value] = {}
                $(".ztrbox input,.addConfirm").remove();
            } else {
                var text = $(".ztrbox input").parents('a').children('span').text();
                var tree2 = (vm.tree2);
                tree2[text].splice($(".ztrbox input").index(), 0, value);
                vm.$set("tree2", tree2);
                console.log($(".ztrbox input").parents('a').index());
                $(".ztrbox input,.addConfirm,.removeConfirm").remove();
                vm.category[text][value] = []
            }
        }

    });
    var vm = new Vue({
        el: "#dataManagementBody",
        data: {
            state: [1],
            rules: [],
            companyList: [],
            companyName: "",
            createTimeList: [],
            createTime: "",
            risks: {},
            category: {},
            recordLimit: 7,
            pageIndex: 1,
            startAttr: "",
            startAttr2: "",
            rawData: [],
            companyType: [],
            selectCompany: 3,
            tree1: [],
            tree2: {},
            showUsed: false,
            chosenList: [],
            competence: true
        },
        watch: {
            selectCompany: function(val, oldVal) {
                var self = this;
                self.updateData();
            }
        },
        computed: {
            startPoint: function() {
                return (this.pageIndex - 1) * 5
            },
            pageNum: function() {
                return Math.ceil(this.rules.length / this.recordLimit)
            },
        },
        methods: {
            rulesDetail: function(data) {
                var category = {};
                var category2 = [];
                var tree1 = [];
                var tree2 = {};
                for (var i = 0; i < data.length; i++) {
                    data[i].updateTime = this.stamp2time(data[i].in_time)
                    if (i == 0) {
                        vm.startAttr = data[i].category1;
                        vm.startAttr2 = data[i].category2;
                    }
                    if (!category[data[i].category1]) {
                        tree1.push(data[i].category1)
                        tree2[data[i].category1] = []
                        tree2[data[i].category1].push(data[i].category2);
                        category[data[i].category1] = {}
                        category[data[i].category1][data[i].category2] = [];
                        category[data[i].category1][data[i].category2].push(data[i]);
                    } else {
                        if (!category[data[i].category1][data[i].category2]) {
                            tree2[data[i].category1].push(data[i].category2);
                            category[data[i].category1][data[i].category2] = [];
                            category[data[i].category1][data[i].category2].push(data[i]);
                        } else {
                            category[data[i].category1][data[i].category2].push(data[i]);
                        }
                    }
                }
                for (var i = 0; i < vm.category.length; i++) {
                    vm.state[i] = 1;
                    vm.state.$set(i, 1);
                }
                console.log(category);
                console.log(this.startAttr);
                vm.rules = vm.rawData;
                this.tree1 = tree1;
                this.tree2 = tree2;
                this.category = category;
            },
            updateState: function(state) {
                var self = this;
                self.getChosenList();
                if (self.chosenList.length > 0) {
                    $.ajax({
                            url: '/region/showSafety',
                            type: 'POST',
                            data: {
                                safety: self.chosenList,
                                delete: state
                            },
                            traditional: true
                        })
                        .done(function(data) {
                            if (data.state == 0) {
                                if (state) {
                                    alert("隐藏成功")
                                } else {
                                    alert("显示成功")
                                }
                                self.updateData();
                            }

                        })
                }else{
                    if (state) {
                        alert("请选择隐藏项")
                    }else{
                        alert("请选择显示项")
                    }
                }
            },
            getChosenList: function() {
                var self = this;
                self.chosenList = [];
                $("td>.checkBox:checked").each(function(index, el) {
                    console.log($(el).attr('data-id'));
                    self.chosenList.push($(el).attr('data-id'));
                });
            },
            showData: function(item2, event, item1) {
                this.rules = this.category[item1][item2];
                this.pageIndex = 1;
                $(".category2").removeClass('chosenCategory');
                $(".category1").removeClass('chosenCategory');
                if ($(event.target).parent("li").length == 0) {
                    $(event.target).addClass('chosenCategory');
                } else {
                    $(event.target).parent("li").addClass('chosenCategory');
                }
                this.startAttr2 = item2;
                $(".ztrbox input,.addConfirm").remove();
            },
            stateChange: function(index) {},
            stamp2time: function(stamp) {
                var time = new Date(stamp);
                var year = time.getFullYear();
                var month = time.getMonth() - 0 + 1;
                var hours = time.getHours();
                var minutes = time.getMinutes();
                month = month < 10 ? "0" + month : month;
                var day = time.getDate();
                day = day < 10 ? "0" + day : day;
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                var timeString = '';
                return month + "/" + day + " " + hours + ":" + minutes;
            },
            dayPeriodCompute: function(startTime, endTime) {
                var nowTime = new Date(startTime);
                var theTime = new Date(endTime);
                return theTime.getDate() - nowTime.getDate();
            },
            updateData: function() {
                var self = this;
                $.post('/model', {
                    name: "SafeRule",
                    rows: 0,
                    "params['companyType']": self.selectCompany
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.rawData = data.data
                        vm.rulesDetail(data.data)
                    }
                });
            },
            unique: function(arr) {
                var result = [],
                    hash = {};
                for (var i = 0, elem;
                    (elem = arr[i]) != null; i++) {
                    if (!hash[elem]) {
                        result.push(elem);
                        hash[elem] = true;
                    }
                }
                return result.reverse();
            },
            prevPage: function() {
                if (this.pageIndex - 1 > 0) {
                    this.pageIndex = this.pageIndex - 1;
                }
            },
            nextPage: function() {
                if (this.pageIndex + 1 <= this.pageNum) {
                    this.pageIndex = this.pageIndex + 1;
                }
            },
            turnPage: function(data) {
                vm.pageIndex = data + 1;
            },
            clickPageFilter: function(data) {
                console.log(data);
                if (data + 1 == vm.pageIndex) {
                    return true;
                } else {
                    return false;
                }
            },
            showPageTag: function(data) {
                if (data == this.pageNum - 1 || data == 0 || ((data - this.pageIndex) < 1) && (data - this.pageIndex) >= -2) {
                    return true
                } else {
                    return false
                }
            },
            saveDetail: function(data) {
                localStorage.setItem("ruleDetail", JSON.stringify(data));
                localStorage.setItem("dataParams", JSON.stringify(this.$data));
            },
            category1Click: function(index, item, $index, event) {
                var self = this;
                console.log('test');
                $(".category2").removeClass('chosenCategory');
                $(".category1").removeClass('chosenCategory');
                for (var i = 0; i < self.state.length; i++) {
                    self.state.$set(i, 0);
                }
                if ($(event.target).parent("a").length == 0) {
                    $(event.target).addClass('chosenCategory');
                } else {
                    $(event.target).parent("a").addClass('chosenCategory');
                }
                self.state.$set($index, 1);
                self.startAttr = item;
            },
            addTreeNode: function() {
                $(".ztrbox input,.addConfirm").remove();
                console.log($(".chosenCategory span").text());
                if (!this.tree2[$(".chosenCategory span").text()] || this.tree2[$(".chosenCategory span").text()].length !== 0) {
                    $(".chosenCategory").after('<input type="text"><i class="addConfirm flaticon-checked"></i><i class="removeConfirm flaticon-cancel"></i>');
                } else {
                    $(".chosenCategory").find("ul").append('<input type="text"><i class="addConfirm flaticon-checked"></i>')
                }
            },
            addOne: function() {
                localStorage.setItem("dataParams", JSON.stringify(this.$data));
                window.location.href = "#/addRules.html"
            }
        },
        created: function() {
            var self = this;
            var competence = localStorage.getItem("competence");
            if (competence == "企业负责人") {
                self.competence = false;
            }
            self.updateData();
            $.post('/model', {
                name: "CompanyType",
                "row": 0
            }, function(data, textStatus, xhr) {
                if (data.state == 0) {
                    vm.companyType = data.data;
                }
            });

        },
        ready: function() {

        }
    })
});
</script>
