<div class="companyInfoManagement admin_content_innerBox" id="groupInfoBody">
    <div class="admin_scrollBox">
        <div class="minibar">
            <i class="flaticon-arrows-4"></i><span>当前位置：信息管理 > <span class="nowPlace">机构基础信息管理</span></span>
        </div>
        <div class="contentBody">
            <div class="textInfo">
                <div class="inputShort">
                    <span>机构名称：</span>
                    <i>{{params.name}}</i>
                </div>
                <div class="inputShort">
                    <span>机构代码：</span>
                    <i>{{params.code}}</i>
                </div>
                <div class="inputShort"><span>业务责任人：</span>
                    <input type="text" value="张三" v-model="params.contact" :disabled="disabled">
                </div>
                <div class="inputShort">
                    <span>上级管理部门：</span>
                    <div class="admin_ui_select" style="width:200px">
                        <select v-model="params.parent" :disabled="disabled">
                            <option>宁波市港航管理局</option>
                        </select>
                    </div>
                </div>
                <div class="inputShort"><span>所属港区：</span>
                    <div class="admin_ui_select" style="width:200px">
                        <select v-model="params.area" :disabled="disabled" :disabled="disabled">
                            <option v-for="place in area" value={{place.name}}>{{place.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="inputShort"><span>固定电话：</span>
                    <input type="text" v-model="params.phone" :disabled="disabled">
                </div>
                <div class="inputShort digitMap"><span>电子地图：</span> X:
                    <input type="text" value="750" disabled v-model="x" :disabled="disabled"> — Y:
                    <input type="text" value="145" disabled v-model="y" :disabled="disabled">
                </div>
                <div class="inputShort"><span>手机号码：</span>
                    <input type="text" v-model="params.telephone" :disabled="disabled">
                </div>
                <br/>
                <div class="inputShort companyAddress"><span>机构地址：</span>
                    <input type="text" v-model="params.address" :disabled="disabled">
                </div>
                <br/>
                <div class="inputShort companyNumber"><span style="padding-right:10px">机构组织机构代码证：</span>
                    <br/>
                    <form action="/upload" class="fileForm picUpload" enctype="multipart/form-data" method="post" target="turnPage">
                        <input type="file" id="uploadPic" name="file" @change="upload" :disabled="disabled">
                        <label for="uploadPic" id="fileBtn">
                            +
                            <img class="showPic" :src="url" />
                        </label>
                        <span class="tip"></span>
                        <input type="text" name="turnUrl" class="turnUrl">
                        <input type="submit" value="submit">
                        <canvas id="uploadImg" style="display:none"></canvas>
                    </form>
                    <iframe src="" frameborder="0" id="turnPage"></iframe>
                </div>
                <div class="changeBtn normalBtn" @click="disabled=false" style="margin-left:40%" v-show="disabled==true" :class="{'leftBtn':disabled}">修改</div>
                <div class="updateBtn normalBtn" @click="update" v-show="disabled==false" :class="{'leftBtn':!disabled}">更新</div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $(".settingBtn").on('click', function(event) {
        event.preventDefault();
        $(".digitMap input").removeAttr('disabled');
        $(this).hide();
        $(".confirmBtn").show();
    });
    $(".confirmBtn").on('click', function(event) {
        event.preventDefault();
        $(".digitMap input").attr('disabled', "disabled");
        $(this).hide();
        $(".settingBtn").show();
    });
    $("#processingBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").show();
        $(".finishedTable").hide();
        $(this).addClass('chosen');
        $("#finishedBtn").removeClass('chosen');
    });
    $("#finishedBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").hide();
        $(".finishedTable").show();
        $(this).addClass('chosen');
        $("#processingBtn").removeClass('chosen');
    });
    var vm = new Vue({
        el: "#groupInfoBody",
        data: {
            params: {
                region: {}
            },
            x: null,
            y: null,
            url: "",
            region: [],
            area: [],
            disabled: true
        },
        computed: {
            coordinate: function() {
                var place = vm.x + "+" + vm.y;
                this.params.coordinate = place;
                return place;
            }
        },
        methods: {
            upload: function(event) {
                event.preventDefault();
                console.log($(event.target)[0].files);
                var file = $(event.target)[0].files[0];
                if (!/image\/\w+/.test(file.type)) {
                    alert("文件必须为图片！");
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(e) {
                    vm.createCanvas(this.result);
                }
            },
            createCanvas: function(src) {
                var self = this;
                var canvas = document.getElementById("uploadImg");
                var cxt = canvas.getContext('2d');
                // canvas.width = 640;
                // canvas.height = 400;
                var img = new Image();
                img.src = src;
                img.onload = function() {
                    var w = img.width;
                    var h = img.height;
                    canvas.width = w;
                    canvas.height = h;
                    cxt.drawImage(img, 0, 0);
                    var dataUrl = canvas.toDataURL("image/jpeg", 0.9);
                    $(".showPic").show().attr('src', dataUrl);
                    var blob = vm.dataURLtoBlob(dataUrl);
                    var fd = new FormData();
                    fd.append("file", blob, "1.png");
                    console.log(fd);
                    $.ajax({
                        url: "/upload",
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: fd,
                        success: function(data) {
                            vm.params.photo = data.id;
                            console.log(data);
                            $(".showPic").show().attr('data-id', "/" + data.id);
                        }
                    });
                }
            },
            dataURLtoBlob: function(dataurl) {
                var arr = dataurl.split(','),
                    mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]),
                    n = bstr.length,
                    u8arr = new Uint8Array(n);
                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new Blob([u8arr], {
                    type: mime
                });
            },
            update: function() {

                $.ajax({
                        url: '/region/editRegion',
                        type: 'POST',
                        data: vm.params,
                        traditional: true
                    })
                    .done(function(data) {
                        if (data.state == 0) {
                            alert("修改成功");
                            vm.disabled=true;
                        }
                    })
            }
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            $.post('/model', {
                name: "Region",
                "params['my']": 1
            }, function(data, textStatus, xhr) {
                console.log(data);
                if (data.state == 0) {
                    vm.params = data.data[0];
                    if (vm.params.coordinate) {
                        vm.x = vm.params.coordinate.split("+")[0];
                        vm.y = vm.params.coordinate.split("+")[1];
                    }
                    if (vm.params.photo) {
                        vm.params.photo = vm.params.photo.id
                        vm.url = "/map/" + vm.params.photo
                    }
                }
            });
            $.post('/model', {
                name: "Region",
                "row": 0
            }, function(data, textStatus, xhr) {
                console.log(data);
                if (data.state == 0) {
                    vm.region = data.data;
                }
            });
            $.post('/model', {
                name: "Area",
                "row": 0
            }, function(data, textStatus, xhr) {
                console.log(data);
                if (data.state == 0) {
                    vm.area = data.data;
                }
            });
        },
        ready: function() {

        }
    })
});
</script>
