<div class="admin_content_innerBox" id="analysisBody">
    <div class="minibar">
        <i class="flaticon-arrows-4"></i><span>当前位置：首页 > 统计分析 > <span class="nowPlace">隐患分析</span></span>
    </div>
    <div class="contentBody">
        <table class="headTable">
            <tbody>
                <tr>
                    <td>
                        统计范围：
                        <div class="admin_ui_select" style="width: 180px;">
                            <select v-model="region">
                            <option value="">全部</option>
                                <option v-for="region in regionList" value="{{region.id}}">{{region.name}}</option>
                            </select>
                        </div>
                        <div class="chartConditionBox">
                            展示粒度：
                            <label for="zsld_byYear" style="margin-right: 10px;">
                                <input id="zsld_byYear" name="zsld_by" type="radio" value="year" v-model=" granularity" @click="isCustom=false">按年
                            </label>
                            <label for="zsld_bySeason" style="margin-right: 10px;">
                                <input id="zsld_bySeason" name="zsld_by" type="radio" value="quarter" v-model=" granularity">按季度
                            </label>
                            <label for="zsld_byMonth" style="margin-right: 10px;">
                                <input id="zsld_byMonth" name="zsld_by" type="radio" v-model=" granularity" value="month">按月
                            </label>
                            <label for="zsld_byCustom" style="margin-right: 10px;">
                                <input id="zsld_byCustom" name="zsld_by" type="radio" value="self" v-model="granularity">自定义
                            </label>
                            <input type="text" class="admin_ui_input datepicker" style="width: 100px;" v-model="startTime" onclick="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM'})" id="startTime">
                            <i class="fa fa-calendar"></i> -
                            <input type="text" class="admin_ui_input datepicker" style="width: 100px;" v-model="endTime" onclick="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM',maxDate:'#F{$dp.$D(\'startTime\',{M:11});}',minDate:'#F{$dp.$D(\'startTime\');}'})">
                            <i class="fa fa-calendar" id="endTime"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="dataBody" style="margin-bottom: 20px;">
            <div class="dataBox">
                <span class="data">{{allNum}}</span>
                <span class="title">新增隐患数</span>
            </div>
            <div class="dataBox">
                <span class="data">{{finishNum}}</span>
                <span class="title">消除隐患数量</span>
            </div>
            <div class="dataBox">
                <span class="data">{{expiredNum}}</span><span class="title">逾期处置隐患</span></div>
        </div>
        <div class="echartBox" style="border-bottom: 1px solid #ddd;margin-bottom: 10px;">
            <table class="headTable">
                <tbody>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="echartLine_AccessmentAnalysis" style="width: 100%;height: 300px;"></div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    // $.datetimepicker.setLocale('zh');
    // $(".datepicker").datetimepicker({
    //     timepicker: false,
    //     format: "Y-m-d",
    // });
});
var nowTime = new Date();
var monthName = ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"];
var quarter = ['第一季度', '第二季度', '第三季度', '第四季度'];
var nowMonth = nowTime.getMonth();
var yearName = [];
for (var i = 3; i >= 0; i--) {
    yearName.push(nowTime.getFullYear() - i + "年")
}
console.log(yearName);
var nowMonthName = monthName.slice(nowMonth + 1, 12).concat(monthName.slice(0, nowMonth + 1));
var vm = new Vue({
    el: "#analysisBody",
    data: {
        granularity: "month",
        startTime: null,
        endTime: null,
        lineData: [],
        daily: [],
        echartLine_AccessmentAnalysis_option: {},
        xName: monthName,
        regionList: [],
        region: "",
        allNum: 0,
        finishNum: 0,
        expiredNum: 0
    },
    watch: {
        granularity: function(val, oldVal) {
            if (val == "month") {
                this.xName = monthName;
                this.echartLine_AccessmentAnalysis_option.xAxis[0].data = this.xName;
                this.changeAll();
            } else if (val == "self" && this.startTime && this.endTime) {
                this.setTime();
                console.log('test');
            } else if (val == "quarter") {
                this.xName = quarter;
                this.echartLine_AccessmentAnalysis_option.xAxis[0].data = this.xName;
                this.changeAll();
            } else if (val == "year") {
                this.xName = yearName;
                this.echartLine_AccessmentAnalysis_option.xAxis[0].data = this.xName;
                this.changeAll();
            }
        },
        startTime: function(val, oldVal) {
            console.log((this.granularity == "self" && val && this.endTime));
            if (this.granularity == "self" && val && this.endTime) {
                console.log("text1");
                this.setTime();
            }
        },
        endTime: function(val, oldVal) {
            console.log((this.granularity == "self" && val && this.startTime));
            if (this.granularity == "self" && val && this.startTime) {
                console.log("text2");
                this.setTime();
            }
        },
        region: function(val, oldVal) {
            this.changeAll();
        }
    },
    computed: {
        start: function() {
            if (this.granularity == "self") {
                var date = new Date();
                if (this.startTime) {
                    date.setFullYear(this.startTime.split("-")[0]);
                    date.setMonth(this.startTime.split("-")[1] - 1);
                    return date.getTime()
                }
            } else if (this.granularity == "year") {
                return this.fixStart(3);
            } else {
                return this.fixStart(0);
            }
        },
        end: function() {
            if (this.granularity == "self") {
                var date = new Date();
                if (this.endTime) {
                    date.setFullYear(this.endTime.split("-")[0]);
                    date.setMonth(this.endTime.split("-")[1] - 1);
                    return date.getTime()
                }
            } else {
                return this.fixEnd();
            }
        }
    },
    methods: {
        fixEnd: function() {
            var time = new Date();
            time.setMonth(11);
            time.setDate(31);
            time.setHours(23);
            console.log(time.getTime());
            return time.getTime();
        },
        fixStart: function(x) {
            var time = new Date();
            var year = time.getFullYear();
            time.setFullYear(year - x)
            time.setMonth(0);
            time.setDate(1);
            time.setHours(0);
            return time.getTime();
        },
        changeData: function(name, index) {
            var self = this;
            var allNumData = {
                "name": 'Recheck',
                "count": true,
                "params['begin']": self.start,
                "params['end']": self.end,
            }
            var finishNumData = {
                "name": 'Recheck',
                "count": true,
                "params['begin']": self.start,
                "params['end']": self.end,
                "params['type']": '已完成'
            }
            var expiredNumData = {
                "name": 'Recheck',
                "count": true,
                "params['begin']": self.start,
                "params['end']": self.end,
                "params['expired']": 1
            }
            var totalData = {
                "name": 'Recheck',
                "params['month_time_begin']": self.start,
                "params['month_time_end']": self.end,
                "params['safetyLevel']": name
            }
            if (self.region) {
                allNumData["params['region_id']"] = self.region
                finishNumData["params['region_id']"] = self.region
                expiredNumData["params['region_id']"] = self.region
                totalData["params['region_id']"] = self.region
            }
            $.post('/model', allNumData, function(data, textStatus, xhr) {
                self.allNum = data.data;
            });
            $.post('/model', finishNumData, function(data, textStatus, xhr) {
                self.finishNum = data.data;
            });
            $.post('/model', expiredNumData, function(data, textStatus, xhr) {
                self.expiredNum = data.data;
            });

            $.post('/model', totalData, function(data, textStatus, xhr) {
                var msg = data.data
                var showData = [];
                if (self.granularity == "quarter") {
                    for (var i = 0; i < msg.length; i = i + 3) {
                        showData.push(parseInt(msg[i]) + parseInt(msg[i + 1]) + parseInt(msg[i + 2]))
                    }
                } else if (self.granularity == "year") {
                    for (var i = 0; i < msg.length; i = i + 12) {
                        showData.push(msg.slice(i, i + 12).reduce(function(pre, cur) {
                            return pre + cur
                        }))
                    }
                } else {
                    showData = msg
                }
                self.updateData(showData, index);
            });
        },
        updateData: function(data, index) {
            var self = this;
            self.echartLine_AccessmentAnalysis_option.series[index].data = data;
            self.$nextTick(function() {
                echartLine_AccessmentAnalysis.setOption(self.echartLine_AccessmentAnalysis_option);
            })
        },
        changeAll: function() {
            this.changeData("一级", 0);
            this.changeData("二级", 1);
            this.changeData("三级", 2);
            this.changeData("四级", 3);
        },
        setTime: function() {
            var startPoint, endPoint;
            if (this.startTime && this.endTime) {
                startPoint = this.startTime.split("-")[1] - 0;
                console.log(startPoint);
                endPoint = this.endTime.split("-")[1] - 0;
                if (startPoint > endPoint) {
                    this.xName = monthName.slice(startPoint - 1, 12).concat(monthName.slice(0, endPoint));
                } else {
                    this.xName = monthName.slice(startPoint - 1, endPoint);
                }
                console.log(endPoint);
                this.echartLine_AccessmentAnalysis_option.xAxis[0].data = this.xName;
                this.changeAll();
            }
        }
    },
    created: function() {
        var self = this;
        $.post('/model', {
            name: "Region",
            "row": 0
        }, function(data, textStatus, xhr) {
            if (data.state == 0) {
                vm.regionList = data.data;
            }
        });
        self.echartLine_AccessmentAnalysis_option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['一级', '二级', '三级', '四级']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                data: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
            }],
            yAxis: [{
                type: 'value'
            }],
            series: [{
                name: '一级',
                type: 'bar',
                stack: '1',
                data: [320, 332, 301, 334, 390, 330, 320]
            }, {
                name: '二级',
                type: 'bar',
                stack: '1',
                data: [120, 132, 101, 134, 90, 230, 210]
            }, {
                name: '三级',
                type: 'bar',
                stack: '1',
                data: [220, 182, 191, 234, 290, 330, 310]
            }, {
                name: '四级',
                type: 'bar',
                stack: '1',
                data: [150, 232, 201, 154, 190, 330, 410]
            }]
        };
        self.changeAll();
    },
    ready: function() {

    }
})
var month = ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'];
var level = ['一级', '二级', '三级', '四级'];



var echartLine_AccessmentAnalysis = echarts.init(document.getElementById("echartLine_AccessmentAnalysis"));
</script>
