<div class="assessmentCheck" id="riskManagementBody">
    <div class="minibar"><i class="flaticon-arrows-4"></i><span>当前位置：业务操作 > <span class="nowPlace">隐患管理</span></span>
    </div>
    <div class="contentBody">
        <div class="tagBar">
            <a class="tag  chosenBtn checkBtn" @click="changeState(1)">隐患跟踪</a>
            <a class="tag praticeBtn" @click="changeState(2)">历史隐患</a>
        </div>
        <div class="contenBox">
            <div class="checkBody">
                <div class="inputShort"><span>登记时间：</span>
                    <input type="text" class="createTime"><i class="flaticon-small-calendar"></i></div>
                <div class="inputShort"><span>管理机构：</span>
                    <div class="admin_ui_select" style="width: 200px;">
                        <select class="regionName">
                            <option value="">全部</option>
                            <option v-for="place in region" value="{{place.name}}">{{place.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="inputShort"><span>隐患编号：</span>
                    <input type="text" placeholder="输入编号" class="taskNum" onfocus="this.placeholder=''" onblur="this.placeholder='输入编号'">
                </div>
                <div class="inputShort"><span>企业对象：</span>
                    <input type="text" placeholder="输入企业名称" class="companyName" onfocus="this.placeholder=''" onblur="this.placeholder='输入企业名称'">
                </div>
                <div class="searchBody">
                    <span class="searchButtom normalBtn">搜索</span>
                </div>
                <div class="btnBox" v-if="tagState==1">
                    <div class="allSelectBtn normalBtn">全选</div>
                    <div class="urgeBtn normalBtn" v-if="competence" @click="urgeExecute">过期警告</div>
                    <div class="endProgramBtn normalBtn" v-if="competence" @click="endProgram">结束跟踪</div>
                    <div class="endProgramBtn normalBtn" v-if="!competence">指派处置</div>
                </div>
                <div class="tableBox">
                    <table id="checkTable" class="display">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkBox" id="person1" class="checkBox">
                                </th>
                                <th>序号</th>
                                <th>隐患编号</th>
                                <th>隐患等级</th>
                                <th>企业对象</th>
                                <th>管理机构</th>
                                <th>登记时间</th>
                                <th>整改限期</th>
                                <th>当前状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="task in showTasks ">
                                <td>
                                    <input type="checkBox" id="person1" class="checkBox" v-if="task.code" data-id="{{task.id}}">
                                </td>
                                <td>{{task.id}}</td>
                                <td>{{task.code}}</td>
                                <td>{{task.censor.safeRule.safetyLevel}}</td>
                                <td width="210"><span class="ellipsis" title="{{task.company.name}}">{{task.company.name}}</span></td>
                                <td>{{task.censor.user.region.name}}</td>
                                <td>{{task.time}}</td>
                                <td>{{task.restDay}}</td>
                                <td>{{task.recheckState}}</td>
                                <td>{{task.date}}</td>
                                <td><a href="#/riskManagementDetail.html" @click="saveTask(task)" v-if="task.code">查看</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $.datetimepicker.setLocale('zh');
    $(".createTime").datetimepicker({
        timepicker: false,
        format: "Y-m-d",
    });
    $(".tag").on('click', function(event) {
        $(this).addClass('chosenBtn');
        $(this).siblings('.tag').removeClass('chosenBtn');
        $(".checkBtn").css('z-index', '3');
    });
    $("th .checkBox").on('click', function(event) {
        if ($(this).prop('checked')) {
            $("td .checkBox").prop("checked", true);
        } else {
            $("td .checkBox").prop("checked", false);
        }
    });
    $(".admin_content_table").on('click', ".allSelectBtn", function(event) {
        $("td .checkBox").prop("checked", true);
    });
    $(".searchButtom").on('click', function(event) {
        event.preventDefault();
        $("#checkTable").DataTable().columns(9).search($(".createTime").val(), false, true).draw();
        $("#checkTable").DataTable().columns(5).search($(".regionName").val(), false, true).draw();
        $("#checkTable").DataTable().columns(2).search($(".taskNum").val(), false, true).draw();
        $("#checkTable").DataTable().columns(4).search($(".companyName").val(), false, true).draw();
    });
    var vm = new Vue({
        el: "#riskManagementBody",
        data: {
            tagState: 1,
            tasks: {},
            companyList: [],
            companyName: "",
            createTimeList: [],
            createTime: "",
            region: "",
            risks: {},
            taskNum: "",
            recordLimit: 5,
            pageIndex: 1,
            showTasks: [],
            competence: true,
            chosenList: [],
            region: [],
            showState: false
        },
        computed: {
            startPoint: function() {
                return (this.pageIndex - 1) * 5
            },
            pageNum: function() {
                return Math.ceil(this.showTasks.length / this.recordLimit)
            },
        },
        methods: {
            taskGetDetail: function(data) {
                var companyList = [];
                var timeList = [];
                for (var i = 0; i < data.length; i++) {
                    data[i].time = vm.stamp2time(data[i].censor.in_time, "normal");
                    data[i].date = vm.stamp2time(data[i].censor.in_time, "year");
                    data[i].createTime = data[i].time.split(" ")[0];
                    var restDay = vm.dayPeriodCompute(data[i].censor.in_time, data[i].censor.deadline);
                    data[i].restDay = restDay + "天";
                }
                vm.tasks = data.reverse();
                vm.showTasks = vm.tasks;
                var len = this.showTasks.length;
                if (len < 5) {
                    for (var i = 0; i < 5 - len; i++) {
                        this.showTasks.push({
                            censor: {
                                user: {
                                    region: {}
                                },
                                task: {
                                    company: []
                                },
                                safeRule: [],
                            },
                            company: []
                        });
                    }
                }
                vm.companyList = vm.unique(companyList);
                vm.createTimeList = vm.unique(timeList);
            },
            stamp2time: function(stamp, type) {
                var time = new Date(stamp);
                var year = time.getFullYear();
                var month = time.getMonth() - 0 + 1;
                var hours = time.getHours();
                var minutes = time.getMinutes();
                month = month < 10 ? "0" + month : month;
                var day = time.getDate();
                day = day < 10 ? "0" + day : day;
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                var timeString = '';
                if (type == "normal") {
                    return month + "/" + day + " " + hours + ":" + minutes;
                } else {
                    return year + "-" + month + "-" + day;
                }
            },
            getChosenList: function() {
                var self = this;
                console.log('test');
                self.chosenList = [];
                $("td .checkBox:checked").each(function(index, el) {
                    console.log($(el).attr('data-id'));
                    self.chosenList.push($(el).attr('data-id'));
                });
            },
            urgeExecute: function() {
                var self = this;
                this.getChosenList();
                if (self.chosenList.length > 0) {
                    var url = '/region/urgeRecheck';
                    console.log(self.chosenList);
                    var data = {
                        recheck: self.chosenList
                    }
                    $.ajax({
                            url: url,
                            type: 'POST',
                            traditional: true,
                            data: data,
                        })
                        .done(function(data) {
                            if (data.state == 0) {
                                alert("警告成功");
                                $("td .checkBox").prop("checked", false);
                            }
                        })
                } else {
                    alert("请选择警告项")
                }
            },
            endProgram: function() {
                var self = this;
                self.getChosenList();
                console.log(data);
                if (self.chosenList.length > 0) {
                    var url = '/region/completeRecheck';
                    var data = {
                        recheck: self.chosenList
                    }
                    $.ajax({
                            url: url,
                            type: 'POST',
                            traditional: true,
                            data: data,
                        })
                        .done(function(data) {
                            if (data.state == 0) {
                                this.showTasks = [];
                                alert("项目已结束");
                                $('table.display').hide();
                                $('table.display').DataTable().destroy();
                                self.getData(self.tagState);
                            }
                        })
                } else {
                    alert("请选择结束项")
                }
            },
            unique: function(arr) {
                var result = [],
                    hash = {};
                for (var i = 0, elem;
                    (elem = arr[i]) != null; i++) {
                    if (!hash[elem]) {
                        result.push(elem);
                        hash[elem] = true;
                    }
                }
                return result.reverse();
            },
            dayPeriodCompute: function(startTime, endTime) {
                var time = endTime - startTime;
                var day=parseInt(time / (1000 * 60 * 60 * 24));
                console.log(day);
                day=day>0?day:0;
                return day;
            },
            saveTask: function(data) {
                data = JSON.stringify(data);
                localStorage.setItem("riskDetail", data);
            },
            changeState: function(state) {
                this.tagState = state;
                this.showState = false;
                this.showTasks = [];
                $('table.display').DataTable().destroy();
                this.getData(state);
            },
            getData: function(state) {
                var self = this;
                var data = {}
                switch (state) {
                    case 1:
                        data = {
                            name: 'Recheck',
                            rows: 0,
                            "params['notcompelete']": 1,
                            remove: "censor.task.safeRules"
                        };
                        break;
                    case 2:
                        data = {
                            name: 'Recheck',
                            rows: 0,
                            "params['type']": '已完成',
                            remove: "censor.task.safeRules"
                        };
                        break;
                }
                $.ajax({
                        url: '/model',
                        type: 'POST',
                        data: data,
                    })
                    .done(function(data) {
                        console.log(data);
                        if (data.state == 0) {
                            vm.taskGetDetail(data.data);
                            vm.$nextTick(function() {
                                $('table.display').DataTable({
                                    "order": [
                                        [1, "desc"]
                                    ],
                                    // "searching": false,
                                    "pageLength": 5,
                                    "dom": 'rtp',
                                    "columnDefs": [{
                                        "orderable": false,
                                        "targets": [0,4, 9]
                                    }, {
                                        "targets": [1,9],
                                        "visible": false,
                                    }],

                                    language: {
                                        processing: "处理中...",
                                        search: "Rechercher&nbsp;:",
                                        lengthMenu: "显示 _MENU_ 项结果",
                                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                                        infoPostFix: "",
                                        loadingRecords: "载入中...",
                                        zeroRecords: "没有匹配结果",
                                        emptyTable: "表中数据为空",
                                        paginate: {
                                            first: "首页",
                                            previous: "上页",
                                            next: "下页",
                                            last: "末页"
                                        },
                                        aria: {
                                            sortAscending: ": 以升序排列此列",
                                            sortDescending: ":  以降序排列此列"
                                        }
                                    }
                                });
                                self.showState = true;
                                // $("table.display").show()
                            })
                            $('table.display').show();
                        }
                    })
                    .fail(function() {
                        console.log("error");
                    })
                    .always(function() {
                        console.log("complete");
                    });

            }
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            var competence = localStorage.getItem("competence");
            if (competence == "企业负责人") {
                this.competence = false;
            }
            // $("table.display").hide()
            this.getData(1);
            $.post('/model', {
                name: "Region",
                "row": 0
            }, function(data, textStatus, xhr) {
                if (data.state == 0) {
                    vm.region = data.data;
                }
            });
        },
        ready: function() {

        }
    })
});
</script>
