<style>
.picUpload #uploadPic + label {
    width: 240px;
    height: 120px;
    line-height: 120px;
    margin-right: 0
}

.picUpload {
    text-align: left;
    float: left;
}

img {
    float: left;
    width: 240px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
}
</style>
<div class="companyInfoManagement admin_content_innerBox" id="riskManagementDetail">
    <div class="admin_scrollBox">
        <div class="minibar">
            <i class="flaticon-arrows-4"></i><span>当前位置：首页 > 业务操作 > 隐患跟踪 > <span class="nowPlace">详细信息</span></span>
        </div>
        <div class="contentBody">
            <div class="backBtn normalBtn" style="float:right"><i class="flaticon-cancel"></i></div>
            <div class="textInfo" style="border-bottom: 1px solid #ddd;margin-bottom: 20px;">
                <div class="inputShort">
                    <span>隐患编号：</span>
                    <i>{{taskDetail.code}}</i>
                </div>
                <div class="inputShort">
                    <span>企业类型：</span>
                    <i>{{taskDetail.company.type.name}}</i>
                </div>
                <div class="inputShort">
                    <span>企业对象：</span>
                    <i>{{taskDetail.company.name}}</i>
                </div>
                <div class="inputShort">
                    <span>隐患等级：</span>
                    <i>{{taskDetail.censor.safeRule.safetyLevel}}</i>
                </div>
                <div class="inputShort">
                    <span>登记时间：</span>
                    <i>{{startTime}}</i>
                </div>
                <div class="inputShort">
                    <span>当前状态：</span>
                    <i>{{taskDetail.recheckState}}</i>
                </div>
            </div>
            <table class="tem_headTable">
                <tbody>
                    <tr>
                        <th style="width: 120px;">评估机构：</th>
                        <td>{{taskDetail.censor.user.region.name}}</td>
                        <th>登记人：</th>
                        <td>
                            {{taskDetail.censor.user.name}}
                        </td>
                        <th>评估编号：</th>
                        <td>{{taskDetail.censor.task.code}}</td>
                    </tr>
                    <tr>
                        <th>评估标准：</th>
                        <td colspan="5">{{taskDetail.censor.safeRule.category1}} > {{taskDetail.censor.safeRule.category2}} > {{taskDetail.censor.safeRule.text}}</td>
                    </tr>
                    <tr>
                        <th>执行依据：</th>
                        <td colspan="5">《港口法》第二十二条 《港口经营管理规定》第六条、第十二条 《港口安全危险货物安全管理规定》第十七条、第二十条</td>
                    </tr>
                    <tr>
                        <th>处置方式：</th>
                        <td colspan="5">{{taskDetail.censor.safeRule.punishment}}</td>
                    </tr>
                    <tr>
                        <th>整改期限：</th>
                        <td>
                            {{excuteTime}}
                        </td>
                        <!-- <th>附件：</th> -->
                        <!--                         <td><a class="admin_ui_link">查看</a></td> -->
                    </tr>
                    <tr>
                        <th>补充描述：</th>
                        <td colspan="5">{{taskDetail.censor.description}}</td>
                    </tr>
                    <tr>
                        <th>处罚要求：</th>
                        <td colspan="5">{{taskDetail.censor.punishrequire}}</td>
                    </tr>
                    <tr>
                        <th>附件：</th>
                        <td colspan="5"><img :src="'/map/'+photo.id" alt="" v-for="photo in taskDetail.censor.photos"></td>
                    </tr>
                    <tr v-if="taskDetail.recheckState=='未整改'&&competence">
                        <th>整改说明：</th>
                        <td colspan="5">
                            <textarea style="width:100%;height:50px;padding:5px" v-model="params.text" :disabled="taskDetail.recheckState!='未整改'"></textarea>
                        </td>
                    </tr>
                    <tr v-show="taskDetail.recheckState=='未整改'&&competence" class="uploadPicBox">
                        <th>整改图片：</th>
                        <td colspan="5" id="picTable">
                            <form action="/upload" class="fileForm picUpload" enctype="multipart/form-data" method="post" target="turnPage">
                                <input type="file" id="uploadPic" name="file" @change="upload" :disabled="disabled">
                                <label for="uploadPic" id="fileBtn">
                                    +
                                </label>
                                <span class="tip"></span>
                                <input type="text" name="turnUrl" class="turnUrl">
                                <input type="submit" value="submit">
                                <canvas id="uploadImg" style="display:none"></canvas>
                            </form>
                            <iframe src="" frameborder="0" id="turnPage"></iframe>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="tem_headTable" v-if="taskDetail.recheckState!='未整改'&&taskDetail.details.length > 0" v-for="detail in taskDetail.details" style="border-top:1px solid #ccc">
                <tr>
                    <th width="120" style="line-height:40px">{{$index%2==0?"整改说明：":"复检说明："}}</th>
                    <td colspan="5">
                        {{detail.text}}
                    </td>
                </tr>
                <tr>
                    <th>{{$index%2==0?"整改图片：":"复检图片："}}</th>
                    <td colspan="5" id="picTable">
                        <img :src="'/map/'+photo.id" alt="" v-for="photo in detail.photos">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
        <div class="allSelectBtn normalBtn" style="margin-top:15px" @click="confirm">确认</div>
        <!-- <div class="urgeBtn normalBtn" style="margin-top:15px">删除</div> -->
    </div>
</div>
<script>
$(".uploadPicBox").on('click', 'img', function(event) {
    if (vm.taskDetail.recheckState == "未整改") {
        event.preventDefault();
        if (confirm("是否删除该图？")) {
            var id = $(this).attr('data-id');
            vm.params.photos = vm.params.photos.filter(function(index) {
                console.log(index);
                console.log(id);
                console.log(index != id);
                return index !== id;
            });
            $(this).remove();
        }
    }
});
var vm = new Vue({
    el: "#riskManagementDetail",
    data: {
        taskDetail: {},
        competence: false,
        params: {
            photos: []
        }
    },
    computed: {
        excuteTime: function() {
            return this.stamp2time(this.taskDetail.censor.deadline);
        },
        startTime: function() {
            return this.stamp2time(this.taskDetail.censor.in_time);
        }
    },
    methods: {
        stamp2time: function(stamp) {
            var time = new Date(stamp);
            var year = time.getFullYear();
            var month = time.getMonth() - 0 + 1;
            var hours = time.getHours();
            var minutes = time.getMinutes();
            month = month < 10 ? "0" + month : month;
            var day = time.getDate();
            day = day < 10 ? "0" + day : day;
            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            var timeString = '';
            return year + "-" + month + "-" + day;
        },
        unique: function(arr) {
            var result = [],
                hash = {};
            for (var i = 0, elem;
                (elem = arr[i]) != null; i++) {
                if (!hash[elem]) {
                    result.push(elem);
                    hash[elem] = true;
                }
            }
            return result.reverse();
        },
        upload: function(event) {
            console.log(this.params.photos.length);
            if (this.params.photos.length <= 5) {
                event.preventDefault();
                console.log($(event.target)[0].files);
                var file = $(event.target)[0].files[0];
                if (!/image\/\w+/.test(file.type)) {
                    alert("必须上传图片文件");
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(e) {
                    vm.createCanvas(this.result);
                }
            } else {
                alert("图片上限为5张")
            }

        },
        createCanvas: function(src) {
            var canvas = document.getElementById("uploadImg");
            var cxt = canvas.getContext('2d');
            // canvas.width = 640;
            // canvas.height = 400;
            var img = new Image();
            img.src = src;
            img.onload = function() {
                var w = img.width;
                var h = img.height;
                canvas.width = w;
                canvas.height = h;
                cxt.drawImage(img, 0, 0);
                var dataUrl = canvas.toDataURL("image/jpeg", 0.9);
                // $(".showPic").show().attr('src', dataUrl);
                var blob = vm.dataURLtoBlob(dataUrl);
                var fd = new FormData();
                fd.append("file", blob, "1.png");
                console.log(fd);
                $.ajax({
                    url: "/upload",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function(data) {
                        console.log(data);
                        $("form").after('<img src=' + dataUrl + ' data-id=' + data.id + '>')
                    }
                });
            }
        },
        confirm: function() {
            console.log('test');
            var data = this.params;
            data.recheck = this.taskDetail.id;
            data.photos = [];
            console.log($("img").length);
            if (this.competence) {
                if ($("img").length > 0) {
                    $("img").each(function(index, el) {
                        if ($(el).attr('data-id')) {
                            data.photos.push($(el).attr('data-id'));
                        }
                    });
                }
                $.ajax({
                        url: '/company/reCheck',
                        type: 'POST',
                        data: data,
                        traditional: true
                    })
                    .done(function(data) {
                        if (data.state == 0) {
                            alert("提交成功");
                            history.back();
                        }
                    })
            }else{
                history.back();
            }

        },
        dataURLtoBlob: function(dataurl) {
            var arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]),
                n = bstr.length,
                u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new Blob([u8arr], {
                type: mime
            });
        },
    },
    created: function() {
        var competence = localStorage.getItem("competence");
        this.taskDetail = JSON.parse(localStorage.getItem("riskDetail"));
        if (competence == "企业负责人") {
            this.competence = true
        }
    },
    ready: function() {}
})
</script>
