<div class="companyInfoManagement admin_content_innerBox" id="staffDetail">
    <div class="admin_scrollBox">
        <div class="minibar"><i class="flaticon-arrows-4"></i>
            <span>
        当前位置：信息管理 > 企业&账号管理 > <span class="nowPlace">辖区企业管理详情</span>
            </span>
        </div>
        <div class="contentBody">
            <a class="backToBtn normalBtn" style="float:right" href="#/staffManagement.html?company" ><i class="flaticon-cancel"></i></a>
            <div class="updateBtn normalBtn" style="margin-top:35px;position: absolute;right:40px" @click="disabled=false" v-show="disabled==true">修改</div>
            <div class="textInfo" style="border-bottom: 1px solid #ddd;margin-bottom: 20px">
                <div class="inputShort">
                    <span>企业名称：</span>
                    <i>{{td.name}}</i>
                </div>
                <div class="inputShort">
                    <span>用户名：</span>
                    <i>{{company.username}}</i>
                </div>
                <div class="inputShort">
                    <span>密码：</span>
                    <i>******</i><div class="normalBtn" @click="setPassword">重置</div>
                </div>
                <div class="inputShort">
                    <span>注册时间：</span>
                    <i>{{td.time}}</i>
                </div>
                <div class="inputShort">
                    <span>当前状态：</span>
                    <i>{{td.user.no_lock?"启用":"禁用"}}</i>
                </div>
                <div class="inputShort">
                    <span>企业类型：</span>
                    <select name="" id="" v-model="params.type" :disabled="disabled">
                        <option v-for="type in companyType" value="{{type.id}}">{{type.name}}</option>
                    </select>
                </div>
                <div class="inputShort">
                    <span>所属港区：</span>
                    <select name="" id="" v-model="params.area" :disabled="disabled">
                        <option v-for="place in area" value="{{place.name}}">{{place.name}}</option>
                    </select>
                </div>
                <div class="inputShort">
                    <span>港口管理部门：</span>
                    <select name="" id="" v-model="params.region" :disabled="disabled">
                        <option v-for="place in region" value="{{place.id}}">{{place.name}}</option>
                    </select>
                </div>
                <div class="inputShort digitMap"><span>电子地图：</span> X:
                    <input type="text" v-model="x" :disabled="disabled"> — Y:
                    <input type="text" v-model="y" :disabled="disabled">
                </div>
            </div>
            <div class="textInfo">
                <div class="inputShort">
                    <span>安全负责人：</span>
                    <input type="text" v-model="params.contact" :disabled="disabled">
                </div>
                <div class="inputShort">
                    <span>机构代码：</span>
                    <input type="text" v-model="params.code" :disabled="disabled">
                    <!-- <i>{{td.region.code}}</i> -->
                </div>
                <div class="inputShort">
                    <span>固定电话：</span>
                    <input type="text" v-model="params.telephone" :disabled="disabled">
                </div>
                <br/>
                <div class="inputShort">
                    <span>手机号码：</span>
                    <input type="text" v-model="params.phone" :disabled="disabled">
                </div>
                <br/>
                <div class="inputShort companyAddress">
                    <span>企业地址：</span>
                    <input type="text" v-model="params.address" :disabled="disabled">
                </div>
                <div class="inputShort" style="width:100%">
                    <span>证书附件：</span>
                    <!-- <a class="admin_ui_link" href="/map/{{params.photo}}">查看</a> -->
                    <br/>
                    <div class="picUpload">
                        <form action="/upload" class="fileForm" enctype="multipart/form-data" method="post" target="turnPage">
                            <input type="file" id="uploadPic" name="file" @change="upload" :disabled="disabled">
                            <label for="uploadPic" id="fileBtn">
                                +
                                <img class="showPic" :src="url" />
                            </label>
                            <input type="text" name="turnUrl" class="turnUrl">
                            <input type="submit" value="submit">
                            <canvas id="uploadImg" style="display:none"></canvas>
                        </form>
                        <iframe src="" frameborder="0" id="turnPage"></iframe>
                    </div>
                </div>
            </div>
            <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
                <div class="comfirmBtn normalBtn" style="margin-top:0px" @click="confirm">确定</div>
                <div class="deleteBtn normalBtn" style="margin-top:15px" @click="deleteCompany">删除</div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $(".settingBtn").on('click', function(event) {
        event.preventDefault();
        $(".digitMap input").removeAttr('disabled');
        $(this).hide();
        $(".confirmBtn").show();
    });
    $(".confirmBtn").on('click', function(event) {
        event.preventDefault();
        $(".digitMap input").attr('disabled', "disabled");
        $(this).hide();
        $(".settingBtn").show();
    });
    $("#processingBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").show();
        $(".finishedTable").hide();
        $(this).addClass('chosen');
        $("#finishedBtn").removeClass('chosen');
    });
    $("#finishedBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").hide();
        $(".finishedTable").show();
        $(this).addClass('chosen');
        $("#processingBtn").removeClass('chosen');
    });
    var vm = new Vue({
        el: "#staffDetail",
        data: {
            td: "",
            companyType: "",
            region: "",
            area: "",
            params: {},
            x: "",
            y: "",
            disabled: true,
            url: "",
            company: {}
        },
        computed: {
            coordinate: function() {
                var place = vm.x + "+" + vm.y;
                this.params.coordinate = place;
                return place;
            }
        },
        methods: {
            stamp2time: function(stamp) {
                var time = new Date(stamp);
                var year = time.getFullYear();
                var month = time.getMonth() - 0 + 1;
                var hours = time.getHours();
                var minutes = time.getMinutes();
                month = month < 10 ? "0" + month : month;
                var day = time.getDate();
                day = day < 10 ? "0" + day : day;
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                var timeString = '';
                return year + "-" + month + "-" + day;
            },
            unique: function(arr) {
                var result = [],
                    hash = {};
                for (var i = 0, elem;
                    (elem = arr[i]) != null; i++) {
                    if (!hash[elem]) {
                        result.push(elem);
                        hash[elem] = true;
                    }
                }
                return result.reverse();
            },
            setPassword:function(){
                if (confirm("是否确定重置该企业密码，密码重置后默认为a123")) {
                    $.post('/resetPassword', {id: this.td.user.id,password:'a123'}, function(data, textStatus, xhr) {
                        if (data.state==0) {
                            alert("重置成功")
                        }
                    });
                }
            },
            addCompany: function() {
                $.post('/region/addCompany', vm.params, function(data, textStatus, xhr) {
                    if (data.state == 0) {
                        alert("增加成功");
                        window.location.href = "#/staffManagement.html?company"
                    }
                });
            },
            confirm: function() {
                console.log(this.coordinate);
                if (vm.disabled) {
                    window.location.href = "#/staffManagement.html?company"
                } else {
                    console.log(vm.params);
                    $.post('/region/modifyCompany', vm.params, function(data, textStatus, xhr) {
                        if (data.state == 0) {
                            alert("修改成功");
                            window.location.href = "#/staffManagement.html?company"
                        }
                    });
                }
            },
            upload: function(event) {
                event.preventDefault();
                console.log($(event.target)[0].files);
                var file = $(event.target)[0].files[0];
                if (!/image\/\w+/.test(file.type)) {
                    alert("必须上传图片文件");
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(e) {
                    vm.createCanvas(this.result);
                }
            },
            createCanvas: function(src) {
                var canvas = document.getElementById("uploadImg");
                var cxt = canvas.getContext('2d');
                // canvas.width = 640;
                // canvas.height = 400;
                var img = new Image();
                img.src = src;
                img.onload = function() {
                    var w = img.width;
                    var h = img.height;
                    canvas.width = w;
                    canvas.height = h;
                    cxt.drawImage(img, 0, 0);
                    var dataUrl = canvas.toDataURL("image/jpeg", 0.9);
                    $(".showPic").show().attr('src', dataUrl);
                    var blob = vm.dataURLtoBlob(dataUrl);
                    var fd = new FormData();
                    fd.append("file", blob, "1.png");
                    console.log(fd);
                    $.ajax({
                        url: "/upload",
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: fd,
                        success: function(data) {
                            vm.params.photo = data.id;
                            console.log(data);
                            // vm.url = "/map/" + vm.params.photo
                            $(".showPic").show().attr('data-id', "/" + data.id);
                        }
                    });
                }
            },
            dataURLtoBlob: function(dataurl) {
                var arr = dataurl.split(','),
                    mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]),
                    n = bstr.length,
                    u8arr = new Uint8Array(n);
                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new Blob([u8arr], {
                    type: mime
                });
            },
            deleteCompany:function(){
                
            }
        },
        created: function() {
            var td = this.td = JSON.parse(localStorage.getItem("companyDetail"));
            this.params = {
                id: td.id,
                code: td.code,
                name: td.name,
                address: td.address,
                type: td.type.id,
                region: td.region.id,
                contact: td.contact,
                phone: td.phone,
                telephone: td.telephone,
                coordinate: td.coordinate,
                area: td.area,
            }
            if (td.photo) {
                this.params.photo = td.photo.id
                this.url='/map/'+td.photo.id
            } else {
                this.params.photo = 1
            }
            if (td.coordinate) {
                this.x = td.coordinate.split("+")[0];
                this.y = td.coordinate.split("+")[1];
            }

            $.post('/model', {
                name: "CompanyType",
                "row": 0
            }, function(data, textStatus, xhr) {
                console.log(data);
                if (data.state == 0) {
                    vm.companyType = data.data;
                }
            });
            $.post('/model', {
                name: "Region",
                "row": 0
            }, function(data, textStatus, xhr) {
                console.log(data);
                if (data.state == 0) {
                    vm.region = data.data;
                }
            });
            $.post('/model', {
                name: "User",
                "params['name']": td.name
            }, function(data, textStatus, xhr) {
                console.log(data);
                if (data.state == 0) {
                    vm.company = data.data[0];
                }
            });
            $.post('/model', {
                name: "Area",
                "row": 0
            }, function(data, textStatus, xhr) {
                console.log(data);
                if (data.state == 0) {
                    vm.area = data.data;
                }
            });
        },
        ready: function() {}
    })
});
</script>
