<div class="companyInfoManagement admin_content_innerBox" id="accountBody">
    <div class="admin_scrollBox">
        <div class="minibar"><i class="flaticon-arrows-4"></i>
            <span>
        当前位置：信息管理 > {{competence=="企业负责人"?"账号管理":"企业&账号管理"}} > <span class="nowPlace">账号详情</span>
            </span>
        </div>
        <div class="contentBody">
            <div class="backBtn normalBtn" style="float:right"><i class="flaticon-cancel"></i></div>
            <div class="textInfo" style="border-bottom: 1px solid #ddd;margin-bottom: 20px">
                <div class="inputShort">
                    <span>机构名称：</span>
                    <i>{{taskDetail.region.name}}</i>
                </div>
                <div class="inputShort">
                    <span>注册时间：</span>
                    <i>{{taskDetail.time}}</i>
                </div>
                <div class="inputShort">
                    <span>当前状态：</span>
                    <i>{{taskDetail.no_lock?"正常":"停用"}}</i>
                </div>
                <div class="inputShort">
                    <span>姓名：</span>
                    <i>{{taskDetail.name}}</i>
                </div>
                <div class="inputShort">
                    <span>性别：</span>
                    <i>{{taskDetail.sex}}</i>
                </div>
                <div class="inputShort">
                    <span>角色：</span>
                    <i>{{taskDetail.competence}}</i>
                </div>
            </div>
            <div class="textInfo">
                <div class="inputShort">
                    <span>用户名：</span>
                    <i>{{taskDetail.username}}</i>
                </div>
                <div class="inputShort">
                    <span>密码：</span>
                    <i>*******</i>
                    <div class="normalBtn" style="position:absolute;right:20px;" @click="changeState==0?changeState=1:changeState=0" v-show="changeState==0">修改</div>
                </div>
                <div class="inputShort" v-if="changeState==1">
                    <span>新密码：</span>
                    <input type="password" placeholder="请输入新密码" v-model="password">
                </div>
                <div class="inputShort" v-if="changeState==1">
                    <span>确认密码：</span>
                    <input type="password" placeholder="请再次输入密码" v-model="check">
                </div>
            </div>
            <div style="text-align: center;margin-top: 100px;margin-bottom: 20px;">
                <div class="allSelectBtn normalBtn" style="margin-top:15px" @click="updateCode">确定</div>
                <!-- <div class="urgeBtn normalBtn" style="margin-top:15px">删除</div> -->
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $(".settingBtn").on('click', function(event) {
        event.preventDefault();
        $(".digitMap input").removeAttr('disabled');
        $(this).hide();
        $(".confirmBtn").show();
    });
    $(".confirmBtn").on('click', function(event) {
        event.preventDefault();
        $(".digitMap input").attr('disabled', "disabled");
        $(this).hide();
        $(".settingBtn").show();
    });
    $("#processingBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").show();
        $(".finishedTable").hide();
        $(this).addClass('chosen');
        $("#finishedBtn").removeClass('chosen');
    });
    $("#finishedBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").hide();
        $(".finishedTable").show();
        $(this).addClass('chosen');
        $("#processingBtn").removeClass('chosen');
    });
    var vm = new Vue({
        el: "#accountBody",
        data: {
            taskDetail: JSON.parse(localStorage.getItem("accountDetail")),
            changeState: 0,
            password: "",
            check: "",
            competence: localStorage.getItem("competence")
        },
        computed: {},
        methods: {
            stamp2time: function(stamp) {
                var time = new Date(stamp);
                var year = time.getFullYear();
                var month = time.getMonth() - 0 + 1;
                var hours = time.getHours();
                var minutes = time.getMinutes();
                month = month < 10 ? "0" + month : month;
                var day = time.getDate();
                day = day < 10 ? "0" + day : day;
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                var timeString = '';
                return year + "-" + month + "-" + day;
            },
            unique: function(arr) {
                var result = [],
                    hash = {};
                for (var i = 0, elem;
                    (elem = arr[i]) != null; i++) {
                    if (!hash[elem]) {
                        result.push(elem);
                        hash[elem] = true;
                    }
                }
                return result.reverse();
            },
            updateCode: function() {
                var self = this;
                if (vm.changeState == 1) {
                    if (vm.password == vm.check) {
                        $.post('/resetPassword', {
                            id: vm.taskDetail.id,
                            password: vm.password
                        }, function(data, textStatus, xhr) {
                            console.log(data);
                            if (data.state == 0) {
                                alert("修改成功");
                                if (self.competence == "企业负责人") {
                                    window.location.href = "Index_c.html#/staffManagement_c.html";
                                } else {
                                    window.location.href = "index.html#/staffManagement.html";
                                }

                            }
                        });
                    } else {
                        alert("两次密码输入不相同");
                    }
                } else {
                    if (self.competence == "企业负责人") {
                        window.location.href = "Index_c.html#/staffManagement_c.html";
                    } else {
                        window.location.href = "index.html#/staffManagement.html";
                    }
                }
            }
        },
        created: function() {

        },
        ready: function() {}
    })
});
</script>
