<div class="assessmentCheck staffManagement" id="staffBody">
    <div class="minibar"><i class="flaticon-arrows-4"></i><span>当前位置：信息管理> <span class="nowPlace">账号管理</span></span>
    </div>
    <div class="contentBody">
        <div class="contenBox">
            <div class="checkBody" style="border-top:0">
                <div class="inputShort"><span>注册时间：</span>
                    <input type="text" class="createTime"><i class="flaticon-small-calendar"></i></div>
                <div class="inputShort"><span>审核单位：</span>
                    <div class="admin_ui_select" style="width:200px">
                        <select class="auditGroup">
                        <option value="">全部</option>
                            <option v-for="place in region" value="place.id">{{place.name}}</option>
                            </select>
                    </div>
                </div>
                <div class="inputShort"><span>账号名称：</span>
                    <input type="text" placeholder="输入账号名称" class="playerName">
                </div>
                <div class="inputShort"><span>审核时间：</span>
                    <input type="text" class="auditTime"><i class="flaticon-small-calendar"></i>
                </div>
                <div class="searchBody">
                    <span class="searchButtom normalBtn">搜索</span>
                </div>
                <div class="btnBox" style="border-top:1px solid #Ccc">
                    <a href="#/addAssessment.html" class="addBtn normalBtn greyBtn" style="margin-top:10px">添加账号</a>
                    <p>企业账号管理</p>
                </div>
                <div class="tableBox">
                    <table class="display">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkBox" id="person1" class="checkBox">
                                </th>
                                <th>用户名</th>
                                <th>角色</th>
                                <th>注册时间</th>
                                <th>当前状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="player in showTasks">
                                <td>
                                    <input v-if="player.name" type="checkBox" id="person1" class="checkBox">
                                </td>
                                <td>{{player.name}}</td>
                                <td>{{player.competence}}</td>
                                <td>{{player.time}}</td>
                                <td><span v-if="player.name">{{player.no_lock?"启用":"禁用"}}</span></td>
                                <td><a v-if="player.name" href="#/staffAccountManagementDetail.html" @click="saveDetail(player)">查看</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="bottom-search">
                        <div class="allSelectBtn normalBtn">全选</div>
                        <div class="urgeBtn normalBtn greyBtn">删除</div>
                    </div>
                </div>
            </div>
            <div class="practiceBody"></div>
            <div class="historyBody"></div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $.datetimepicker.setLocale('zh');
    $(".createTime,.auditTime").datetimepicker({
        timepicker: false,
        format: "Y-m-d",
    });
    $(".tag").on('click', function(event) {
        $(this).addClass('chosenBtn');
        $(this).siblings('.tag').removeClass('chosenBtn');
        $(".checkBtn").css('z-index', '3');
    });
    $("th .checkBox").on('click', function(event) {
        if ($(this).prop('checked')) {
            $("td .checkBox").prop("checked", true);
        } else {
            $("td .checkBox").prop("checked", false);
        }
    });
    $(".admin_content_table").on('click', ".allSelectBtn", function(event) {
        $("td .checkBox").prop("checked", true);
    });
    $(".searchButtom").on('click', function(event) {
        event.preventDefault();
        console.log('test');
        $("#checkTable").DataTable().columns(4).search($(".createTime").val(), false, true).draw();
        // $("#checkTable").DataTable().columns(4).search($(".auditGroup").val(), false, true).draw();
        $("#checkTable").DataTable().columns(2).search($(".playerName").val(), false, true).draw();
    });
    $(".checkBtn").on('click', function(event) {
        $(".checkBody").show();
        $(".checkBody").siblings().hide();
    });
    $(".praticeBtn").on('click', function(event) {
        $(".practiceBody").show();
        $(".practiceBody").siblings().hide();
    });
    $(".historyBtn").on('click', function(event) {
        $(".historyBody").show();
        $(".historyBody").siblings().hide();
        $(".checkBtn").css('z-index', '1');
    });
    $(".mask,.cancel,.confirm").on('click', function(event) {
        event.preventDefault();
        $(".mask,.addAccount").hide();
    });
    $(".checkBody .addBtn").on('click', function(event) {
        event.preventDefault();
        // $(".mask,.addAccount").show();
        alert("此功能尚未开放")
    });
    var vm = new Vue({
        el: "#staffBody",
        data: {
            tagState: 1,
            tasks: [],
            companyList: [],
            companyName: "",
            createTimeList: [],
            createTime: "",
            region: "",
            risks: {},
            taskNum: "",
            showTasks: [],
            showState: false,
            region:[]
        },
        computed: {},
        methods: {
            userDetail: function(data) {
                for (var i = 0; i < data.length; i++) {
                    data[i].time = vm.stamp2time(data[i].in_time);
                }
                vm.tasks = data;
                vm.showTasks = data;
                var len = this.showTasks.length;
                if (len < 5) {
                    for (var i = 0; i < 5 - len; i++) {
                        this.showTasks.push({
                            company: {
                                region: []
                            },
                            leader: [],
                            safeRule: [],
                        });
                    }
                }
            },
            stamp2time: function(stamp) {
                var time = new Date(stamp);
                var year = time.getFullYear();
                var month = time.getMonth() - 0 + 1;
                var hours = time.getHours();
                var minutes = time.getMinutes();
                month = month < 10 ? "0" + month : month;
                var day = time.getDate();
                day = day < 10 ? "0" + day : day;
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                var timeString = '';
                return year + "-" + month + "-" + day;
            },
            unique: function(arr) {
                var result = [],
                    hash = {};
                for (var i = 0, elem;
                    (elem = arr[i]) != null; i++) {
                    if (!hash[elem]) {
                        result.push(elem);
                        hash[elem] = true;
                    }
                }
                return result.reverse();
            },
            saveDetail: function(data) {
                data = JSON.stringify(data);
                localStorage.setItem("accountDetail", data);
            },
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            $.post('/model', {
                name: "Region",
                "row": 0
            }, function(data, textStatus, xhr) {
                if (data.state == 0) {
                    vm.region = data.data;
                }
            });
            $.post(baseUrl + '/model', {
                name: "User",
                rows: 0
            }, function(data, textStatus, xhr) {
                console.log(data);
                if (data.state == 0) {
                    vm.userDetail(data.data);
                    vm.$nextTick(function() {
                        vm.showState = true;
                        $('table.display').DataTable({
                            "order": [
                                [3, "desc"]
                            ],
                            "pageLength": 5,
                            "dom": 'rtp',
                            "columnDefs": [{
                                "orderable": false,
                                "targets": [0, 5]
                            }],
                            language: {
                                processing: "处理中...",
                                search: "查找中...",
                                lengthMenu: "显示 _MENU_ 项结果",
                                info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                                infoFiltered: "(由 _MAX_ 项结果过滤)",
                                infoPostFix: "",
                                loadingRecords: "载入中...",
                                zeroRecords: "没有匹配结果",
                                emptyTable: "表中数据为空",
                                paginate: {
                                    first: "首页",
                                    previous: "上页",
                                    next: "下页",
                                    last: "末页"
                                },
                                aria: {
                                    sortAscending: ": 以升序排列此列",
                                    sortDescending: ":  以降序排列此列"
                                }
                            }
                        });
                    })
                }
            });
        },
        ready: function() {

        }
    })
});
</script>
