<style>
#urgeSetTable tr td:nth-child(2) {
    text-align: left;
}
</style>
<div class="addAssessment admin_content_innerBox dataManagement" id="urgeBody">
    <div class="minibar"><i class="flaticon-arrows-4"></i><span>当前位置：> 评估标准管理 > <span class="nowPlace">应急演练预设</span></span>
    </div>
    <div class="admin_scrollBox">
        <div class="contentBody">
            <div class="dataPage">
                <div class="inputShort assessType"><span style="width:80px">选择版本:</span>
                    <div class="admin_ui_select" style="width: 140px;">
                        <select>
                            <option value="">版本1</option>
                        </select>
                    </div>
                    <!--                     <input type="checkBox" id="canUse" v-model="showUsed">
                    <label for="canUse">只看有效</label> -->
                </div>
                <div class="dataOutBtn normalBtn" style="float:right;" @click="export">导出数据</div>
                <div class="assess2Body">
                    <div class="ztrbox">
                        <div class="ztreeBox ztree">
                            <a class="category1"><i class="flaticon-add-1" v-if="!state[0]==1"></i><i class="flaticon-square" v-if="state[0]==1"></i>应急演练模板
                            <ul class="line" v-if="state[0]==1"><li class="category2" v-for="item2 in tree2"  @click.stop="showData(item2,$event)"><i class="flaticon-interface"></i>{{item2}}</li></ul>
                            </a>
                        </div>
                        <i class="treeAdd" @click="addTreeNode">+</i>
                        <i class="treeRemove" @click="removeTreeNode">-</i></div>
                    <div class="tableBox">
                        <table id="urgeSetTable">
                            <tr>
                                <th style="width: 40px;">
                                    <input type="checkBox" id="person1" class="checkBox">
                                </th>
                                <th style="width: 65%;">评估内容</th>
                                <th style="40px;">总分</th>
                                <th style="80px;">当前状态</th>
                                <th style="80px;">操作</th>
                            </tr>
                            <tr v-for="rule in rules |filterBy usedFilter rule |limitBy recordLimit startPoint">
                                <td>
                                    <input type="checkBox" id="person1" class="checkBox" data-id={{rule.id}}>
                                </td>
                                <td>{{rule.text}}</td>
                                <td>{{rule.score}}</td>
                                <td>{{rule._delete?"禁用":"启用"}}</td>
                                <td><a href="#/addEmergenctyRules.html?edit" @click="saveDetail(rule)">查看</a> </td>
                            </tr>
                        </table>
                        <div class="bottom-search" style="width:100%">
                            <div class="allSelectBtn normalBtn" style="margin-top:15px">全选</div>
                            <div class="addBtn normalBtn" style="margin-top:15px" @click="addOne">新增</div>
                            <div class="urgeBtn normalBtn" style="margin-top:15px" @click="updateState(false)">启用</div>
                            <div class="urgeBtn normalBtn" style="margin-top:15px" @click="updateState(true)">禁用</div>
                            <div class="page"><a href="javascript:void(0)" @click="prevPage"><span id="Prev">« 上一页</span></a>
                                <a href="javascript:void(0)" v-for="n in pageNum" v-show="showPageTag(n)">
                                    <span @click="turnPage(n)" class="{{(n+1==pageIndex?'click_page':'normalPage')}}"> {{n+1}} </span>
                                </a>
                                <a href="javascript:void(0)" @click="nextPage">
                                    <span id="Next">下一页 »</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    // TablePage("table", 10);
    $("th .checkBox").on('click', function(event) {
        if ($(this).prop('checked')) {
            $("td .checkBox").prop("checked", true);
        } else {
            $("td .checkBox").prop("checked", false);
        }
    });
    $(".admin_content_table").on('click', ".allSelectBtn", function(event) {
        $("td .checkBox").prop("checked", true);
    });
    $("#processingBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").show();
        $(".finishedTable").hide();
        $(this).addClass('chosen');
        $("#finishedBtn").removeClass('chosen');
    });
    $("#finishedBtn").on('click', function(event) {
        event.preventDefault();
        $(".processingTable").hide();
        $(".finishedTable").show();
        $(this).addClass('chosen');
        $("#processingBtn").removeClass('chosen');
    });
    $(".rightBox").on('click', "p", function(event) {
        $(".leftBox").append($(this));
    });
    $(".leftBox").on('click', "p", function(event) {
        $(".rightBox").append($(this));
    });
    $(".ztrbox").on('click', 'input', function(event) {
        event.stopPropagation();
        console.log('test');
        $(this).removeClass('chosenCategory');
    });
    $(".ztrbox").on('click', '.removeConfirm', function(event) {
        event.stopPropagation();
        $(".ztrbox input,.addConfirm,.removeConfirm").remove();
    });
    $(".ztrbox").on('click', '.addConfirm ', function(event) {
        event.stopPropagation();
        $(this).removeClass('chosenCategory');
        var value = $(".ztrbox input").val();
        console.log(value);
        if (!value) {
            alert("请输入类名")
        } else if (confirm("是否增加该类别")) {
            var tree2 = (vm.tree2);
            tree2.splice($(".ztrbox input").index(), 0, value);
            vm.$set("tree2", tree2);
            console.log($(".ztrbox input").parents('a').index());
            $(".ztrbox input,.addConfirm,.removeConfirm").remove();
            vm.category[value] = []
        }

    });
    var vm = new Vue({
        el: "#urgeBody",
        data: {
            state: [1],
            rules: [],
            companyList: [],
            companyName: "",
            createTimeList: [],
            createTime: "",
            risks: {},
            category: {},
            recordLimit: 7,
            pageIndex: 1,
            startAttr: "",
            startAttr2: "",
            rawData: [],
            tree2: [],
            showUsed: false,
            chosenList: [],
            item1: "",
            item2: ''
        },
        computed: {
            startPoint: function() {
                return (this.pageIndex - 1) * 5
            },
            pageNum: function() {
                return Math.ceil(this.rules.length / this.recordLimit)
            },
        },
        methods: {
            rulesDetail: function(data) {
                var category = {};
                var category2 = [];
                var tree2 = [];
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        vm.startAttr = data[i].category1;
                        vm.startAttr2 = data[i].category2;
                    }
                    if (!category[data[i].category2]) {
                        tree2.push(data[i].category2)
                        category[data[i].category2] = [];
                        category[data[i].category2].push(data[i]);
                    } else {
                        category[data[i].category2].push(data[i]);
                    }
                }
                for (var i = 0; i < vm.category.length; i++) {
                    vm.state[i] = 1;
                    vm.state.$set(i, 1);
                }
                console.log(category);
                this.rules = this.rawData;
                this.tree2 = tree2;
                this.category = category;
            },
            export: function() {
                $.get('/region/exportEmergency', function(data) {
                    if (data.state == 0) {
                        window.open("/" + data.data)
                    } else {
                        alert(data.state)
                    }
                });
            },
            usedFilter: function(data) {
                console.log((this.showUsed && !data.used));
                if (this.showUsed && !data.used) {
                    return false
                } else {
                    return true;
                }
            },
            updateState: function(state) {
                var self = this;
                self.getChosenList();
                if (self.chosenList.length > 0) {
                    $.ajax({
                            url: '/region/disableEmergencyRule',
                            type: 'POST',
                            data: {
                                emergencyRule: self.chosenList,
                                delete: state
                            },
                            traditional: true
                        })
                        .done(function(data) {
                            if (data.state == 0) {
                                if (state) {
                                    alert("禁用成功")
                                } else {
                                    alert("启用成功")
                                }
                                self.updateData();
                            }

                        })
                } else {
                    if (self.state) {
                        alert("请选择启用项")
                    } else {
                        alert("请选择禁用项")
                    }
                }
            },
            getChosenList: function() {
                var self = this;
                self.chosenList = [];
                $("td>.checkBox:checked").each(function(index, el) {
                    console.log($(el).attr('data-id'));
                    self.chosenList.push($(el).attr('data-id'));
                });
            },
            showData: function(data, event) {
                console.log(data);
                this.rules = this.category[data];
                this.pageIndex = 1;
                $(".category2").removeClass('chosenCategory');
                $(event.target).addClass('chosenCategory');
                this.startAttr2 = data;
                $(".ztrbox input,.addConfirm,.removeConfirm").remove();
            },
            stateChange: function(index) {},
            stamp2time: function(stamp) {
                var time = new Date(stamp);
                var year = time.getFullYear();
                var month = time.getMonth() - 0 + 1;
                var hours = time.getHours();
                var minutes = time.getMinutes();
                month = month < 10 ? "0" + month : month;
                var day = time.getDate();
                day = day < 10 ? "0" + day : day;
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                var timeString = '';
                return month + "/" + day + " " + hours + ":" + minutes;
            },
            dayPeriodCompute: function(startTime, endTime) {
                var nowTime = new Date(startTime);
                var theTime = new Date(endTime);
                return theTime.getDate() - nowTime.getDate();
            },
            unique: function(arr) {
                var result = [],
                    hash = {};
                for (var i = 0, elem;
                    (elem = arr[i]) != null; i++) {
                    if (!hash[elem]) {
                        result.push(elem);
                        hash[elem] = true;
                    }
                }
                return result.reverse();
            },
            prevPage: function() {
                if (this.pageIndex - 1 > 0) {
                    this.pageIndex = this.pageIndex - 1;
                }
            },
            nextPage: function() {
                if (this.pageIndex + 1 <= this.pageNum) {
                    this.pageIndex = this.pageIndex + 1;
                }
            },
            turnPage: function(data) {
                vm.pageIndex = data + 1;
            },
            clickPageFilter: function(data) {
                console.log(data);
                if (data + 1 == vm.pageIndex) {
                    return true;
                } else {
                    return false;
                }
            },
            showPageTag: function(data) {
                console.log(data - this.pageIndex);
                if (data == this.pageNum - 1 || data == 0 || ((data - this.pageIndex) < 1) && (data - this.pageIndex) >= -2) {
                    return true
                } else {
                    return false
                }
            },
            saveDetail: function(data) {
                localStorage.setItem("ruleDetail", JSON.stringify(data));
                localStorage.setItem("dataParams", JSON.stringify(this.$data));
            },
            addTreeNode: function() {
                $(".ztrbox input,.addConfirm,.removeConfirm").remove();
                console.log($(".chosenCategory span").text());
                $(".chosenCategory").after('<input type="text"><i class="addConfirm flaticon-checked"></i><i class="removeConfirm flaticon-cancel"></i>');

            },
            removeTreeNode: function() {
                if (($(".chosenCategory").hasClass('category1') && this.tree2[$(".chosenCategory span").text()].length == 0) || (this.rules.length == 0 && $(".chosenCategory").hasClass('category2'))) {
                    $(".chosenCategory").remove();
                } else {
                    alert("无法删除有数据的目录")
                }
            },
            addOne: function() {
                localStorage.setItem("dataParams", JSON.stringify(this.$data));
                window.location.href = "#/addEmergenctyRules.html"
            },
            updateData: function() {
                var self = this;
                $.post('/model', {
                    name: "EmergencyRule",
                    rows: 0
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        self.rawData = data.data;
                        vm.rulesDetail(data.data)
                    }
                });
            }
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            self.updateData();
        },
        ready: function() {

        }
    })
});
</script>
