<div class="welcome admin_content_innerBox" id="welcomeBody">
    <div class="admin_scrollBox">
        <div class="infoHeader">
            <div class="leftInfo"><span class="title">通知公告</span>
                <div class="scrollBox">
                    <div class="list1"></div>
                    <p><i class="flaticon-music"></i><a href="">这里可以插入下载超链接，不够显示，可以上下滚动播放。</a></p>
                    <p><i class="flaticon-music"></i><a href="">这里可以插入下载超链接，不够显示，可以上下滚动播放。</a></p>
                    <p><i class="flaticon-music"></i><a href="">这里可以插入下载超链接，不够显示，可以上下滚动播放。</a></p>
                </div>
            </div>
            <a href="#/safeDataMap.html" class="normalBtn"><i class="flaticon-location"></i><span>安全信息地图</span></a>
        </div>
        <div class="businessTip">
            <h3>业务提示</h3>
            <div class="tableBox">
                <p class="tableHeader">
                    <i class="flaticon-pc-computer-with-monitor"></i><span>评估任务监控</span>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <select name="" id="" v-model="companyName">
                                    <option value="">企业名称</option>
                                    <option v-for="company in companyList" value="{{company}}">{{company}}</option>
                                </select>
                            </th>
                            <th>评估类</th>
                            <th>
                                <select name="" id="" v-model="createTime">
                                    <option value="">创建时间</option>
                                    <option v-for="time in createTimeList" value="{{time}}">{{time}}</option>
                                </select>
                            </th>
                            <th>负责人</th>
                            <th>当前状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="task in tasks | filterBy companyNameFilter task | filterBy createTimeFilter task|limitBy 5">
                            <td>{{task.company.name}}</td>
                            <td>{{task.mode}}</td>
                            <td>{{task.time}}</td>
                            <td>{{task.leader.name}}</td>
                            <td>{{task.state}}</td>
                        </tr>
                        <!--                         <tr>
                            <td>宁波港航港口服务类测试公司</td>
                            <td>综合评估</td>
                            <td>6/1 20:00</td>
                            <td>竹林风</td>
                            <td>已同步</td>
                        </tr>
                        <tr>
                            <td>宁波港航集装箱类测试公司</td>
                            <td>防火专项</td>
                            <td>6/1 20:00</td>
                            <td>竹林风</td>
                            <td>正在执行</td>
                        </tr>
                        <tr>
                            <td>宁波港航普通运输类测试公司</td>
                            <td>防爆专项</td>
                            <td>6/1 20:00</td>
                            <td>竹林风</td>
                            <td>新增任务</td>
                        </tr>
                        <tr>
                            <td>宁波港航客运类测试公司</td>
                            <td>日常评估</td>
                            <td>6/1 20:00</td>
                            <td>竹林风</td>
                            <td>新增任务</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="tableBox">
                <p class="tableHeader">
                    <i class="flaticon-computer-service"></i><span>隐患问题监控</span>
                </p>
                <table>
                    <tr>
                        <th>
                            <select name="" id="">
                                <option value="">企业名称</option>
                                <option v-for="company in companyList" value="{{company}}">{{company}}</option>
                            </select>
                        </th>
                        <th>整改期限</th>
                        <th>隐患等级</th>
                        <th>登记时间</th>
                    </tr>
                    <tr v-for="risk in risks">
                        <td>{{risk.taskDetail.company.name}}</td>
                        <td>{{risk.restDay}}天</td>
                        <td>{{risk.safeRule.safetyLevel}}</td>
                        <td>{{risk.time}}</td>
                    </tr>
<!--                     <tr>
                        <td>宁波港航港口服务类测试公司</td>
                        <td>4天</td>
                        <td>2级</td>
                        <td>6/1 20:00</td>
                    </tr>
                    <tr>
                        <td>宁波港航集装箱类测试公司</td>
                        <td>4天</td>
                        <td>2级</td>
                        <td>6/1 20:00</td>
                    </tr>
                    <tr>
                        <td>宁波港航普通运输类测试公司</td>
                        <td>4天</td>
                        <td>2级</td>
                        <td>6/1 20:00</td>
                    </tr>
                    <tr>
                        <td>宁波港航客运类测试公司</td>
                        <td>4天</td>
                        <td>2级</td>
                        <td>6/1 20:00</td>
                    </tr> -->
                </table>
            </div>
            <div class="reportBox"><span class="reportIcon"><i class="flaticon-warning"></i></span><span class="reportText">当前辖区内重大威胁源备案登记数：<a href=""><span>145 </span>项</a>
                </span>
            </div>
            <div class="reportBox"><span class="reportIcon"><i class="flaticon-alarm"></i></span><span class="reportText">当前辖区内隐患整改到期预警：<a href=""><span>3 </span>项</a>
                </span>
            </div>
            <div class="reportBox"><span class="reportIcon"><i class="flaticon-newspaper"></i></span><span class="reportText">2016年07月月报已生成：<a href=""><span class="turnToReport">点击查看</span></a>
                </span>
            </div>
            <div class="reportBox"><span class="reportIcon"><i class="flaticon-apartment"></i></span><span class="reportText">当前辖区内注册企业数:<a href=""><span>123 </span>家</a>
                </span>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    var area = $(".scrollBox")[0];
    var con1 = $(".list1")[0];

    function scrollUp() {
        if (area.scrollTop >= con1.offsetHeight) {
            // area.scrollTop = 0;
        } else {
            area.scrollTop++;
        }
        // console.log(area.scrollTop);
        // console.log(con1.offsetHeight);
    }
    var time = 50;
    var myScroll = setInterval(scrollUp, 50);
    area.onmouseover = function() {
        clearInterval(myScroll);
    };
    area.onmouseout = function() {
        myScroll = setInterval(scrollUp, 50);
    };
    $(document).ready(function() {
        var vm = new Vue({
            el: "#welcomeBody",
            data: {
                tasks: [],
                companyList: [],
                companyName: "",
                createTimeList: [],
                createTime: "",
                risks: {},
            },
            methods: {
                taskGetDetail: function(data) {
                    var companyList = [];
                    var timeList = [];
                    for (var i = 0; i < data.length; i++) {
                        data[i].time = vm.stamp2time(data[i].in_time);
                        data[i].createTime = data[i].time.split(" ")[0];
                        companyList.push(data[i].company.name)
                        timeList.push(data[i].createTime)
                    }
                    vm.tasks = data.reverse();
                    vm.companyList = vm.unique(companyList);
                    vm.createTimeList = vm.unique(timeList);
                },
                riskGetDetail: function(data) {
                    var companyList = [];
                    var timeList = [];
                    for (var i = 0; i < data.length; i++) {
                        data[i].time = vm.stamp2time(data[i].in_time);
                        data[i].createTime = data[i].time.split(" ")[0];
                        var restDay=vm.dayPeriodCompute(data[i].in_time,data[i].deadline);
                        data[i].restDay=restDay;
                        // companyList.push(data[i].company.name)
                        // timeList.push(data[i].createTime)
                    }
                    vm.risks = data;
                    // vm.companyList = vm.unique(companyList);
                    // vm.createTimeList = vm.unique(timeList);
                },
                stamp2time: function(stamp) {
                    var time = new Date(stamp);
                    var year = time.getFullYear();
                    var month = time.getMonth() - 0 + 1;
                    var hours = time.getHours();
                    var minutes = time.getMinutes();
                    month = month < 10 ? "0" + month : month;
                    var day = time.getDate();
                    day = day < 10 ? "0" + day : day;
                    hours=hours<10?"0"+hours:hours;
                    minutes=minutes<10?"0"+minutes:minutes;
                    var timeString = '';
                    return month + "/" + day + " " + hours + ":" + minutes;
                },
                dayPeriodCompute:function(startTime,endTime){
                    var nowTime=new Date(startTime);
                    var theTime=new Date(endTime);
                    return theTime.getDate()-nowTime.getDate();
                },
                unique: function(arr) {
                    var result = [],
                        hash = {};
                    for (var i = 0, elem;
                        (elem = arr[i]) != null; i++) {
                        if (!hash[elem]) {
                            result.push(elem);
                            hash[elem] = true;
                        }
                    }
                    return result.reverse();
                },
                companyNameFilter: function(data) {
                    if (vm.companyName !== "" && vm.companyName !== data.company.name) {
                        return false;
                    } else {
                        return true;
                    }
                },
                createTimeFilter: function(data) {
                    if (vm.createTime !== "" && vm.createTime !== data.createTime) {
                        return false;
                    } else {
                        return true;
                    }
                }
            },
            created: function() {
                var self = this;
                var id = localStorage.getItem("id");
                $.post('/model', {
                    name: "Task",
                    rows: 0
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.taskGetDetail(data.data)
                    }
                });
                $.post('/model', {
                    name: "Censor",
                    rows: 0,
                    "params['taday']": '1'
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.riskGetDetail(data.data);
                    }
                });
            },
            ready: function() {

            }
        })
    });
});
</script>
