<div class="welcome admin_content_innerBox" id="welcomeBody">
    <div class="admin_scrollBox">
        <div class="infoHeader">
            <div class="leftInfo"><span class="title">通知公告</span>
                <div class="scrollBox">
                    <div class="list1"></div>
                    <p><i class="flaticon-music"></i><a href="">这里可以插入下载超链接，不够显示，可以上下滚动播放。</a></p>
                    <p><i class="flaticon-music"></i><a href="">这里可以插入下载超链接，不够显示，可以上下滚动播放。</a></p>
                    <p><i class="flaticon-music"></i><a href="">这里可以插入下载超链接，不够显示，可以上下滚动播放。</a></p>
                </div>
            </div>
            <a href="#/safeDataMap.html" class="normalBtn"><i class="flaticon-location"></i><span>安全信息地图</span></a>
        </div>
        <div class="businessTip">
            <h3>业务提示</h3>
            <div class="tableBox">
                <p class="tableHeader">
                    <i class="flaticon-pc-computer-with-monitor"></i><span>评估任务监控</span>
                </p>
                <table id="taskTable" class="compact display">
                    <thead>
                        <tr>
                            <th @click=" nameOrder1 = nameOrder1 * -1 ">
                                企业名称
                            </th>
                            <th>评估类</th>
                            <th @click=" timeOrder1 = timeOrder1 * -1 ">
                                创建时间
                            </th>
                            <th>负责人</th>
                            <th>当前状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="task in tasks | filterBy companyNameFilter task | filterBy createTimeFilter task">
                            <td>{{task.company.name}}</td>
                            <td>{{task.mode}}</td>
                            <td>{{task.time}}</td>
                            <td>{{task.leader.name}}</td>
                            <td>{{task.state}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tableBox">
                <p class="tableHeader">
                    <i class="flaticon-computer-service"></i><span>隐患问题监控</span>
                </p>
                <table id="riskTable" class="compact display">
                    <thead>
                        <tr>
                            <th>
                                企业名称
                            </th>
                            <th>整改期限</th>
                            <th>
                                登记时间
                            </th>
                            <th>隐患等级</th>
                        </tr>
                    </thead>
                    <tr v-for="risk in risks|filterBy companyName2Filter risk |filterBy setTimeFilter risk">
                        <td>{{risk.censor.task.company.name}}</td>
                        <td>{{risk.restDay}}</td>
                        <td>{{risk.time}}</td>
                        <td>{{risk.censor.safeRule.safetyLevel}}</td>
                    </tr>
                </table>
            </div>
            <div class="reportBox"><span class="reportIcon"><i class="flaticon-warning"></i></span><span class="reportText">当前辖区内重大危险源备案登记数：<a href=""><span>{{statistics.Dangerous}} </span>项</a>
                </span>
            </div>
            <div class="reportBox"><span class="reportIcon"><i class="flaticon-alarm"></i></span><span class="reportText">当前辖区内隐患整改到期预警：<a href=""><span>{{statistics.recheckDeadline}} </span>项</a>
                </span>
            </div>
            <div class="reportBox"><span class="reportIcon"><i class="flaticon-newspaper"></i></span><span class="reportText">2016年07月月报已生成：<a href=""><span class="turnToReport">点击查看</span></a>
                </span>
            </div>
            <div class="reportBox"><span class="reportIcon"><i class="flaticon-apartment"></i></span><span class="reportText">当前辖区内注册企业数:<a href=""><span>{{statistics.company}} </span>家</a>
                </span>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    var area = $(".scrollBox")[0];
    var con1 = $(".list1")[0];

    function scrollUp() {
        if (area.scrollTop >= con1.offsetHeight) {
            // area.scrollTop = 0;
        } else {
            area.scrollTop++;
        }
        // console.log(area.scrollTop);
        // console.log(con1.offsetHeight);
    }
    var time = 50;
    var myScroll = setInterval(scrollUp, 50);
    area.onmouseover = function() {
        clearInterval(myScroll);
    };
    area.onmouseout = function() {
        myScroll = setInterval(scrollUp, 50);
    };
    $(document).ready(function() {

        var vm = new Vue({
            el: "#welcomeBody",
            data: {
                tasks: [],
                companyList: [],
                companyName: "",
                createTimeList: [],
                createTime: "",
                risks: {},
                statistics: {},
                companyName2: "",
                companyList2: [],
                setTimeList: [],
                setTime: "",
                ajaxState: 0
            },
            methods: {
                taskGetDetail: function(data) {
                    var companyList = [];
                    var timeList = [];
                    for (var i = 0; i < data.length; i++) {
                        data[i].time = vm.stamp2time(data[i].in_time);
                        data[i].createTime = data[i].time.split(" ")[0];
                        companyList.push(data[i].company.name)
                        timeList.push(data[i].createTime)
                    }
                    vm.tasks = data;
                    vm.companyList = vm.unique(companyList);
                    vm.createTimeList = vm.unique(timeList);
                },
                riskGetDetail: function(data) {
                    var companyList2 = [];
                    var timeList = [];
                    for (var i = 0; i < data.length; i++) {
                        data[i].time = this.stamp2time(data[i].censor.in_time);
                        data[i].createTime = data[i].time.split(" ")[0];
                        var restDay = this.dayPeriodCompute(data[i].censor.in_time, data[i].dead_line);
                        data[i].restDay = restDay+"天";
                        companyList2.push(data[i].censor.task.company.name)
                        timeList.push(data[i].createTime)
                    }
                    this.risks = data;
                    var len = this.risks.length;
                    if (len < 5) {
                        for (var i = 0; i < 5 - len; i++) {
                            this.risks.push({
                                censor: {
                                    task:{
                                        company:""
                                    },
                                    safeRule:[],
                                }
                            });
                        }
                    }
                    vm.companyList2 = vm.unique(companyList2);
                    vm.setTimeList = vm.unique(timeList);
                },
                stamp2time: function(stamp) {
                    var time = new Date(stamp);
                    var year = time.getFullYear();
                    var month = time.getMonth() - 0 + 1;
                    var hours = time.getHours();
                    var minutes = time.getMinutes();
                    month = month < 10 ? "0" + month : month;
                    var day = time.getDate();
                    day = day < 10 ? "0" + day : day;
                    hours = hours < 10 ? "0" + hours : hours;
                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    var timeString = '';
                    return month + "/" + day + " " + hours + ":" + minutes;
                },
                dayPeriodCompute: function(startTime, endTime) {
                    var day = endTime - startTime;
                    return parseInt(day / (1000 * 60 * 60 * 24));
                },
                unique: function(arr) {
                    var result = [],
                        hash = {};
                    for (var i = 0, elem;
                        (elem = arr[i]) != null; i++) {
                        if (!hash[elem]) {
                            result.push(elem);
                            hash[elem] = true;
                        }
                    }
                    return result.reverse();
                },
            },
            created: function() {
                var self = this;
                var id = localStorage.getItem("id");
                $.post(baseUrl + '/model', {
                    name: "Task",
                    rows: 0,
                    remove: "safeRules"
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.taskGetDetail(data.data);
                        self.ajaxState++;
                        if (self.ajaxState == 2) {
                            vm.$nextTick(function() {
                                $('table.display').DataTable({
                                    // paging: false,
                                    "order": [
                                        [2, "desc"]
                                    ],
                                    "searching": false,
                                    "pageLength": 5,
                                    "dom": 'rt',
                                    "language": '//cdn.datatables.net/plug-ins/1.10.12/i18n/Chinese.json'
                                });
                            })
                        }
                    }
                });
                $.post(baseUrl + '/model', {
                    name: "Recheck",
                    rows: 0,
                }, function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.riskGetDetail(data.data);
                        self.ajaxState++;
                        if (self.ajaxState == 2) {
                            vm.$nextTick(function() {
                                $('table.display').DataTable({
                                    // paging: false,
                                    "order": [
                                        [3, "desc"]
                                    ],
                                    "searching": false,
                                    "pageLength": 5,
                                    "dom": 'rt',
                                    "language": '//cdn.datatables.net/plug-ins/1.10.12/i18n/Chinese.json'
                                });
                            })
                        }
                    }
                });
                $.get(baseUrl + '/region/getStatistics', function(data, textStatus, xhr) {
                    console.log(data);
                    if (data.state == 0) {
                        vm.statistics = data;
                    }
                });
            },
            ready: function() {

            }
        })
    });
});
</script>
