    /*
    Flaticon icon font: Flaticon
    Creation date: 09/08/2016 04:41
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add:before { content: "\f100"; }
.flaticon-alarm:before { content: "\f101"; }
.flaticon-apartment:before { content: "\f102"; }
.flaticon-arrows:before { content: "\f103"; }
.flaticon-arrows-1:before { content: "\f104"; }
.flaticon-arrows-2:before { content: "\f105"; }
.flaticon-arrows-3:before { content: "\f106"; }
.flaticon-arrows-4:before { content: "\f107"; }
.flaticon-book:before { content: "\f108"; }
.flaticon-business:before { content: "\f109"; }
.flaticon-cancel:before { content: "\f10a"; }
.flaticon-checked:before { content: "\f10b"; }
.flaticon-cloud-storage-download:before { content: "\f10c"; }
.flaticon-computer-service:before { content: "\f10d"; }
.flaticon-downloading-down-arrow:before { content: "\f10e"; }
.flaticon-home:before { content: "\f10f"; }
.flaticon-location:before { content: "\f110"; }
.flaticon-lock:before { content: "\f111"; }
.flaticon-logout:before { content: "\f112"; }
.flaticon-magnifying-glass:before { content: "\f113"; }
.flaticon-music:before { content: "\f114"; }
.flaticon-newspaper:before { content: "\f115"; }
.flaticon-paper:before { content: "\f116"; }
.flaticon-pc-computer-with-monitor:before { content: "\f117"; }
.flaticon-pen:before { content: "\f118"; }
.flaticon-people:before { content: "\f119"; }
.flaticon-people-1:before { content: "\f11a"; }
.flaticon-profile:before { content: "\f11b"; }
.flaticon-right-arrow:before { content: "\f11c"; }
.flaticon-rounded-delete-button-with-minus:before { content: "\f11d"; }
.flaticon-small-calendar:before { content: "\f11e"; }
.flaticon-tool:before { content: "\f11f"; }
.flaticon-up-arrow:before { content: "\f120"; }
.flaticon-warning:before { content: "\f121"; }
    
    $font-Flaticon-add: "\f100";
    $font-Flaticon-alarm: "\f101";
    $font-Flaticon-apartment: "\f102";
    $font-Flaticon-arrows: "\f103";
    $font-Flaticon-arrows-1: "\f104";
    $font-Flaticon-arrows-2: "\f105";
    $font-Flaticon-arrows-3: "\f106";
    $font-Flaticon-arrows-4: "\f107";
    $font-Flaticon-book: "\f108";
    $font-Flaticon-business: "\f109";
    $font-Flaticon-cancel: "\f10a";
    $font-Flaticon-checked: "\f10b";
    $font-Flaticon-cloud-storage-download: "\f10c";
    $font-Flaticon-computer-service: "\f10d";
    $font-Flaticon-downloading-down-arrow: "\f10e";
    $font-Flaticon-home: "\f10f";
    $font-Flaticon-location: "\f110";
    $font-Flaticon-lock: "\f111";
    $font-Flaticon-logout: "\f112";
    $font-Flaticon-magnifying-glass: "\f113";
    $font-Flaticon-music: "\f114";
    $font-Flaticon-newspaper: "\f115";
    $font-Flaticon-paper: "\f116";
    $font-Flaticon-pc-computer-with-monitor: "\f117";
    $font-Flaticon-pen: "\f118";
    $font-Flaticon-people: "\f119";
    $font-Flaticon-people-1: "\f11a";
    $font-Flaticon-profile: "\f11b";
    $font-Flaticon-right-arrow: "\f11c";
    $font-Flaticon-rounded-delete-button-with-minus: "\f11d";
    $font-Flaticon-small-calendar: "\f11e";
    $font-Flaticon-tool: "\f11f";
    $font-Flaticon-up-arrow: "\f120";
    $font-Flaticon-warning: "\f121";