	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/08/2016 05:30
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: inherit;
font-style: normal;
}

.flaticon-add:before { content: "\f100"; }
.flaticon-add-1:before { content: "\f101"; }
.flaticon-alarm:before { content: "\f102"; }
.flaticon-apartment:before { content: "\f103"; }
.flaticon-arrows:before { content: "\f104"; }
.flaticon-arrows-1:before { content: "\f105"; }
.flaticon-arrows-2:before { content: "\f106"; }
.flaticon-arrows-3:before { content: "\f107"; }
.flaticon-arrows-4:before { content: "\f108"; }
.flaticon-book:before { content: "\f109"; }
.flaticon-business:before { content: "\f10a"; }
.flaticon-cancel:before { content: "\f10b"; }
.flaticon-checked:before { content: "\f10c"; }
.flaticon-cloud-storage-download:before { content: "\f10d"; }
.flaticon-computer-service:before { content: "\f10e"; }
.flaticon-home:before { content: "\f10f"; }
.flaticon-interface:before { content: "\f110"; }
.flaticon-location:before { content: "\f111"; }
.flaticon-lock:before { content: "\f112"; }
.flaticon-logout:before { content: "\f113"; }
.flaticon-magnifying-glass:before { content: "\f114"; }
.flaticon-menu:before { content: "\f115"; }
.flaticon-music:before { content: "\f116"; }
.flaticon-newspaper:before { content: "\f117"; }
.flaticon-paper:before { content: "\f118"; }
.flaticon-pc-computer-with-monitor:before { content: "\f119"; }
.flaticon-pen:before { content: "\f11a"; }
.flaticon-people:before { content: "\f11b"; }
.flaticon-people-1:before { content: "\f11c"; }
.flaticon-profile:before { content: "\f11d"; }
.flaticon-right-arrow:before { content: "\f11e"; }
.flaticon-rounded-delete-button-with-minus:before { content: "\f11f"; }
.flaticon-small-calendar:before { content: "\f120"; }
.flaticon-sort:before { content: "\f121"; }
.flaticon-square:before { content: "\f122"; }
.flaticon-tool:before { content: "\f123"; }
.flaticon-up-arrow:before { content: "\f124"; }
.flaticon-warning:before { content: "\f125"; }